Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

move date format function to a ts module
  static/src/javascripts/bootstraps/enhanced/newsletters.js
  static/src/javascripts/projects/common/modules/tracking/utc-date-format.ts
Owners: @guardian/dotcom-platform

Rename TopMentionsResult to Topic
  article/app/controllers/LiveBlogController.scala
  article/app/model/LiveBlogHelpers.scala
  article/app/topmentions/TopicService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  article/test/topmentions/TopMentionsServiceTest.scala
  common/app/model/LiveBlogCurrentPage.scala
  common/app/model/TopMentionsModel.scala
Owners: @guardian/dotcom-platform

duplicate UTC timestamp behaviour in emailIframeTracking script
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
Owners: @guardian/dotcom-platform

Renaming
  article/app/controllers/LiveBlogController.scala
  article/app/topmentions/TopicService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

Rename all topMentions
  article/app/controllers/LiveBlogController.scala
  article/app/model/LiveBlogHelpers.scala
  article/app/topmentions/TopicService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  article/test/topmentions/TopMentionsServiceTest.scala
  common/app/model/LiveBlogCurrentPage.scala
  common/app/model/TopMentionsModel.scala
Owners: @guardian/dotcom-platform

Rename top mentions serices
  article/app/AppLoader.scala
  article/app/controllers/ArticleControllers.scala
  article/app/controllers/LiveBlogController.scala
  article/app/jobs/TopicLifecycle.scala
  article/app/topics/TopicS3Client.scala
  article/app/topics/TopicService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/topics/TopicServiceTest.scala
  common/app/model/LiveBlogCurrentPage.scala
  dev-build/app/AppLoader.scala
  preview/app/AppLoader.scala
Owners: @guardian/dotcom-platform

use viewport sizes from source
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

mock adSize in different test
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
Owners: @guardian/commercial-dev

improve desc of collectSizes
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.ts
Owners: @guardian/commercial-dev

Update naming
  article/app/topics/TopicS3Client.scala
  article/app/topics/TopicService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  article/test/topics/TopicServiceTest.scala
  common/app/model/TopMentionsModel.scala
  common/test/model/TopMentionsModelTest.scala
Owners: @guardian/dotcom-platform

Fix naming
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

pass topics param to dcr only if it's valid
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

More renaming
  article/app/topics/TopicS3Client.scala
  article/app/topics/TopicService.scala
  article/test/model/LiveBlogCurrentPageTest.scala
Owners: @guardian/dotcom-platform

More renaming
  article/app/topics/TopicS3Client.scala
Owners: @guardian/dotcom-platform

use json string for componentEvent.value
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  static/src/javascripts/bootstraps/enhanced/newsletters.js
Owners: @guardian/dotcom-platform

Convert define-slot to Typescript (#25149)
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.js
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
  static/src/javascripts/projects/common/modules/commercial/lib/googletag-ad-size.ts
  static/src/javascripts/types/global.d.ts
  static/src/javascripts/types/ias.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Remove idle-loading condition
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

remove console logging, move variable declarations
  static/src/javascripts/bootstraps/enhanced/newsletters.js
Owners: @guardian/dotcom-platform

Remove more auto rich links
  static/src/javascripts/bootstraps/enhanced/article.js
  static/src/javascripts/bootstraps/enhanced/liveblog.js
  static/src/javascripts/projects/common/modules/article/rich-links.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

fix(weather): fallback to city aliases
  onward/app/weather/WeatherApi.scala
Owners: @guardian/dotcom-platform

feat(weather): log maybeRegion
  onward/app/weather/controllers/LocationsController.scala
Owners: @guardian/dotcom-platform

Migrate to one Topic type
  article/app/controllers/LiveBlogController.scala
  article/app/topics/TopicService.scala
  article/test/DCRFake.scala
  article/test/LiveBlogControllerTest.scala
  article/test/topics/TopicServiceTest.scala
  common/app/model/TopMentionsModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
  common/test/model/TopMentionsModelTest.scala
Owners: @guardian/dotcom-platform

refactor(weather): pick best city
  onward/app/weather/WeatherApi.scala
  onward/app/weather/controllers/LocationsController.scala
Owners: @guardian/dotcom-platform

Don't pass selectedTopics down
  article/app/controllers/ArticleController.scala
  article/app/controllers/LiveBlogController.scala
  article/test/DCRFake.scala
  article/test/LiveBlogControllerTest.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Update CAPI & FAPI clients (also remove Lightbox hack)
  applications/app/controllers/ImageContentController.scala
  facia-press/test/frontpress/FaciaClientTest.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Remove further instances of waitForLinks
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
Owners: @guardian/commercial-dev

Update FeatureSwitches.scala
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

outline structure for NewsletterService
  article/app/controllers/ArticleController.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/services/newsletters/NewsletterService.scala
Owners: @guardian/dotcom-platform

refactor(merch-high): case matching logic
  common/app/views/support/HtmlCleaner.scala
Owners: @guardian/dotcom-platform

fix import of ArtclePage into NewsletterService
  common/app/renderers/DotcomRenderingService.scala
  common/app/services/NewsletterService.scala
  common/app/services/newsletters/NewsletterService.scala
Owners: @guardian/dotcom-platform

Added Emma Imber to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

add extra newsletter argument to method calls
  article/app/controllers/ArticleController.scala
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

Remove play-iteratees
  admin/app/indexes/ContentApiTagsEnumerator.scala
  admin/app/indexes/TagPages.scala
  admin/app/jobs/RebuildIndexJob.scala
  build.sbt
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Bypass metric sampling in AB test definition (#25121)
  static/src/javascripts/bootstraps/enhanced/main.js
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-end-of-quarter-2-test.ts
  static/src/javascripts/projects/common/modules/experiments/utils.ts
Owners: @guardian/dotcom-platform

Fix tests compilation
  admin/app/indexes/TagPages.scala
  admin/app/jobs/RebuildIndexJob.scala
  admin/test/indexes/TagPagesTest.scala
Owners: @guardian/dotcom-platform

Remove unused code
  admin/app/indexes/TagPages.scala
Owners: @guardian/dotcom-platform

Update common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

feat(nav): add women's euros 2022 to football navigation
  common/app/navigation/NavLinks.scala
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
