Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

fix: use `unknown` type in predicate
  static/src/javascripts/projects/common/modules/support/articleCount.ts
Owners: @guardian/dotcom-platform

Fix daily article count for today
  static/src/javascripts/projects/common/modules/support/articleCount.ts
  static/src/javascripts/projects/common/modules/support/banner.ts
Owners: @guardian/dotcom-platform

clearer number, unknown
  static/src/javascripts/projects/common/modules/support/articleCount.ts
Owners: @guardian/dotcom-platform

Listen for `article:sign-in-gate-dismissed`
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

enhance pinned post with element id
  common/app/model/dotcomrendering/ElementsEnhancer.scala
Owners: @guardian/dotcom-platform

Bump scanamo and facia and capi clients
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

fix: Use new scanmo api
  common/app/services/RedirectService.scala
Owners: @guardian/dotcom-platform

fix: Add missing check to Formats
  common/app/model/Formats.scala
Owners: @guardian/dotcom-platform

allow for optional elements
  common/app/model/dotcomrendering/ElementsEnhancer.scala
Owners: @guardian/dotcom-platform

Fix daily article count for today (#24784)
  static/src/javascripts/projects/common/modules/support/articleCount.ts
  static/src/javascripts/projects/common/modules/support/banner.ts
Owners: @guardian/dotcom-platform

Stop listening for `dcr:page:article:redisplayed`
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

enhance pinned post with element id (#24787)
  common/app/model/dotcomrendering/ElementsEnhancer.scala
Owners: @guardian/dotcom-platform

Re-run spacefinder when DCR liveblogs are updated
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

Fix spacefinder bug in liveblogs
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.js
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-4-handle-new-liveblog-blocks.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

fix: use fullUrl
  common/app/services/RedirectService.scala
Owners: @guardian/dotcom-platform

Fix box class
  common/app/common/Box.scala
  common/app/metrics/FrontendMetrics.scala
Owners: @guardian/dotcom-platform

Update faciaVersion to 3.3.12
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Add "imageCaption" type to pressend types
  common/app/implicits/FaciaContentFrontendHelpers.scala
  common/app/model/Image.scala
  common/app/model/ImageElement.scala
Owners: @guardian/dotcom-platform

Fix broken Replace test
  common/test/common/TrailsToShowcaseTest.scala
Owners: @guardian/dotcom-platform

add commercialLazyLoadMargin to concurrentTests
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

feat: Add captions to Fronts slideshow
  common/app/views/fragments/items/elements/facia_cards/image.scala.html
  common/app/views/fragments/items/facia_cards/contentCard.scala.html
  static/src/stylesheets/module/facia-garnett/_item.scss
  static/src/stylesheets/module/facia/_item.scss
Owners: @guardian/dotcom-platform

Prepare for latest CAPI release - updating interactive format
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/app/model/meta.scala
Owners: @guardian/dotcom-platform

Use browserId for banner targeting
  package.json
  static/src/javascripts/projects/common/modules/support/articleCount.ts
  static/src/javascripts/projects/common/modules/support/banner.ts
  static/src/javascripts/projects/common/modules/support/epic.ts
  static/src/javascripts/projects/common/modules/support/supportMessaging.ts
  yarn.lock
Owners: @guardian/dotcom-platform

update test dates
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform

refactor: use to bottom instead of 180deg for slideshow shadow
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

update switch sell by date
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

remove event listener in stopListening
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

Revert "Fix spacefinder bug in liveblogs"
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.js
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-4-handle-new-liveblog-blocks.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Update to latest CAPI
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

fix bug preventing spacefinder from rerunning
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

Update standalone.commercial.ts.json
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

break ad refresh for users in variant of spacefinderOkrMegaTest
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

style: unify switches names
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Upgrade play-googleauth using deprecated AntiForgeryChecker.borrowSettingsFromPlay method
  admin/app/conf/GoogleAuth.scala
  admin/app/controllers/admin/IndexController.scala
  admin/app/controllers/admin/OAuthLoginAdminController.scala
  admin/app/controllers/cache/ImageDecacheController.scala
  admin/app/controllers/cache/PageDecacheController.scala
  common/app/googleAuth/OAuthLoginController.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Convert viewport to TypeScript
  static/src/javascripts/lib/detect-viewport.ts
  static/src/javascripts/projects/commercial/modules/messenger.ts
  static/src/javascripts/projects/commercial/modules/messenger/viewport.js
  static/src/javascripts/projects/commercial/modules/messenger/viewport.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/viewport.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Convert viewport to TypeScript - register persistent listener types
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/messenger.ts
  static/src/javascripts/projects/commercial/modules/messenger/viewport.ts
Owners: @guardian/commercial-dev

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
