Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

fix prettier error
  static/src/javascripts/projects/commercial/modules/measure-timing.js
Owners: @guardian/commercial-dev

add EmailSignupController.renderThrasherFormFromName
  applications/conf/routes
  common/app/controllers/EmailSignupController.scala
  dev-build/conf/routes
  preview/conf/routes
Owners: @guardian/dotcom-platform

press music review interactive
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

remove console log
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

update measure timing clear function and revert the change in its end function
  static/src/javascripts/projects/commercial/modules/measure-timing.js
Owners: @guardian/commercial-dev

refactor pinned post tracking based on pr review
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

Convert refresh-on-resize.js to TypeScript
  static/src/javascripts/projects/commercial/modules/dfp/refresh-on-resize.ts
Owners: @guardian/commercial-dev

Install Cypress
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Setup Cypress and add simple tests
  cypress.json
  cypress/integration/slots.spec.js
  cypress/integration/top-above-nav.spec.js
  cypress/lib/iframe.js
  cypress/lib/url.js
Owners: @guardian/dotcom-platform

Add auto-generated Cypress files
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
Owners: @guardian/dotcom-platform

Don't include auto-generated files and directories
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
Owners: @guardian/dotcom-platform

Sanitise the stage early
  cypress/integration/slots.spec.js
  cypress/integration/top-above-nav.spec.js
  cypress/lib/util.js
Owners: @guardian/dotcom-platform

Change default timeout in config
  cypress.json
  cypress/integration/slots.spec.js
  cypress/integration/top-above-nav.spec.js
  cypress/lib/iframe.js
Owners: @guardian/dotcom-platform

Bump default timeout to 15secs
  cypress.json
Owners: @guardian/dotcom-platform

clear performance before every start
  static/src/javascripts/bootstraps/enhanced/liveblog.js
  static/src/javascripts/projects/commercial/modules/measure-timing.js
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Don't consider `#sign-in-gate` in spacefinder
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Don't scroll to bottom twice in slots test
  cypress/integration/slots.spec.js
Owners: @guardian/dotcom-platform

Use first page requested blocks to work out the most recent block id
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

set font on .email-sub__thrasher-embed-button
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

Minor typo fix
  docs/99-archives/crepes.md
Owners: @guardian/dotcom-platform

Polyfill promise.AllSettled
  static/src/javascripts/polyfill.io
Owners: @guardian/dotcom-platform

Update privacy policy wording
  common/app/views/fragments/email/signup/privacyNoticeContent.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

Update email embed privacy policy wording (#24702)
  common/app/views/fragments/email/signup/privacyNoticeContent.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

helper function `recordCommercialMetrics`
  static/src/javascripts/bootstraps/standalone.commercial.ts
Owners: @guardian/dotcom-platform

add test for respecting path parameter on .json?dcr path
  article/test/LiveBlogControllerTest.scala
  data/database/e4530af25d454c228a8964c7922741f0a56ca7214f45e63ca422e1cc0060e99a
Owners: @guardian/dotcom-platform

Provide the most recent block ID in the DCR response, for use on older pages (#24692)
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

SPIKE: End to end commercial tests with Cypress (#24656)
  cypress.json
  cypress/integration/slots.spec.js
  cypress/integration/top-above-nav.spec.js
  cypress/lib/iframe.js
  cypress/lib/util.js
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Take path into account when rendering the json version of a liveblog for DCR (#24674)
  article/app/controllers/LiveBlogController.scala
  article/conf/routes
  article/test/LiveBlogControllerTest.scala
  data/database/e4530af25d454c228a8964c7922741f0a56ca7214f45e63ca422e1cc0060e99a
  dev-build/conf/routes
  preview/conf/routes
Owners: @guardian/dotcom-platform

New live parameter to allow forcing a liveblog to be live
  article/app/controllers/LiveBlogController.scala
  article/test/DCRFake.scala
  common/app/implicits/Requests.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Read latest block id from body blocks when first page is not requested
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

formatting
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

remove unused import
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Polyfill promise.AllSettled (#24700)
  static/src/javascripts/polyfill.io
Owners: @guardian/dotcom-platform

Read latest block id from body blocks when first page is not requested (#24704)
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

formatting
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Fix spacefinder immersive bug
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Ignore rich links when placing `inline1` ads
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Update `data-spacefinder-ignore` selector
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Put fix behind `SpacefinderOkr3RichLinks` test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-3-rich-links.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
