Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Add au based dotmetrics script for AU locale
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Add footer info to fronts data model for DCR (#24974)
  common/app/model/dotcomrendering/DotcomFrontsRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Add test to check AB test switches begin with ab-
  common/test/conf/switches/SwitchesTest.scala
Owners: @guardian/dotcom-platform

Refactor of ipsos-mori.ts
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Fix ts error
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Reverse some of the refactoring as it is causing the build to fail
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Revert "Reverse some of the refactoring as it is causing the build to fail"
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Revert last commit
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Extend newsletters switches to July 5th
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Extend newsletters switches to July 5th (#24984)
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Update scalatest, scalacheck and scalatestplus.play
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Dummy change
  docs/README.md
Owners: @guardian/dotcom-platform

fix some of get-stylesheet's tests
  static/src/javascripts/projects/commercial/modules/messenger/get-stylesheet.spec.js
  static/src/javascripts/projects/commercial/modules/messenger/get-stylesheet.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

remove pickBy and move logger to function
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/commercial-dev

If ads are not shown on articles, log why
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/commercial-dev

make logging clearer
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/commercial-dev

params were wrong way round
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

fix test instead of type
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/commercial-dev

revert npm link strangeness
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

switches.commercial was typed incorrectly
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/commercial-dev

npm link caused some strangeness
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

use string constructor instead of `toString()` just in case it's ever undefined
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/commercial-dev

Updated CAPI client to 18.0.0
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

update parametes name to match what was added in parameter store
  common/app/common/configuration.scala
Owners: @guardian/dotcom-platform

Replace `NewsletterSignup` with `Newsletter`
  common/app/model/Formats.scala
Owners: @guardian/dotcom-platform

Added new media designs to parsing
  common/app/model/meta.scala
Owners: @guardian/dotcom-platform

When there are no article ads, log why (#24967)
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

move kinesis consumer into service in order to have fake version for test
  article/app/AppLoader.scala
  article/app/capiFirehoseConsumer/FirehoseConsumerLifecycle.scala
  article/app/capiFirehoseConsumer/KinesisConsumerService.scala
  article/test/FakeKinesisConsumer.scala
  article/test/TestAppLoader.scala
Owners: @guardian/dotcom-platform

fix width and height at at the various break points
  static/src/stylesheets/layout/nav/_new-header.scss
Owners: @guardian/dotcom-platform

Correct text
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Bump `commercial-core`
  package.json
  static/src/javascripts/projects/commercial/commercial-metrics.ts
  static/src/javascripts/projects/commercial/modules/ad-verification/prepare-ad-verification.ts
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

feat: Use best news logo for UK and remove anniversary logo
  common/app/conf/switches/FeatureSwitches.scala
  common/app/views/fragments/header.scala.html
  static/src/inline-svgs/logo/guardian-anniversary-logo-uk.svg
  static/src/inline-svgs/logo/guardian-anniversary-logo.svg
  static/src/inline-svgs/logo/guardian-best-website-logo.svg
  static/src/stylesheets/layout/nav/_new-header.scss
Owners: @guardian/dotcom-platform

Convert prepare-a9 to TypeScript
  static/src/javascripts/lib/a9-apstag.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-a9.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Convert prepare-a9.spec to TypeScript
  static/src/javascripts/projects/commercial/modules/dfp/prepare-a9.spec.ts
Owners: @guardian/commercial-dev

Remove unnecessary jest mock stubbing from prepare-a9.spec
  static/src/javascripts/projects/commercial/modules/dfp/prepare-a9.spec.ts
Owners: @guardian/commercial-dev
