Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Migrate rich links load from mediator to custom event (#25011)
  static/src/javascripts/projects/common/modules/article/rich-links.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

fix(flex): assume flex is broadly supported
  static/src/stylesheets/module/facia/_item.scss
  static/src/stylesheets/module/facia/_items.scss
  static/src/stylesheets/module/facia/_linkslist.scss
  static/src/stylesheets/module/facia/_sublinks.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--full-media-50.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--full-media-75.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--half.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--three-quarters-right.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--three-quarters.scss
Owners: @guardian/dotcom-platform

Add Women's euro 2022 competition & spider data
  sport/app/football/feed/Competitions.scala
  sport/app/football/model/CompetitionStages.scala
  static/src/stylesheets/module/football/_overview.scss
Owners: @guardian/dotcom-platform

Update tag & title
  sport/app/football/feed/Competitions.scala
Owners: @guardian/dotcom-platform

Add back in missing starting slash
  sport/app/football/feed/Competitions.scala
Owners: @guardian/dotcom-platform

Tore out logic to serve liveblogs/deadblogs from frontend as this is no longer needed. Liveblogs will be 100% supported on DCR after next merge.
  article/app/controllers/LiveBlogController.scala
  article/app/pages/StoryHtmlPage.scala
Owners: @guardian/dotcom-platform

validate crudely form input before invoking captcha script
  common/app/views/emailEmbed.scala.html
Owners: @guardian/dotcom-platform

move iframe code to scala.js file
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
Owners: @guardian/dotcom-platform

Fix URL in cypress test utils
  cypress/lib/util.js
Owners: @guardian/dotcom-platform

Make nested author name element switchable
  common/app/common/TrailsToShowcase.scala
  common/app/conf/switches/FeatureSwitches.scala
  common/test/common/TrailsToShowcaseTest.scala
Owners: @guardian/dotcom-platform

removed faulty tests
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

send the tracking event after captcha success
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

dont duplicate emailIframeTracking code in iframeCaptcha file
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
Owners: @guardian/dotcom-platform

only put the tracking event on the button click if recaptcha is not on
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
  common/app/views/fragments/email/signup/footer/emailSignUpFooter.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
Owners: @guardian/dotcom-platform

create script file for tracking without captcha
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
Owners: @guardian/dotcom-platform

move form functions from recaptcha script to the tracking script
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

Organise pageconfig alphabetically
  static/src/javascripts/types/global.d.ts
Owners: @guardian/dotcom-platform

listen for form submissions not button clicks when no captcha
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
  common/app/views/fragments/email/signup/result/emailResultNewDesign.scala.html
Owners: @guardian/dotcom-platform

standardise query selectors to use element and type attribute, not class
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

listen on form submit, not button click in captcha script
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

make email fields required, use checkValidity to validate form
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
  common/app/views/fragments/email/signup/footer/emailSignUpFooter.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
Owners: @guardian/dotcom-platform

implementing Maxs feedback
  article/app/controllers/LiveBlogController.scala
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

always track the button clicks as before, send another click event when submitting the form
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
  common/app/views/fragments/email/signup/footer/emailSignUpFooter.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
Owners: @guardian/dotcom-platform

test elements exist before applying reveal privacy text listener
  common/app/views/emailEmbed.scala.html
Owners: @guardian/dotcom-platform

check for element within functions to prevent errors on results pages
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
Owners: @guardian/dotcom-platform

with no captcha, track the submit event without preventing default
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
Owners: @guardian/dotcom-platform

don't try to load grecaptcha again if user has dismissed and clicks signup again
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

Use CODE version of non-refreshable line items when developing locally. Add CORS to nonRefreshableLineItemsController
  commercial/app/controllers/nonRefreshableLineItemsController.scala
  static/src/javascripts/projects/commercial/modules/dfp/non-refreshable-line-items.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

remove alerts, log statments and info-for attributes on scripts
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
  common/app/views/fragments/email/signup/footer/emailSignUpFooter.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
Owners: @guardian/dotcom-platform

Remove logic that serves blogs from frontend - all being served by DCR (#25017)
  article/app/controllers/LiveBlogController.scala
  article/app/pages/StoryHtmlPage.scala
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

Add newsletters to UK news subnav
  common/app/navigation/NavLinks.scala
Owners: @guardian/dotcom-platform

support optional iframe_location param to identify which part of the page loaded the iframe
  common/app/common/LinkTo.scala
  common/app/controllers/EmailSignupController.scala
  common/app/views/emailFragment.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

Add inline1 outstream sizes to prebid slot config
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
Owners: @guardian/commercial-dev

Remove inline1 from prebid common slot config
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
Owners: @guardian/commercial-dev

Fix slot-config.spec for new inline1 sizes
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
Owners: @guardian/commercial-dev

Add test for inline1 desktop prebid slot config
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
Owners: @guardian/commercial-dev

Add mpus back to inline1 prebid slot config
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
Owners: @guardian/commercial-dev

use Iframe_location param to set tracking info
  common/app/common/LinkTo.scala
  common/app/controllers/EmailSignupController.scala
  common/app/views/emailFragment.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

Add Obituaries link to end of UK subnav
  common/app/navigation/NavLinks.scala
Owners: @guardian/dotcom-platform

rename param
  common/app/common/LinkTo.scala
  common/app/controllers/EmailSignupController.scala
  common/app/views/emailFragment.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
