Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Clear up unnecessary mocks
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.spec.ts
Owners: @guardian/commercial-dev

More accurate test description and measure
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-end-of-quarter-2-test.ts
Owners: @guardian/dotcom-platform

remove old (2016) custom app banner implementation (#25057)
  static/src/javascripts.flow.archive/bootstraps/enhanced/common.js
  static/src/javascripts.flow.archive/projects/common/modules/ui/smartAppBanner.js
  static/src/javascripts/bootstraps/enhanced/common.js
  static/src/javascripts/projects/common/modules/ui/smartAppBanner.js
Owners: @guardian/dotcom-platform

Add Cypress tsconfig.json
  cypress/integration/right-slot.spec.ts
  cypress/tsconfig.json
Owners: @guardian/dotcom-platform

Convert Cypress lib to TypeScript
  cypress/lib/util.ts
Owners: @guardian/dotcom-platform

Fix Cypress ES target to support optional chaining
  cypress/tsconfig.json
Owners: @guardian/dotcom-platform

Convert Cypress support functions to TypeScript
  cypress/support/commands.ts
  cypress/support/index.ts
Owners: @guardian/dotcom-platform

Add Cypress eslintrc.json
  cypress/.eslintrc.json
Owners: @guardian/dotcom-platform

Convert Cypress fixture to TypeScript
  cypress/fixtures/pages.ts
Owners: @guardian/dotcom-platform

Convert right-slot.spec to TypeScript
  cypress/integration/right-slot.spec.ts
Owners: @guardian/dotcom-platform

Convert top-above-nav.spec to TypeScript
  cypress/integration/top-above-nav.spec.ts
Owners: @guardian/dotcom-platform

Convert slots.spec to TypeScript
  cypress/integration/slots.spec.ts
Owners: @guardian/dotcom-platform

chore: update world cup 2018 => world cup 2022
  sport/app/football/feed/Competitions.scala
Owners: @guardian/dotcom-platform

Add @types/cypress
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Add eslint-plugin-cypress
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

remove comment share feature
  discussion/app/views/fragments/comment.scala.html
  discussion/app/views/fragments/commentShare.scala.html
  static/src/stylesheets/module/_discussion.scss
Owners: @guardian/dotcom-platform

bump cmp lib
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

please linter
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/track-gpc-signal.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Call initTrackGpcSignal in commercial-metrics
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/track-gpc-signal.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

bump commercial-core
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Move caption to fix tab order
  sport/app/football/views/tablesList/tableView.scala.html
Owners: @guardian/dotcom-platform

Add an alt tag with the podcast series name in the podcast image
  applications/app/views/fragments/audioBody.scala.html
Owners: @guardian/dotcom-platform

fix: put score in football result in results table
  sport/app/football/views/fragments/teamForm.scala.html
Owners: @guardian/dotcom-platform

Revert "Remove comment share feature"
  discussion/app/views/fragments/comment.scala.html
  discussion/app/views/fragments/commentShare.scala.html
  static/src/stylesheets/module/_discussion.scss
Owners: @guardian/dotcom-platform

remove unused switch
  common/app/conf/switches/FeatureSwitches.scala
  discussion/app/views/fragments/comment.scala.html
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

set cookie to hide ad slots during server render
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/lib/set-temp-ad-free.ts
  static/src/javascripts/projects/commercial/modules/ad-free-slot-remove.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

hide ad slots if targeting consent is denied
  static/src/javascripts/projects/commercial/modules/ad-free-slot-remove.ts
Owners: @guardian/commercial-dev

also unset cookie if consent is later change
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/lib/set-ad-free-cookie.ts
  static/src/javascripts/lib/set-temp-ad-free.ts
  static/src/javascripts/projects/commercial/modules/maybe-remove-ad-slot.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rename/repurpose ad-free-slot-remove
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/maybe-remove-ad-slot.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

only set adfree cookie with no consent for tcfv2
  static/src/javascripts/projects/commercial/modules/maybe-remove-ad-slot.ts
Owners: @guardian/commercial-dev

adfree cookie value does matter
  static/src/javascripts/lib/set-ad-free-cookie.ts
Owners: @guardian/dotcom-platform

remove redundant code
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/maybe-remove-ad-slot.ts
  static/src/javascripts/projects/commercial/modules/remove-slots.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rename maybeRemoveAdSlots -> manageAdFreeCookieOnConsentChange
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
Owners: @guardian/dotcom-platform

set a flag in local storage when ad free cookie set
  static/src/javascripts/projects/commercial/modules/maybe-remove-ad-slot.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/commercial-dev

rename maybe-remove-ad-slot -> manage-ad-free-cookie-on-consent-change
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

unfinished - setAdFreeCookieReason helper
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/commercial-dev

remove unused exports
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/commercial-dev
