Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Remove flow archive
  static/src/javascripts.flow.archive/projects/commercial/modules/header-bidding/slot-config.spec.js
Owners: @guardian/dotcom-platform

Make eslint happy by using typeof
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.ts
Owners: @guardian/commercial-dev

Expose dfpEnv on the window object
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

add headerBiddingSlots to the Advert class
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
Owners: @guardian/commercial-dev

Add Rachel to humans (#25290)
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Switch to using ad sizes from commercial-core
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
