Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/value

Bump `editorial-permissions-client`
  admin/app/controllers/AdminControllers.scala
  admin/app/jobs/R2PagePressJob.scala
  common/app/http/GuardianAuthWithExemptions.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

extend Admiral AB test switch to expire in mid Jan
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

extend Admiral AB test switch to expire in mid Jan (#28362)
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Update isTheFilterUS logic to depend on isTheFilter
  common/app/model/content.scala
Owners: @guardian/dotcom-platform

Remove remaining referrences of AWS SDK v1 code
  admin/app/controllers/AdminControllers.scala
  admin/app/controllers/admin/TroubleshooterController.scala
  admin/app/tools/LoadBalancer.scala
  common/app/awswrappers/package.scala
  common/app/common/configuration.scala
  common/app/http/GuardianAuthWithExemptions.scala
Owners: @guardian/dotcom-platform

Bump facia-client
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Keep only AWS SDK v2 version in `Dependencies`
  build.sbt
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Add an endpoint in application to access DCAR assets
  applications/app/controllers/InteractiveController.scala
  applications/conf/routes
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Update details of personalised highlights test
  static/src/javascripts/projects/common/modules/experiments/tests/personalised-highlights.js
Owners: @guardian/dotcom-platform

Remove legacy reader revenue components doc
  docs/03-dev-howtos/21-test-reader-revenue-components.md
Owners: @guardian/dotcom-platform

add alt text to imageinfo object
  commercial/app/model/capi/CapiImages.scala
Owners: @guardian/commercial-dev

Remove unused code from identity app
  identity/app/actions/AuthenticatedActions.scala
  identity/app/controllers/EmailVerificationController.scala
  identity/app/controllers/FormstackController.scala
  identity/app/controllers/editprofile/ConsentsJourney.scala
  identity/app/idapiclient/IdApiClient.scala
  identity/app/views/verificationEmailResent.scala.html
  identity/conf/routes
  identity/test/actions/AuthenticatedActionsTest.scala
  identity/test/controllers/ConsentsJourneyControllerTest.scala
  identity/test/controllers/EditProfileControllerTest.scala
  identity/test/controllers/EmailVerificationControllerTest.scala
Owners: @guardian/dotcom-platform

Rename isFilterUS value to isUSProductionOffice for clarity
  applications/app/views/package.scala
  article/app/views/package.scala
  common/app/model/content.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/app/model/dotcomrendering/pageElements/PageElement.scala
  common/app/model/dotcomrendering/pageElements/TextCleaner.scala
  common/app/views/support/HtmlCleaner.scala
Owners: @guardian/dotcom-platform

WIP Hosted Content DCR data model
  common/app/model/dotcomrendering/DotcomHostedContentRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Desktop auth check on request
  common/app/http/GuardianAuthWithExemptions.scala
  common/app/implicits/Requests.scala
Owners: @guardian/dotcom-platform

Only apply desktop auth check to /desktop-auth/ prefix
  common/app/http/GuardianAuthWithExemptions.scala
Owners: @guardian/dotcom-platform

Remove authorisation code from PanDomainAuthenticated, and share authorisation between desktop and web panda
  common/app/http/GuardianAuthWithExemptions.scala
  common/app/http/PanDomainDesktopAuthentication.scala
Owners: @guardian/dotcom-platform

Limit check to preview
  common/app/http/GuardianAuthWithExemptions.scala
Owners: @guardian/dotcom-platform

Basic implementation
  common/app/http/GuardianAuthWithExemptions.scala
  common/app/http/PanDomainDesktopAuthentication.scala
Owners: @guardian/dotcom-platform

Log desktop auth error but return generic unauthorized message
  common/app/http/GuardianAuthWithExemptions.scala
Owners: @guardian/dotcom-platform

Update GuardianAuthWithExemptions.scala
  common/app/http/GuardianAuthWithExemptions.scala
Owners: @guardian/dotcom-platform

Basic implementation
  common/app/http/GuardianAuthWithExemptions.scala
Owners: @guardian/dotcom-platform

Remove authorisation code from PanDomainAuthenticated, and share authorisation between desktop and web panda
  common/app/http/GuardianAuthWithExemptions.scala
Owners: @guardian/dotcom-platform

First pass
  article/app/controllers/ArticleController.scala
  article/app/utils/LiveHarness.scala
  preview/conf/routes
Owners: @guardian/dotcom-platform

amend comment
  commercial/app/model/capi/CapiImages.scala
Owners: @guardian/commercial-dev

fix formatting
  commercial/app/model/capi/CapiImages.scala
Owners: @guardian/commercial-dev

wip new controller for hosted content
  commercial/app/controllers/HostedPageController.scala
Owners: @guardian/commercial-dev

Bump chokidar and webpack-dev-server
  dev/watch.mjs
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

add a feature switch for rendering hosted content pages in DCR
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Linting
  dev/watch.mjs
Owners: @guardian/dotcom-platform

add expiry date
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

wip new controller for hosted content
  commercial/app/controllers/HostedPageController.scala
Owners: @guardian/commercial-dev

WIP Hosted Content DCR data model
  common/app/model/dotcomrendering/DotcomHostedContentRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Add a feature switch for rendering hosted content pages in DCR (#28375)
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

add DCR picker for Hosted Content in commercial app
  commercial/app/services/dotcomrendering/HostedContentPicker.scala
  commercial/app/services/dotcomrendering/RenderType.scala
Owners: @guardian/commercial-dev

add test for HostedContentPicker
  commercial/app/services/dotcomrendering/HostedContentPicker.scala
  commercial/test/services/dotcomrendering/HostedContentPickerTest.scala
Owners: @guardian/commercial-dev

fix copy and paste issues
  commercial/app/services/dotcomrendering/HostedContentPicker.scala
Owners: @guardian/commercial-dev

add very basic DCR data model for hosted content pages
  commercial/app/controllers/HostedPageController.scala
  commercial/app/model/DotcomHostedContentRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomHostedContentRenderingDataModel.scala
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

add more implicit writes, but will probably need to specify manually instead
  commercial/app/model/DotcomHostedContentRenderingDataModel.scala
Owners: @guardian/commercial-dev

Move Women's Nations League to Europe
  sport/app/football/feed/Competitions.scala
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Value (Supporter Revenue)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/value
