Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Basic implementation
  article/app/controllers/LiveBlogController.scala
  article/app/model/AutomaticFilters.scala
  article/app/model/LiveBlogHelpers.scala
  article/app/topmentions/TopMentionsS3Client.scala
  article/app/topmentions/TopMentionsService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/AutomaticFiltersTest.scala
  article/test/topmentions/TopMentionsServiceTest.scala
  common/app/model/ArticleBlocks.scala
  common/app/model/LiveBlogCurrentPage.scala
  common/app/model/TopMentionsModel.scala
Owners: @guardian/dotcom-platform

Give priority to webUrl from PressedProperties over href
  common/app/model/SupportedUrl.scala
Owners: @guardian/dotcom-platform

Try out the change only in SupportingCuratedContent
  common/app/model/SupportedUrl.scala
Owners: @guardian/dotcom-platform

Try out the change only in CuratedContent
  common/app/model/SupportedUrl.scala
Owners: @guardian/dotcom-platform

add temprary logging for testing
  article/app/controllers/LiveBlogController.scala
  article/app/model/AutomaticFilters.scala
  common/app/common/LinkTo.scala
  common/test/common/LinkToTest.scala
Owners: @guardian/dotcom-platform

Pass AMP consent messages between parent window and child iframe (#25088)
  static/vendor/data/amp-iframe.html
Owners: @guardian/dotcom-platform

move top mention model to the common module
  article/app/topmentions/TopMentionsS3Client.scala
  article/app/topmentions/TopMentionsService.scala
  article/test/topmentions/TopMentionsServiceTest.scala
  common/app/model/TopMentionsModel.scala
Owners: @guardian/dotcom-platform

fix(a11y): make tab order logical
  applications/app/views/fragments/audioBody.scala.html
Owners: @guardian/dotcom-platform

Add function to generate list of top mentions
  article/app/topmentions/TopMentionsService.scala
  common/app/model/TopMentionsModel.scala
Owners: @guardian/dotcom-platform

Fix accessibility for expand image in galleries
  applications/app/views/fragments/galleryBody.scala.html
  static/src/stylesheets/module/content-garnett/_gallery.scss
Owners: @guardian/dotcom-platform

Add new filter functions
  article/app/controllers/LiveBlogController.scala
  article/app/model/LiveBlogHelpers.scala
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

Add param to functions
  article/app/controllers/LiveBlogController.scala
  article/app/model/AutomaticFilters.scala
  common/app/common/LinkTo.scala
Owners: @guardian/dotcom-platform

fix more merge conflicts
  article/app/controllers/LiveBlogController.scala
  article/app/model/AutomaticFilters.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/AutomaticFiltersTest.scala
Owners: @guardian/dotcom-platform

restore ad-free-slot-remove to remove slots on fronts and mostpop
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/ad-free-slot-remove.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add topmention companion object with write
  common/app/model/TopMentionsModel.scala
Owners: @guardian/dotcom-platform

Add top mentions to model
  article/app/controllers/LiveBlogController.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

add automatic filter to the list of insignificantParams
  article/test/model/AutomaticFiltersTest.scala
  common/app/common/LinkTo.scala
  common/app/dev/DevParametersHttpRequestHandler.scala
  common/test/common/LinkToTest.scala
Owners: @guardian/dotcom-platform

Fix ad slots not removed for fronts on mobile and mostpop (#25111)
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/ad-free-slot-remove.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Refactor implementation
  article/app/topmentions/TopMentionsService.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Adds focus trap to lightbox.js
  static/src/javascripts/projects/common/modules/gallery/lightbox.js
  static/src/javascripts/projects/common/views/content/block-sharing.html
  static/src/javascripts/projects/common/views/content/share-button.html
Owners: @guardian/dotcom-platform

Simplify regex in SupportUrl.fromFaciaContent method and take http into account
  common/app/model/SupportedUrl.scala
Owners: @guardian/dotcom-platform

Rename for clarity
  article/app/topmentions/TopMentionsService.scala
  common/app/model/TopMentionsModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Newsletters on US subnav will be linked to /email-newsletters
  common/app/navigation/NavLinks.scala
Owners: @guardian/dotcom-platform

Add top mentions filter to model
  article/app/controllers/LiveBlogController.scala
  article/app/topmentions/TopMentionsService.scala
  common/app/model/TopMentionsModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

add temprary logging
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

fix: gallery expand not showing on mobile
  applications/app/views/fragments/galleryBody.scala.html
  static/src/stylesheets/module/content-garnett/_gallery.scss
Owners: @guardian/dotcom-platform

Pass through filter list to model
  article/app/controllers/LiveBlogController.scala
  article/app/topmentions/TopMentionsService.scala
  common/app/model/TopMentionsModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

add pagination logic for top mentions - in progress
  article/app/controllers/LiveBlogController.scala
  article/app/model/LiveBlogHelpers.scala
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

add logging for future trouble shooting
  article/app/controllers/LiveBlogController.scala
  article/app/model/AutomaticFilters.scala
Owners: @guardian/dotcom-platform

Update passback source to include breakpoint
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback reorder helper functions
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback early return if cannot determine slot
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback early return if source is not passed
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback early return if iframe is not available
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback early return if iFrameContainer is not available
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback fastdom wraps initial slot updates
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback fastdom wraps new passback slot insertion
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

passback register listener to adjust container height before call to display passback ad
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
