Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

feat: Adding caching & expanding DCR Fronts model
  common/app/model/dotcomrendering/DotcomRenderingFrontsModel.scala
  common/app/model/dotcomrendering/PageType.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

injectNewBlocks dispatches liveblog:blocks-updated
  static/src/javascripts/projects/common/modules/ui/autoupdate.js
Owners: @guardian/dotcom-platform

Remove mediator listener from liveblog adverts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

update test duration, audience, offset
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
Owners: @guardian/dotcom-platform

update test duration, audience, offset
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform

update switch sell by date
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Update the Hear Here banner to use an animated GIF
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/hear-here.gif
Owners: @guardian/dotcom-platform

fix: Removed black line on certain layouts for slideshows.
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

Fix formatting errors
  common/app/model/dotcomrendering/DotcomRenderingFrontsModel.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

AB test GPT lazy loading (#24756)
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/dfp/display-lazy-ads.ts
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Refactor class name and remove redundant import
  common/app/model/dotcomrendering/DotcomFrontsRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

Move DCR Json render within main case
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

remove redundant new line
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

Fix spacefinder in liveblogs (#24779)
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.js
  static/src/javascripts/projects/common/modules/ui/autoupdate.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

liveblog-rendering test Perc1A => Perc10A
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

replace getRandomLazyLoadMargin with normal ab test variants
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

WIP: ?dcr will send the render request for a front to dcr /Fronts
  common/app/experiments/Experiments.scala
  common/app/renderers/DotcomRenderingService.scala
  facia/app/controllers/FaciaController.scala
  facia/app/utils/FaciaPicker.scala
  facia/app/utils/RenderType.scala
  onward/app/controllers/RichLinkController.scala
  preview/app/controllers/FaciaDraftController.scala
Owners: @guardian/dotcom-platform

remove unused import, lint
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Use imageoptim on Hear Here GIF
  static/public/images/email/banners/hear-here.gif
Owners: @guardian/dotcom-platform

Update the Hear Here banner to use an animated GIF (#24835)
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/hear-here.gif
Owners: @guardian/dotcom-platform

update variant IDs
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

updated review image
  common/app/views/support/ImageProfile.scala
Owners: @guardian/dotcom-platform

updated review image (#24841)
  common/app/views/support/ImageProfile.scala
Owners: @guardian/dotcom-platform

Add NewsArticle json-ld type for Interactives
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/LinkedData.scala
Owners: @guardian/dotcom-platform

feat: Added property for isFront
  facia/app/utils/FaciaPicker.scala
Owners: @guardian/dotcom-platform

feat: Adds fronts logger and wires everything together. Still needs a bit of a tidy up!
  common/app/model/dotcomrendering/DotcomFrontsRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
  facia/app/controllers/FaciaController.scala
  facia/app/controllers/FaciaControllers.scala
  facia/app/utils/DotcomFrontsLogger.scala
  facia/app/utils/FaciaPicker.scala
Owners: @guardian/dotcom-platform

unset expiry on puzzles banner switch
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Array.find rather than filter
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
Owners: @guardian/commercial-dev

use experimental branch
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Update lazy load margin test (#24839)
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

define ec2 java sdk
  build.sbt
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

ignore warning for deprecated function
  common/app/common/Logback/KinesisAdapter.scala
Owners: @guardian/dotcom-platform

WIP: Upgrade targeting-client
  build.sbt
  common/app/common/Logback/KinesisAdapter.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Bump version of targeting-client
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

feat: Remove mobile breakpoints on Slideshows
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add firstPublishedDisplayNoTimezone to DCR data model
  common/app/model/DatesAndTimes.scala
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Upgrade targeting-client (#24833)
  build.sbt
  common/app/common/Logback/KinesisAdapter.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform
