Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Update slot-config.spec with removal of 550x310
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
Owners: @guardian/commercial-dev

Passback handle height from slot render correctly
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback refactor copying of targeting to the new slot
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

use route with extra path param instead of query
  applications/conf/routes
  common/app/controllers/EmailSignupController.scala
  dev-build/conf/routes
  preview/conf/routes
Owners: @guardian/dotcom-platform

remove new significantParams
  common/app/common/LinkTo.scala
Owners: @guardian/dotcom-platform

don't wrap new method in another csrfAddToken
  common/app/controllers/EmailSignupController.scala
Owners: @guardian/dotcom-platform

remove unused attributes
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

use black label text on thrasher forms placed in containers with black text
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

Update static/src/javascripts/projects/commercial/modules/messenger/passback.ts
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Rename file
  static/src/javascripts/lib/detect.ts
Owners: @guardian/dotcom-platform

Remove config dependency
  static/src/javascripts/lib/detect.ts
Owners: @guardian/dotcom-platform

Add simplest type annotations
  static/src/javascripts/lib/detect.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/dotcom-platform

Add a type guard for breakpoint names
  static/src/javascripts/lib/detect.ts
Owners: @guardian/dotcom-platform

Use breakpoint names from Source
  static/src/javascripts/lib/detect.ts
Owners: @guardian/dotcom-platform

Add server-side experiment InteractivesIdleLoading
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Export a function for determining user agent
  static/src/javascripts/lib/detect.js
  static/src/javascripts/projects/common/modules/navigation/navigation.js
  static/src/javascripts/projects/common/modules/ui/smartAppBanner.js
Owners: @guardian/dotcom-platform

Don't show ads to Internet Explorer browsers
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/commercial-dev

Add tests for browser
  static/src/javascripts/projects/common/modules/commercial/commercial-features.spec.ts
Owners: @guardian/commercial-dev

Move isInternetExplorer function to detect.js
  static/src/javascripts/lib/detect.js
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Fix `onInteractivesLoaded` race condition
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Attempt to fix colours
  static/src/stylesheets/inline/story-package-garnett.scss
Owners: @guardian/dotcom-platform

proxy dotcom assets through m.thegulocal.com
  nginx/frontend.conf
Owners: @guardian/dotcom-platform

create and post component events for submissions and captcha interactions
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

move trackClickEvent execution to signup scripts, so emailIframeTracking only defines functions
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
Owners: @guardian/dotcom-platform

Add AB test for end of quarter
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-end-of-quarter-2-test.ts
Owners: @guardian/dotcom-platform

Decide lazy load margin based on test
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

wrap openingCaptcah into one function
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

make rewrite clearer
  nginx/frontend.conf
Owners: @guardian/dotcom-platform

make the trakcing code more clear about event types for ophan-iframe
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
Owners: @guardian/dotcom-platform

fix: Remove incorrect dynamo sublink styles
  static/src/stylesheets/inline/story-package-garnett.scss
Owners: @guardian/dotcom-platform

remove old (2016) custom app banner implementation
  static/src/javascripts.flow.archive/bootstraps/enhanced/common.js
  static/src/javascripts.flow.archive/projects/common/modules/ui/smartAppBanner.js
  static/src/javascripts/bootstraps/enhanced/common.js
  static/src/javascripts/projects/common/modules/ui/smartAppBanner.js
Owners: @guardian/dotcom-platform

Add tests for lazy load margin
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.spec.ts
Owners: @guardian/commercial-dev

Fix dotcom assets when using m.thegulocal.com so that ads load (#25054)
  nginx/frontend.conf
Owners: @guardian/dotcom-platform

Update common/app/controllers/EmailSignupController.scala
  common/app/controllers/EmailSignupController.scala
Owners: @guardian/dotcom-platform

Update common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

Remove inline1ContainerSizing server side test
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

formatting fix
  common/app/controllers/EmailSignupController.scala
Owners: @guardian/dotcom-platform

use parent component data in the [data-component] forthe embed form
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform
