Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Add "matchUrl" option to DCR cricket endpoint
  sport/app/cricket/controllers/CricketMatchController.scala
Owners: @guardian/dotcom-platform

rename to scoreboardUrl
  sport/app/cricket/controllers/CricketMatchController.scala
Owners: @guardian/dotcom-platform

rename to scorecardUrl
  sport/app/cricket/controllers/CricketMatchController.scala
Owners: @guardian/dotcom-platform

Remove unused imports
  sport/app/cricket/controllers/CricketMatchController.scala
Owners: @guardian/dotcom-platform

improve import
  sport/app/cricket/controllers/CricketMatchController.scala
Owners: @guardian/dotcom-platform

Add "scoreboardUrl" option to DCR cricket endpoint (#24959)
  sport/app/cricket/controllers/CricketMatchController.scala
Owners: @guardian/dotcom-platform

formatting
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/test/model/dotcomrendering/DotcomRenderingUtilsTest.scala
Owners: @guardian/dotcom-platform

ensure Summary title on empty summary posts in DCR (#24940)
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/test/model/dotcomrendering/DotcomRenderingUtilsTest.scala
Owners: @guardian/dotcom-platform

move identity project settings into root build.sbt
  build.sbt
  identity/build.sbt
Owners: @guardian/dotcom-platform

Remove anniversary logo and replace with best website
  common/app/conf/switches/FeatureSwitches.scala
  common/app/views/fragments/header.scala.html
  static/src/inline-svgs/logo/guardian-anniversary-logo-uk.svg
  static/src/inline-svgs/logo/guardian-anniversary-logo.svg
  static/src/inline-svgs/logo/the-guardian-best-website-logo.svg
  static/src/stylesheets/layout/nav/_new-header.scss
Owners: @guardian/dotcom-platform

Add Inline1ContainerSizing server side ab test
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Remove inline1ContainerSizing client side ab test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/inline1-container-sizing.ts
Owners: @guardian/dotcom-platform

bump version of slf4j 1.7.25 => 1.7.36
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

bump aws 1.11 => 1.12 and quartz 2.2.3 => 2.3.2
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

bump jackson
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

add modifier classes for us-morning-newsletter and morning mail to the selector used for the first edition thrasher embed style
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

add comment on jackson dependecy updates
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

change cron minutes default value to 59 for valid cron expressions
  admin/app/model/AdminLifecycle.scala
  common/app/common/configuration.scala
Owners: @guardian/dotcom-platform

Remove <dc:date> elements from encoded xml result
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

add comment on why we use < 60 minutes
  common/app/common/configuration.scala
Owners: @guardian/dotcom-platform

Increase size of price granularity test to 5%
  static/src/javascripts/projects/common/modules/experiments/tests/prebid-price-granularity.ts
Owners: @guardian/dotcom-platform

Increase sell by date of test
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Add comments
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

Revert "Update link text and destinations for single front door test v3"
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/views/fragments/footer.scala.html
  common/app/views/fragments/header.scala.html
Owners: @guardian/dotcom-platform

Fix ABTestSwitches scala compile error
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Revert "Revert "Update link text and destinations for single front door test v3""
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/views/fragments/footer.scala.html
  common/app/views/fragments/header.scala.html
Owners: @guardian/dotcom-platform

Add 0% AB test for Ipsos Mori Australia
  common/app/conf/switches/ABTestSwitches.scala
  common/app/model/IpsosTags.scala
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/ipsos-mori-australia.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Fix TS errors
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Add footer info to fronts data model for DCR
  common/app/model/dotcomrendering/DotcomFrontsRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Add ab- to switch name
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

extend lazy load switch sell by dates
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Switches need to expire on a weekday
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Extend lazy load experiment switch sell by dates (#24976)
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Update switch
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Remove checks for cricket liveblogs for DCR
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

fix: add 1 to containerIndex
  common/app/views/fragments/commercial/containers/paidContainer.scala.html
Owners: @guardian/dotcom-platform

fix: rename labs container for consistency
  common/app/views/fragments/commercial/containers/paidContainer.scala.html
Owners: @guardian/dotcom-platform

add consumer for capi firehose
  article/app/AppLoader.scala
  article/app/capiFirehoseConsumer/CrierStreamReader.scala
  article/app/capiFirehoseConsumer/FirehoseConsumerLifecycle.scala
  build.sbt
  common/app/common/configuration.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
