Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Update common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

Apply suggestions from code review
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
Owners: @guardian/dotcom-platform

add automatic filter query param
  article/app/controllers/LiveBlogController.scala
  article/app/topmentions/TopMentionsModel.scala
  article/conf/routes
  common/app/common/LinkTo.scala
Owners: @guardian/dotcom-platform

Apply suggestions from code review
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
Owners: @guardian/dotcom-platform

Fix hide ad slot if consent is denied (#25091)
  cypress.json
  cypress/.eslintrc.json
  cypress/cypress.webpack.config.ts
  cypress/fixtures/pages.ts
  cypress/integration/consent.spec.ts
  cypress/integration/slots.spec.ts
  cypress/lib/util.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/lib/manage-ad-free-cookie.spec.ts
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/projects/commercial/modules/ad-free-slot-remove.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.spec.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
  static/src/javascripts/projects/commercial/modules/remove-slots.ts
  static/src/javascripts/projects/common/modules/commercial/lib/cookie.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

use function declarations for consistency and more explicit naming
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
Owners: @guardian/dotcom-platform

Provide more frontend tracking from email embeds (#25022)
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
  common/app/views/emailEmbed.scala.html
  common/app/views/fragments/email/signup/footer/emailSignUpFooter.scala.html
  common/app/views/fragments/email/signup/result/emailResultNewDesign.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

change job duration syntaxt to use duration
  article/app/jobs/TopMentionsLifecycle.scala
Owners: @guardian/dotcom-platform

return failure instead of throwing exception
  article/app/topmentions/TopMentionsS3Client.scala
Owners: @guardian/dotcom-platform

Migrate create-slot.ts and test to commrecial-core
  package.json
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
  static/src/javascripts/projects/commercial/modules/high-merch.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/commercial/modules/mobile-sticky.ts
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

update error messages
  article/app/topmentions/TopMentionsModel.scala
  article/app/topmentions/TopMentionsS3Client.scala
Owners: @guardian/dotcom-platform

refactor based on pr review
  article/app/topmentions/TopMentionsService.scala
Owners: @guardian/dotcom-platform

Migrate create-slot.ts to commercial core (#25096)
  package.json
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
  static/src/javascripts/projects/commercial/modules/high-merch.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/commercial/modules/mobile-sticky.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Upgrade Prebid.js to v6.26.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Fix prebid.spec for v6.2.6.0
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
Owners: @guardian/commercial-dev

Refix prebid.spec
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
Owners: @guardian/commercial-dev

prebid.spec: reset prebid by using real require
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
Owners: @guardian/commercial-dev

Bump Prebid.js commit
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Record cases of spacefinder timing out
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Only log when idle loading is enabled
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Bump prebid fork commit
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

update query parameter in progress
  article/app/controllers/LiveBlogController.scala
  article/app/topmentions/TopMentionsModel.scala
  article/app/topmentions/TopMentionsService.scala
  article/conf/routes
Owners: @guardian/dotcom-platform

Revert "add womens euro 2022 badge"
  sport/app/football/feed/Competitions.scala
  sport/app/football/model/model.scala
  sport/app/football/views/fragments/teamForm.scala.html
  sport/app/football/views/wallchart/knockoutMatch.scala.html
  sport/app/football/views/wallchart/knockoutSpider.scala.html
  static/src/inline-svgs/badges/womens_euros_2022_badge.svg
Owners: @guardian/dotcom-platform

write tests for handling top mention query parameter
  article/app/controllers/LiveBlogController.scala
  article/app/model/AutomaticFilters.scala
  article/app/topmentions/TopMentionsService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/AutomaticFiltersTest.scala
  article/test/topmentions/TopMentionsServiceTest.scala
  dev-build/conf/routes
  preview/conf/routes
Owners: @guardian/dotcom-platform

Add key event carousel experiment
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

write test for liveblog controller
  article/app/controllers/LiveBlogController.scala
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

Delete key event carousel switch
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

update test description
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

make the filter entity value case sensitive
  article/app/topmentions/TopMentionsService.scala
  article/test/model/AutomaticFiltersTest.scala
  article/test/topmentions/TopMentionsServiceTest.scala
Owners: @guardian/dotcom-platform

Apply suggestions from code review
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Add comment re window.pbjs
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
Owners: @guardian/commercial-dev

feat(arch): add diagram
  docs/02-architecture/diagram.mermaid
Owners: @guardian/dotcom-platform

Add 0% test for automatic filters
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Update common/app/experiments/Experiments.scala
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Update description
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Remove Prebid price granularity AB test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/prebid-price-granularity.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Make commercial graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add "Nations League" to tableOrder
  sport/app/football/controllers/LeagueTableController.scala
Owners: @guardian/dotcom-platform

Add "Nations League" to tableOrder (#25105)
  sport/app/football/controllers/LeagueTableController.scala
Owners: @guardian/dotcom-platform
