Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Ignore result when determining whether or not to listen for more blocks
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

update test dates
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform

add horizontal margin to variant intersection observer
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
Owners: @guardian/commercial-dev

oops
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform

update switch expiry
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

feat: Smaller font size for mobile devices
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

feat: More generic solution for mobile font size on Captions
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

AB test margin values for lazily-loaded ads (#24770)
  common/app/conf/switches/ABTestSwitches.scala
  package.json
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

fix: Fix max width captions going off screen on smaller displays
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

update test dates
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
Owners: @guardian/dotcom-platform

update sell by date
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Delete old flow file
  static/src/javascripts.flow.archive/projects/commercial/modules/ad-sizes.js
Owners: @guardian/dotcom-platform

Deprecate `video` ad size
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
Owners: @guardian/commercial-dev

Restrict `outstream` sizes to `inline1` slots
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
Owners: @guardian/commercial-dev

fix: Use sans inftead of GH for captions
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

Fix tests
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.spec.ts
Owners: @guardian/commercial-dev

Extract playAppSecretParameterName config used for googleAuth to configuration.scala and make it stage specific
  common/app/common/configuration.scala
  common/app/conf/GoogleAuth.scala
  preview/app/controllers/OAuthLoginPreviewController.scala
Owners: @guardian/dotcom-platform

Make playAppSecret app specific for googleOAuth in admin and preview
  common/app/common/configuration.scala
Owners: @guardian/dotcom-platform

Remove outstream sizes from inline 2 ads
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
Owners: @guardian/commercial-dev

Bump Braze Components to 7.1.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Revert "feat: Add slideshow captions to Fronts"
  common/app/experiments/Experiments.scala
  common/app/views/fragments/items/elements/facia_cards/image.scala.html
  common/app/views/fragments/items/facia_cards/contentCard.scala.html
  static/src/stylesheets/module/facia-garnett/_item.scss
  static/src/stylesheets/module/facia/_item.scss
Owners: @guardian/dotcom-platform

Revert "Revert "feat: Add slideshow captions to Fronts""
  common/app/experiments/Experiments.scala
  common/app/views/fragments/items/elements/facia_cards/image.scala.html
  common/app/views/fragments/items/facia_cards/contentCard.scala.html
  static/src/stylesheets/module/facia-garnett/_item.scss
  static/src/stylesheets/module/facia/_item.scss
Owners: @guardian/dotcom-platform

serve facia JSON
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

fix: Move figure styling into more generic media wrapper instead of just slideshows
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

chore: Remove redundant figure@
  common/app/views/fragments/items/elements/facia_cards/image.scala.html
  common/app/views/fragments/items/facia_cards/contentCard.scala.html
  static/src/stylesheets/module/facia-garnett/_item.scss
  static/src/stylesheets/module/facia/_item.scss
Owners: @guardian/dotcom-platform

fix: Add untracked captionedImage file
  common/app/views/fragments/items/elements/facia_cards/captionedImage.scala.html
Owners: @guardian/dotcom-platform

Add rikerdebug to list of accepted URL parameters (#24815)
  common/app/dev/DevParametersHttpRequestHandler.scala
Owners: @guardian/dotcom-platform

Add basic JSON-LD Structure to interactives articles (DCR)
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/LinkedData.scala
Owners: @guardian/dotcom-platform

chore: Remove experiment for slideshow captions
  common/app/experiments/Experiments.scala
  common/app/views/fragments/items/elements/facia_cards/captionedImage.scala.html
Owners: @guardian/dotcom-platform

Remove PotentialAction from interactive JSON-LD
  common/app/model/dotcomrendering/LinkedData.scala
Owners: @guardian/dotcom-platform

Pre-scala 2.13: upgrade play-googleauth (#24805)
  admin/app/conf/AdminConfiguration.scala
  admin/app/conf/GoogleAuth.scala
  admin/app/controllers/admin/IndexController.scala
  admin/app/controllers/admin/OAuthLoginAdminController.scala
  admin/app/controllers/cache/ImageDecacheController.scala
  admin/app/controllers/cache/PageDecacheController.scala
  build.sbt
  common/app/common/configuration.scala
  common/app/conf/GoogleAuth.scala
  common/app/googleAuth/OAuthLoginController.scala
  preview/app/controllers/OAuthLoginPreviewController.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Bump content-api-client-aws to 0.7
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Bump content-api-client-aws to 0.7 (#24822)
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

add SombreAltPalette and LongRunningAltPalette
  common/app/views/support/GetClasses.scala
Owners: @guardian/dotcom-platform

Refactor DCR Key-events
  common/app/model/ArticleBlocks.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Database file changes
  data/database/15f6cbce239846721f3f8f5c8069c47769ad29d731f556d726fafa007a519a95
  data/database/253b221ce865822b393b39238b75e32433216e85028bc2b9f2df3484421dd270
  data/database/294ef0a316f7d8cfe524deda30ba47eac2a3ed0d852cfd5cf49302683bc22c36
  data/database/2b3883a7e03b73c81a3371652ee3840ca64785164dcb98103118bcda5ac9487a
  data/database/4b0e4e85010b0cb68099729511674c36e8b6aa1638ab80f54911ca71aa355fde
  data/database/c5b13cf46cdffcab6d6a782e7706bfbdda72ec73a601484d83fbd07c04282310
  data/database/cc6ec06e6920fffeb349973882eb7ff732344ef513f05eaf991926e236d88772
Owners: @guardian/dotcom-platform

appease the scalafmt
  common/app/views/support/GetClasses.scala
Owners: @guardian/dotcom-platform

Clean up single front door test v2.
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/views/fragments/footer.scala.html
  common/app/views/fragments/header.scala.html
Owners: @guardian/dotcom-platform

Add DotcomRenderingFrontsModel
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingFrontsModel.scala
  common/app/navigation/DCRNavigation.scala
Owners: @guardian/dotcom-platform

Add dcr route to FaciaController to serve pressed page
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
