Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Remove flow archive prepare-a9 modules
  static/src/javascripts.flow.archive/lib/a9-apstag.js
  static/src/javascripts.flow.archive/projects/commercial/modules/dfp/prepare-a9.js
  static/src/javascripts.flow.archive/projects/commercial/modules/dfp/prepare-a9.spec.js
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

feat: use flex supports css
  static/src/stylesheets/base/_normalize.scss
  static/src/stylesheets/module/_adslot.scss
  static/src/stylesheets/module/email-signup/_form.scss
  static/src/stylesheets/module/email-signup/_iframe.scss
  static/src/stylesheets/module/facia-garnett/_items.scss
  static/src/stylesheets/module/facia-garnett/_l-list.scss
  static/src/stylesheets/module/facia-garnett/_linkslist.scss
  static/src/stylesheets/module/facia-garnett/_slices.scss
  static/src/stylesheets/module/facia/_item.scss
  static/src/stylesheets/module/facia/_items.scss
  static/src/stylesheets/module/facia/_linkslist.scss
  static/src/stylesheets/module/facia/_sublinks.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--full-media-50.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--full-media-75.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--half.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--three-quarters-right.scss
  static/src/stylesheets/module/facia/item-layouts/_fc-item--three-quarters.scss
  static/src/stylesheets/pasteup/layout/_src.scss
Owners: @guardian/dotcom-platform

Add additional check for GB
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Remove tcfv2 check for initial version
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Export default a9-apstag
  static/src/javascripts/lib/a9-apstag.js
Owners: @guardian/dotcom-platform

Remove ipsos mori ab test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/ipsos-mori-australia.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Press more interactives
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

update switch date
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Add extra ipsos tags for Australia
  common/app/model/IpsosTags.scala
Owners: @guardian/dotcom-platform

A front page cannot be supported on DCR if it has any container types that are not supported
  facia/app/utils/FaciaPicker.scala
  facia/test/package.scala
  facia/test/utils/FaciaPickerTest.scala
Owners: @guardian/dotcom-platform

Bump identityLibVersion to 3.254
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Bump macros and support-internationalisation libraries
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

replace banner image and update MorninBriefing ArticleEmailMetadata to FirstEdition
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/first-edition.png
  static/public/images/email/banners/morning-briefing.png
Owners: @guardian/dotcom-platform

chore: Change caption font size to be 12px on all displays
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

revert single front door v3 abtest
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/views/fragments/footer.scala.html
  common/app/views/fragments/header.scala.html
Owners: @guardian/dotcom-platform

Simplify if else statement in FaciaPicker.getTier method
  facia/app/utils/FaciaPicker.scala
  facia/test/utils/FaciaPickerTest.scala
Owners: @guardian/dotcom-platform

Add comment with links to check which containers are supported by DCR
  facia/app/utils/FaciaPicker.scala
Owners: @guardian/dotcom-platform

Extend Prebid price granularity AB test
  static/src/javascripts/projects/common/modules/experiments/tests/prebid-price-granularity.ts
Owners: @guardian/dotcom-platform

WIP: TODO - revert class separation
  common/app/common/ShowcaseRSSModules.scala
  common/app/common/TrailsToShowcase.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

WIP: Revert structural changes. TODO: tests
  common/app/common/ShowcaseRSSModules.scala
  common/app/common/TrailsToShowcase.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

remove test switches
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

remove lazy load ABTests
  static/src/javascripts/projects/commercial/modules/dfp/display-lazy-ads.ts
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

CAPI client v18.0.1
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Fix TrailsToShowcaseTests that use rss
  common/test/common/TrailsToShowcaseTest.scala
Owners: @guardian/dotcom-platform

Apply scalafmt
  common/app/common/TrailsToShowcase.scala
Owners: @guardian/dotcom-platform

fix spacefinder timeout
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Remove lazy load advert tests (#25006)
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/dfp/display-lazy-ads.ts
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

replace mediator with customevent for richlinks load
  static/src/javascripts/projects/common/modules/article/rich-links.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

fix spacefinder timeout
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  static/src/javascripts/projects/common/modules/article/rich-links.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add comments linking to googletag docs
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add size mappings for an Ozone passback
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Add fallback sizes array
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Add mpu for default size
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Press interactive
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Update PressedContent.scala
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
