Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Add active topic to DCR model
  article/app/controllers/LiveBlogController.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

update logic for topic filtering on renderjson
  article/app/controllers/LiveBlogController.scala
  article/test/DCRFake.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  common/app/model/LiveBlogCurrentPage.scala
  data/database/2b2f21011c866a5e57b929850a27098c6eb15b636a296e9a896f8a99d9c44854
  data/database/59ba5de757036c9da8eedc418b9a0f0a2c5cbdcf69e832a9e9c5d74ee7d7fda0
  data/database/c50a0639c6c0c0cfcc797271e37c0b90277a0e182b178e9ca6b58ac1c91b3aa6
  data/database/fa3f5451344d734fd7a8f4a282329cd787a0a21da204dc05710f062d1a90265b
Owners: @guardian/dotcom-platform

chore(deps): bump @guardian/consent-management-platform from 10.7.0 to 10.7.1
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Update teamForm.scala.html
  sport/app/football/views/fragments/teamForm.scala.html
Owners: @guardian/dotcom-platform

Import ad size mappings from commercial-core (#25124)
  package.json
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/add-slot.ts
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.js
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-render.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
  static/src/javascripts/projects/common/modules/commercial/lib/googletag-ad-size.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

clean path to remove queries
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

fix links in pagination result for topic filtering
  article/app/controllers/LiveBlogController.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  yarn.lock
Owners: @guardian/dotcom-platform

replace if statement with pattern match
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

Pass topics query through to model
  article/app/controllers/LiveBlogController.scala
  article/app/topmentions/TopMentionsService.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Fix test
  article/test/DCRFake.scala
Owners: @guardian/dotcom-platform

bump commercial-core to v4.2.1
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

bump commercial-core to 4.3.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

fallback to data attributes if size mapping empty
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Rename to selectedTopics and availableTopics
  article/app/controllers/LiveBlogController.scala
  article/test/DCRFake.scala
  article/test/LiveBlogControllerTest.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Fix renderArticle param
  article/app/controllers/LiveBlogController.scala
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

more explicit name for getSlotSizeMappingsFromDataAttrs
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
Owners: @guardian/commercial-dev

Ad slots should fallback to data attributes if size mapping is empty (#25145)
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

replace documentaries.gif
  static/public/images/email/banners/documentaries.gif
Owners: @guardian/dotcom-platform

Update common/app/model/LiveBlogCurrentPage.scala
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

Rename all refs to TopMentionsResult
  article/app/controllers/LiveBlogController.scala
  article/app/model/LiveBlogHelpers.scala
  article/app/topmentions/TopMentionsService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  article/test/topmentions/TopMentionsServiceTest.scala
  common/app/model/LiveBlogCurrentPage.scala
  common/app/model/TopMentionsModel.scala
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Fix naming issue
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

Install Cypress v10.2.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Migrate Cypress from v9 to v10
  cypress.config.ts
  cypress.json
  cypress/e2e/consent.cy.ts
  cypress/e2e/right-slot.cy.ts
  cypress/e2e/slots.cy.ts
  cypress/e2e/targeting.cy.ts
  cypress/e2e/top-above-nav.cy.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
Owners: @guardian/dotcom-platform

Format Cypress tsconfig.json
  cypress/tsconfig.json
Owners: @guardian/dotcom-platform

Remove deprecated @types/cypress
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Add Cypress yarn scripts
  package.json
Owners: @guardian/dotcom-platform

send component events for open-captcha
  static/src/javascripts/bootstraps/enhanced/newsletters.js
Owners: @guardian/dotcom-platform

add event for form submission
  static/src/javascripts/bootstraps/enhanced/newsletters.js
Owners: @guardian/dotcom-platform

Add selected and available topics
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

Add mocks for test
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

showSignupForm should only be called once per button
  static/src/javascripts/bootstraps/enhanced/newsletters.js
Owners: @guardian/dotcom-platform

only render each captcha once and execute when required - multiple renders in same element causes an error
  static/src/javascripts/bootstraps/enhanced/newsletters.js
Owners: @guardian/dotcom-platform

treat form submission as an "ANSWER" - only track "SUBSCRIBE" if the response confirms
  static/src/javascripts/bootstraps/enhanced/newsletters.js
Owners: @guardian/dotcom-platform

Convert define-slot to TypeScript
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Convert define-slot to Typescript
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.ts
  static/src/javascripts/projects/common/modules/commercial/lib/googletag-ad-size.ts
  static/src/javascripts/types/global.d.ts
  static/src/javascripts/types/ias.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

add user feedback for failed sign-ups
  applications/app/views/signup/newsletterContent.scala.html
  static/src/javascripts/bootstraps/enhanced/newsletters.js
  static/src/stylesheets/module/signup/_newsletters.scss
Owners: @guardian/dotcom-platform

simplify and describe getSizeOpts
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.ts
Owners: @guardian/commercial-dev

unused export in Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
Owners: @guardian/commercial-dev

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
