Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Bump Cypress to v10.3.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Add testing colour to SVG
  static/public/images/badges/05_july_2022_Badge.svg
Owners: @guardian/dotcom-platform

Add multiSticky query parameter
  common/app/dev/DevParametersHttpRequestHandler.scala
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Change sample size to 20%
  static/src/javascripts/projects/common/modules/experiments/tests/multi-sticky-right-ads.ts
Owners: @guardian/dotcom-platform

Adjust language in comment for getUrlVrs
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

update 5 july 22 badge to fnal version
  static/public/images/badges/05_july_2022_Badge.svg
Owners: @guardian/dotcom-platform

return last updated block from unfiltered list in the render json response
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

fix fluid ads refreshing
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.ts
Owners: @guardian/commercial-dev

add unit tests for should-refresh.ts
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.spec.ts
Owners: @guardian/commercial-dev

update variable name
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.spec.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

remove useless export
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.spec.ts
Owners: @guardian/commercial-dev

Fix fluid ads refreshing (#25218)
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Change multi-sticky audience size to 30%
  static/src/javascripts/projects/common/modules/experiments/tests/multi-sticky-right-ads.ts
Owners: @guardian/dotcom-platform

change banner for moving the goalposts email to euro-2022 version
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/moving-the-goalposts-euro-2022.png
Owners: @guardian/dotcom-platform

Redirect /theobserver to /observer
  applications/app/controllers/NewspaperController.scala
Owners: @guardian/dotcom-platform

Remove superfluous use of `implicits.Collections`
  commercial/app/controllers/Multi.scala
  common/app/common/dfp/DfpData.scala
  common/app/contentapi/ContentApiClient.scala
  common/app/implicits/Collections.scala
  common/app/layout/ContainerLayout.scala
  common/app/layout/TagHistogram.scala
  common/app/services/IndexPageGrouping.scala
  facia/app/controllers/FaciaController.scala
  sport/app/football/feed/Competitions.scala
  sport/app/football/model/matches.scala
  sport/app/football/model/model.scala
  sport/test/football/model/CompetitionStageTest.scala
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

update Tag pasrsing for desired tag format
  common/app/services/NewsletterService.scala
Owners: @guardian/dotcom-platform

Remove `CommercialEndOfQuarter2Test`
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-end-of-quarter-2-test.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

make prebid test more genric and reusable
  cypress/e2e/prebid.cy.ts
  cypress/fixtures/prebid-response.ts
  cypress/fixtures/prebid.ts
Owners: @guardian/dotcom-platform

intersept -> intercept
  cypress/e2e/prebid.cy.ts
Owners: @guardian/dotcom-platform

inptercept prebid
  cypress/e2e/prebid.cy.ts
  cypress/fixtures/prebid-response.ts
Owners: @guardian/dotcom-platform

intersept -> intercept
  cypress/e2e/prebid.cy.ts
Owners: @guardian/dotcom-platform

feat: expose byline to DCR
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Add basic prebid test to Cypress (#25222)
  cypress/e2e/prebid.cy.ts
  cypress/fixtures/prebid.ts
Owners: @guardian/dotcom-platform

change banner for moving the goalposts email to euro-2022 version (#25221)
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/moving-the-goalposts-euro-2022.png
Owners: @guardian/dotcom-platform

use black label for .email-sub__form--thrasher-the-breakdown
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

remove selectedTopic param (accidently restored on last sync with main)
  article/app/controllers/LiveBlogController.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Change spacefinder measurement bodyTop to be independent of screen position. It now reflects the number of pixels between the top of the page and the rules.body object.
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Specify a minimum height for the sticky container
  static/src/javascripts/projects/commercial/modules/sticky-inlines.ts
Owners: @guardian/commercial-dev

fix: Correct Cron expression for Stale PR workflow
  .github/workflows/stale.yml
Owners: @guardian/dotcom-platform

fix: Correct cron expression for Stale PR action
  .github/workflows/stale.yml
Owners: @guardian/dotcom-platform

add element id to newsletter embed
  common/app/model/dotcomrendering/ElementsEnhancer.scala
Owners: @guardian/dotcom-platform

typo, formatting
  article/app/controllers/ArticleController.scala
  common/app/model/dotcomrendering/ElementsEnhancer.scala
Owners: @guardian/dotcom-platform

use getUTCMonth() +1 for month value
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  static/src/javascripts/projects/common/modules/tracking/utc-date-format.ts
Owners: @guardian/dotcom-platform

Refactor body element calculations
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Add spacefinder debug mode option to liveblogs. Refactor constants for readability.
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

rebuild commercial bundle graph
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Rename constants and add ts docs. Make SpacefinderOptions properties optional and set overridable defaults.
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
