Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Fix local e2e fronts path
  cypress/fixtures/pages.js
Owners: @guardian/dotcom-platform

Attempt at e2e ad image snapshots
  cypress.json
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost3030Articleurl=httpstheguardian.compolitics2022feb10keir-starmer-says-stop-the-war-coalition-gives-help-to-authoritarians-like-putin has top-above-nav slot and iframe #0.actual.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost3030Articleurl=httpstheguardian.compolitics2022feb10keir-starmer-says-stop-the-war-coalition-gives-help-to-authoritarians-like-putin has top-above-nav slot and iframe #0.diff.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost3030Articleurl=httpstheguardian.compolitics2022feb10keir-starmer-says-stop-the-war-coalition-gives-help-to-authoritarians-like-putin has top-above-nav slot and iframe #0.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost3030Articleurl=httpstheguardian.compolitics2022feb10keir-starmer-says-stop-the-war-coalition-gives-help-to-authoritarians-like-putin has top-above-nav slot and iframe #1.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost3030Articleurl=httpstheguardian.comsport2022feb10team-gb-winter-olympic-struggles-go-on-with-problems-for-skeleton-crew has top-above-nav slot and iframe #0.actual.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost3030Articleurl=httpstheguardian.comsport2022feb10team-gb-winter-olympic-struggles-go-on-with-problems-for-skeleton-crew has top-above-nav slot and iframe #0.diff.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost3030Articleurl=httpstheguardian.comsport2022feb10team-gb-winter-olympic-struggles-go-on-with-problems-for-skeleton-crew has top-above-nav slot and iframe #0.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost3030Articleurl=httpstheguardian.comsport2022feb10team-gb-winter-olympic-struggles-go-on-with-problems-for-skeleton-crew has top-above-nav slot and iframe #1.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost9000politicslive2022jan31uk-politics-live-omicron-nhs-workers-coronavirus-vaccines-no-10-sue-gray-report has top-above-nav slot and iframe #0.png
  cypress/integration/__image_snapshots__/top-above-nav on pages  Test httplocalhost9000uk has top-above-nav slot and iframe #0.png
  cypress/integration/top-above-nav.spec.js
  cypress/plugins/index.js
  cypress/support/index.js
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

remove references to old identity newsletter models
  common/app/controllers/EmailSignupController.scala
  common/app/services/newsletters/NewsletterApi.scala
  common/app/services/newsletters/NewsletterSignupAgent.scala
  common/app/services/newsletters/model/EmailEmbed.scala
  common/app/services/newsletters/model/NewsletterIllustration.scala
  common/app/services/newsletters/model/NewsletterResponse.scala
  common/app/staticpages/StaticPages.scala
  common/app/views/emailFragment.scala.html
  common/app/views/emailFragmentThrasher.scala.html
  common/app/views/emailLanding.scala.html
  common/app/views/emailSubscriptionSuccessResult.scala.html
  common/app/views/fragments/email/signup/result/emailResultNewDesign.scala.html
  common/app/views/fragments/email/signup/result/emailSuccess.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
  common/app/views/fragments/emailLandingBody.scala.html
Owners: @guardian/dotcom-platform

Perform deep equals on price config in test
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
Owners: @guardian/commercial-dev

bump sass lint
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

remove references to old identity newlsetter model from footer and test
  common/app/views/fragments/footer.scala.html
  identity/test/controllers/EditProfileControllerTest.scala
Owners: @guardian/dotcom-platform

remove hologram docs from SASS
  package.json
  static/src/stylesheets/base/_faux-block-link.scss
  static/src/stylesheets/module/_media.scss
  static/src/stylesheets/module/_social.scss
  static/src/stylesheets/module/_tabs-garnett.head.scss
  static/src/stylesheets/module/_tabs.head.scss
  static/src/stylesheets/module/charts/_doughnuts.scss
  static/src/stylesheets/module/facia/_pagination.scss
  static/src/stylesheets/module/identity/_button.scss
Owners: @guardian/dotcom-platform

remove -ms-appearance as it's not a valid css property
  static/src/stylesheets/module/identity/_button.scss
Owners: @guardian/dotcom-platform

rebump sass-lint
  package.json
Owners: @guardian/dotcom-platform

Remove sticky-videos feature switch
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

some sass-lint disabling
  static/src/stylesheets/amp/_adconsent.scss
  static/src/stylesheets/head.atom-snippets.scss
Owners: @guardian/dotcom-platform

Setup custom price granularity for Criteo (#24886)
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.ts
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Add sticky-videos feature switch
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Update switch naming to StickyVideos
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Update switch naming to StickyVideos
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

feat: Allow some images to be used as slideshows on mobile displays
  common/app/layout/FaciaCard.scala
  common/app/layout/ItemClasses.scala
  common/app/model/FaciaDisplayElement.scala
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

Update common/app/conf/switches/FeatureSwitches.scala
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Update images for Headlines (formerly The Guardian Today)
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/the-guardian-today-australia.png
  static/public/images/email/banners/the-guardian-today-uk.png
  static/public/images/email/banners/the-guardian-today-us.png
  static/public/images/email/banners/the-guardian-today.png
Owners: @guardian/dotcom-platform

Update naming - Guardian Today => Guardian Headlines
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/the-guardian-headlines-australia.png
  static/public/images/email/banners/the-guardian-headlines-uk.png
  static/public/images/email/banners/the-guardian-headlines-us.png
Owners: @guardian/dotcom-platform

Update naming to reflect the front's webTitle
  common/app/model/EmailAddons.scala
Owners: @guardian/dotcom-platform

Update banners for The Guardian Today emails (#24890)
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/the-guardian-headlines-australia.png
  static/public/images/email/banners/the-guardian-headlines-uk.png
  static/public/images/email/banners/the-guardian-headlines-us.png
  static/public/images/email/banners/the-guardian-today-australia.png
  static/public/images/email/banners/the-guardian-today-us.png
  static/public/images/email/banners/the-guardian-today.png
Owners: @guardian/dotcom-platform

feat: Re-add check for canShowSlideshow but adds MediaList to it
  common/app/layout/FaciaCard.scala
  common/app/layout/ItemClasses.scala
  common/app/layout/cards/CardType.scala
  common/app/model/FaciaDisplayElement.scala
Owners: @guardian/dotcom-platform

update copy on footer sign-up button and form heading from "...Guardian Today email" to "...Guardian Headlines email"
  common/app/views/fragments/email/signup/footer/emailSignUpFooter.scala.html
  common/app/views/linkToEmailSignupPage.scala.html
Owners: @guardian/dotcom-platform

reduce link button text size to prevent longer copy wrapping
  static/src/stylesheets/module/email-signup/_iframe.scss
Owners: @guardian/dotcom-platform

fix imports
  applications/app/views/signup/newsletterContent.scala.html
  identity/app/views/completeConsents.scala.html
  identity/app/views/consentJourney.scala.html
  identity/app/views/fragments/emailListCategories.scala.html
  identity/app/views/fragments/newsletterSwitch.scala.html
  identity/app/views/profile/emailPrefs.scala.html
Owners: @guardian/dotcom-platform

Adds Ashleigh Carr to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Add Fred O'Brien to `humans.txt`
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

add Ara Cho to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Add Tom Pretty to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Press Northern Ireland assembly election results interactive
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Press Northern Ireland assembly election results interactive (#24896)
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Add Mahesh Makani to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Bump quartz version
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Add MS to humans
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Fix Prebid tests to always be in control
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
Owners: @guardian/commercial-dev

Add AB test switch
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Add client-side AB test
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/prebid-price-granularity.ts
Owners: @guardian/dotcom-platform

Add MS to humans (#24899)
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

formatting
  common/app/controllers/EmailSignupController.scala
Owners: @guardian/dotcom-platform

Improve test names
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
Owners: @guardian/commercial-dev
