Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Passback method to hold the initial iframe and create a new slot
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback use classlist to add classes
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

update tests in accordance with newsletterService
  identity/test/controllers/ConsentsJourneyControllerTest.scala
  identity/test/controllers/EditProfileControllerTest.scala
  identity/test/controllers/EmailVerificationControllerTest.scala
  identity/test/controllers/FormstackControllerTest.scala
Owners: @guardian/dotcom-platform

Remove EmailNewsletters from test
  identity/test/controllers/ConsentsJourneyControllerTest.scala
Owners: @guardian/dotcom-platform

Update Identity library from 3.240-C5 to 3.253
  identity/app/views/support/fragment/ConsentChannel.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Reverse logic to always have the most recent block id.
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

Fix max height of an ad label
  static/src/stylesheets/module/_adslot.scss
Owners: @guardian/dotcom-platform

Clearer comment on new Prebid function
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
Owners: @guardian/commercial-dev

Add 300px container to `inline2+` ad slots
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
Owners: @guardian/commercial-dev

chore(deps): bump @guardian/consent-management-platform from 10.3.1 to 10.5.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Bump identityLibVersion to 3.253
  identity/app/views/support/fragment/ConsentChannel.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Convert get-stylesheet to ts
  static/src/javascripts/projects/commercial/modules/messenger/get-stylesheet.js
  static/src/javascripts/projects/commercial/modules/messenger/get-stylesheet.spec.js
  static/src/javascripts/projects/commercial/modules/messenger/get-stylesheet.ts
Owners: @guardian/commercial-dev

define clearContentMeta by destructuring rules
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

update tests to use new consent state
  static/src/javascripts/projects/commercial/initial-consent-state.spec.ts
  static/src/javascripts/projects/commercial/modules/comscore.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-api.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.spec.ts
  static/src/javascripts/projects/commercial/modules/third-party-tags.spec.ts
  static/src/javascripts/projects/common/modules/atoms/youtube-player.spec.ts
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

use null when framework undefined
  static/src/javascripts/projects/commercial/initial-consent-state.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.spec.ts
  static/src/javascripts/projects/common/modules/atoms/youtube-player.spec.ts
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

please linter
  static/src/javascripts/projects/commercial/initial-consent-state.spec.ts
  static/src/javascripts/projects/commercial/modules/comscore.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-api.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.spec.ts
  static/src/javascripts/projects/commercial/modules/third-party-tags.spec.ts
  static/src/javascripts/projects/common/modules/atoms/youtube-player.spec.ts
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Remove `steady-page` docs
  docs/06-features-and-components/01-steadypage-js-utility.md
  docs/README.md
Owners: @guardian/dotcom-platform

Remove `isDotcomRendering` check from spacefinder
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

add recommended way of implementing Snyk actions
  .github/workflows/snyk-node.yml
  .github/workflows/snyk-pr.yml
  .github/workflows/snyk.yml
Owners: @guardian/dotcom-platform

Don't mock implementation of AB test
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
Owners: @guardian/commercial-dev

Fix output of tests
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
Owners: @guardian/commercial-dev

Use ad sizes when determining price config
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.ts
Owners: @guardian/commercial-dev

Make commercial graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

add badge and associate with newsletters tone
  common/app/model/Badges.scala
  static/public/images/badges/newsletter-badge.svg
Owners: @guardian/dotcom-platform

Add support for cricket match urls in DCR data model, add matchType to help DCR understand the type of URL it received
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
Owners: @guardian/dotcom-platform

put back partitionCandidates
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

enforce content meta rule if clearContentMeta is truthy
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

add -tone
  common/app/model/Badges.scala
Owners: @guardian/dotcom-platform

add -tone
  common/app/model/Badges.scala
Owners: @guardian/dotcom-platform

Temporarily stop putting inline2+ ads in container
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

refactor: dont use jsconfig to get cricket data
  common/app/model/content.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
Owners: @guardian/dotcom-platform

fix: data-link-name is secondary
  common/app/views/fragments/nav/headerMenu.scala.html
Owners: @guardian/dotcom-platform

Convert spacefinder to TypeScript (#24885)
  static/src/javascripts.flow.archive/projects/common/modules/spacefinder.js
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/common/modules/article/space-filler.ts
  static/src/javascripts/projects/common/modules/spacefinder.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

import SpacefinderItem, SpacefinderRules, SpacefinderWriter from spacefinder.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Add Olly Namey to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Hotfix spacefinder imports (#24934)
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Add the ability to show contributors' small byline images in liveblogs
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Add comment for the need of small byline images fallback
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Add Pete F
  facia/public/humans.txt
Owners: @guardian/dotcom-platform
