Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Add log for live match refresh
  sport/app/football/feed/Competitions.scala
Owners: @guardian/dotcom-platform

add the maybeRefreshLiveMatches call to the akkaAsync after1s
  sport/app/football/conf/context.scala
Owners: @guardian/dotcom-platform

fix toDCRBlock abstraction to account for main block
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Convert article-body-adverts and space-filler to TypeScript (#24599)
  static/src/javascripts.flow.archive/projects/commercial/modules/article-body-adverts.js
  static/src/javascripts.flow.archive/projects/common/modules/article/space-filler.js
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
  static/src/javascripts/projects/commercial/modules/filter-nearby-candidates-fixed.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
  static/src/javascripts/projects/common/modules/article/rich-links.js
  static/src/javascripts/projects/common/modules/article/space-filler.js
  static/src/javascripts/projects/common/modules/article/space-filler.spec.js
  static/src/javascripts/projects/common/modules/article/space-filler.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

chore(deps): bump @guardian/consent-management-platform from 10.1.1 to 10.1.2
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Adding pinned post to DCR model (#24578)
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Fix broken link to BBC accessibility guidelines
  docs/04-quality/03-accessibility.md
Owners: @guardian/dotcom-platform

Update captcha terms wording and styling
  common/app/views/fragments/email/signup/recaptchaTerms.scala.html
  static/src/stylesheets/module/email-signup/_iframe.scss
Owners: @guardian/dotcom-platform

Update captcha terms wording and styling (#24644)
  common/app/views/fragments/email/signup/recaptchaTerms.scala.html
  static/src/stylesheets/module/email-signup/_iframe.scss
Owners: @guardian/dotcom-platform

fix: Makes changes based on PR comments
  article/app/controllers/LiveBlogController.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Text color becomes black
  common/app/views/fragments/email/signup/recaptchaTerms.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  static/src/stylesheets/module/email-signup/_iframe.scss
Owners: @guardian/dotcom-platform

strip HTML from meta[content]
  common/app/views/fragments/metaData.scala.html
Owners: @guardian/dotcom-platform

add HTML sanitation to getOpenGraphProperties methods
  common/app/model/meta.scala
  common/app/views/fragments/metaData.scala.html
Owners: @guardian/dotcom-platform

remove HTML sanitation to getOpenGraphProperties methods
  common/app/model/meta.scala
Owners: @guardian/dotcom-platform

actually strip HTML tags from meta attribute content
  common/app/model/meta.scala
  common/app/views/fragments/metaData.scala.html
Owners: @guardian/dotcom-platform

use element classlist instead of setAttributes
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  static/src/stylesheets/module/email-signup/_iframe.scss
Owners: @guardian/dotcom-platform

update experiment start date
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-2-images-loaded.ts
Owners: @guardian/dotcom-platform

Update experiment audience to 10%
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-2-images-loaded.ts
Owners: @guardian/dotcom-platform

chore: Fix formatting issues and adds unit tests
  article/app/controllers/LiveBlogController.scala
  article/test/DCRFake.scala
  article/test/LiveBlogControllerTest.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Fix spacefinder image loading bugs (#24610)
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-2-images-loaded.ts
  static/src/javascripts/projects/common/modules/on-images-loaded-broken.js
  static/src/javascripts/projects/common/modules/on-images-loaded-fixed.js
  static/src/javascripts/projects/common/modules/spacefinder.js
  static/src/javascripts/projects/common/modules/spacefinder.spec.js
Owners: @guardian/dotcom-platform

chore: Fix scala formatting
  article/test/DCRFake.scala
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

add nov 2014 pal oil interactive
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

scalafmt
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

title case More on this story container
  common/app/views/fragments/storyPackagePlaceholder.scala.html
Owners: @guardian/dotcom-platform

chore: Renames flattenedBlocks to something a bit more meaningful
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

add basic monix observable
  build.sbt
  project/Dependencies.scala
  sport/app/football/conf/context.scala
Owners: @guardian/dotcom-platform

chore: Only take blocks around from requestedBodyBlocks
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

chore: Switches methods to use the correct type of map to avoid having to convert
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

remove HTML from tag and StripHtmlTagsAndUnescapeEntities in metadata
  common/app/model/Tag.scala
  common/app/views/fragments/metaData.scala.html
Owners: @guardian/dotcom-platform

add interactives that have breakout content to pressed content
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Set a min-height for email embed iframes
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

use css focus instead of js
  common/app/views/fragments/email/signup/privacyNoticeContent.scala.html
  common/app/views/fragments/email/signup/recaptchaTerms.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  static/src/stylesheets/module/email-signup/_iframe.scss
Owners: @guardian/dotcom-platform

update styling and content for sucess messages on all newsletters page
  applications/app/views/signup/newsletterContent.scala.html
  static/src/stylesheets/module/signup/_newsletters.scss
Owners: @guardian/dotcom-platform

use the emailListing.emailEmbed successHeadline and successDescription
  applications/app/views/signup/newsletterContent.scala.html
Owners: @guardian/dotcom-platform

Inline initMetrics code
  static/src/javascripts/projects/commercial/commercial-metrics.ts
  static/src/javascripts/projects/commercial/modules/ad-verification/prepare-ad-verification.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

scaffold the route for a newsletter details page
  applications/app/controllers/SignupPageController.scala
  applications/conf/routes
  dev-build/conf/routes
Owners: @guardian/dotcom-platform

Set a min-height for email embed iframes (#24661)
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

create basic view and data model for NewsletterDetailHtmlPage
  applications/app/controllers/SignupPageController.scala
  applications/app/pages/NewsletterDetailHtmlPage.scala
  applications/app/views/signup/newsletterDetailContent.scala.html
  common/app/staticpages/StaticPages.scala
Owners: @guardian/dotcom-platform

add recomdendations to page model
  applications/app/controllers/SignupPageController.scala
  applications/app/views/signup/newsletterDetailContent.scala.html
  common/app/staticpages/StaticPages.scala
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
