Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Revert "support optional iframe_location param to identify which part of the page loaded the iframe"
  common/app/common/LinkTo.scala
  common/app/controllers/EmailSignupController.scala
  common/app/views/emailFragment.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

update naming to allowList
  common/app/common/RequestLogger.scala
Owners: @guardian/dotcom-platform

prettify
  common/app/common/RequestLogger.scala
Owners: @guardian/dotcom-platform

use ophan-iframe-submit-event as the event.type for submits
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
Owners: @guardian/dotcom-platform

fix(flex): assume flex is broadly supported
  static/src/stylesheets/module/facia-garnett/_items.scss
  static/src/stylesheets/module/facia-garnett/_l-list.scss
  static/src/stylesheets/module/facia-garnett/_linkslist.scss
  static/src/stylesheets/module/facia-garnett/_slices.scss
  static/src/stylesheets/pasteup/layout/_src.scss
Owners: @guardian/dotcom-platform

add cities lookup V2
  onward/app/weather/geo/CitiesLookUpV2.scala
  onward/test/weather/geo/CitiesLookUpTest.scala
Owners: @guardian/dotcom-platform

drop opnly the CSV field names line from CitiesLookUpV2
  onward/app/weather/geo/CitiesLookUpV2.scala
Owners: @guardian/dotcom-platform

Add attributes to DCR blocks
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Update CitiesLookupTest
  onward/test/weather/geo/CitiesLookUpTest.scala
Owners: @guardian/dotcom-platform

remove old CitiesLookUp
  onward/app/weather/geo/CitiesLookUp.scala
  onward/app/weather/geo/CitiesLookUpV2.scala
  onward/test/weather/geo/CitiesLookUpTest.scala
Owners: @guardian/dotcom-platform

Remove println
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

use accuweather for city lookup
  onward/app/weather/WeatherApi.scala
  onward/app/weather/controllers/LocationsController.scala
  onward/app/weather/geo/CitiesLookUp.scala
Owners: @guardian/dotcom-platform

read logging to LocationsController
  onward/app/weather/controllers/LocationsController.scala
Owners: @guardian/dotcom-platform

exclude region from city name if region isn't specified
  onward/app/weather/controllers/LocationsController.scala
Owners: @guardian/dotcom-platform

s/AccuWeather/accuwweather
  onward/app/weather/controllers/LocationsController.scala
Owners: @guardian/dotcom-platform

chore: Press /technology/ng-interactive/2018/may/15/the-guardian-app
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Extend inline1 experiment test date
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

feat: Add a description and update the title of the newsletter signup page
  common/app/staticpages/StaticPages.scala
  common/app/views/support/Title.scala
Owners: @guardian/dotcom-platform

docs: Adds documentation about what SectionsToIgnore does
  common/app/views/support/Title.scala
Owners: @guardian/dotcom-platform

add prod and code to riff-raff allowedStages
  riff-raff.yaml
Owners: @guardian/dotcom-platform

Rename keyEvents as timeline on DCR model
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Use fetch instead of window.fetch. Use URL object to build url.
  static/src/javascripts/projects/commercial/modules/dfp/non-refreshable-line-items.ts
Owners: @guardian/commercial-dev

chore: Re-add "Guardian newsletters:" to newsletters title
  common/app/staticpages/StaticPages.scala
Owners: @guardian/dotcom-platform

Rename to timelineBlocks
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Fix getIframeBody helper. Move it to a custom Cypress command
  cypress.json
  cypress/integration/right-slot.spec.js
  cypress/integration/slots.spec.js
  cypress/integration/top-above-nav.spec.js
  cypress/lib/iframe.js
  cypress/support/commands.js
  cypress/support/index.js
Owners: @guardian/dotcom-platform

Liveblogs now served by DCR, so updated test. Fixed incorrect url
  cypress/fixtures/pages.js
Owners: @guardian/dotcom-platform

Fix iframe selector for slots.spec file
  cypress/integration/slots.spec.js
Owners: @guardian/dotcom-platform

Use config.page.host to get host URL
  static/src/javascripts/projects/commercial/modules/dfp/non-refreshable-line-items.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

fix(ab-ophan): remove any type with generics
  static/src/javascripts/projects/common/modules/experiments/ab-ophan.ts
Owners: @guardian/dotcom-platform

Revert "Rename `keyEvents` to `timelineBlocks` on DCR model"
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Add Relevant Yield cookie sync iframe
  static/vendor/data/amp-iframe.html
Owners: @guardian/dotcom-platform

add Formula One to US Sports pillar
  common/app/navigation/NavLinks.scala
Owners: @guardian/dotcom-platform

Remove 550x310 size from prebid slot config
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
Owners: @guardian/commercial-dev

Set targeting on a defined passback slot
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Log targeting for a passback slot
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Update passback logging
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Update passback slot name
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback update comments
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback rename initial slot
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback expand logging
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
