Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

eslint
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/commercial-dev

keep track of why adfree is set
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

rename ad free reason enum values
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Add comments explaining ad free reasons
  static/src/javascripts/lib/manage-ad-free-cookie.ts
Owners: @guardian/dotcom-platform

refactor management of ad free cookie and reasons
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/lib/set-ad-free-cookie.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  static/src/javascripts/projects/common/modules/commercial/utils.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

helper function getAdFreeCookieReason
  static/src/javascripts/lib/manage-ad-free-cookie.ts
Owners: @guardian/dotcom-platform

when forcing ad free, pass reason to setAdFreeCookie
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/lib/manage-ad-free-cookie.ts
Owners: @guardian/dotcom-platform

move cookie utils to their own file
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/projects/common/modules/commercial/lib/cookie.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

revert whitespace changes in main.js
  static/src/javascripts/bootstraps/standard/main.js
Owners: @guardian/dotcom-platform

add consent cypress tests
  cypress.json
  cypress/fixtures/pages.ts
  cypress/integration/consent.spec.js
  cypress/lib/util.ts
  cypress/support/commands.ts
Owners: @guardian/dotcom-platform

add unit tests
  static/src/javascripts/lib/manage-ad-free-cookie.spec.ts
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.spec.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

remove fixed width on button
  archive/app/views/notFound.scala.html
Owners: @guardian/dotcom-platform

wrap ophan-iframe-click-event payload in object with single field of componentEvent
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
Owners: @guardian/dotcom-platform

componentEvent.value should be string, not string[]
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
Owners: @guardian/dotcom-platform

feat: Remove inline override and allow immersive weighting in all articles
  common/app/layout/ContentWidths.scala
Owners: @guardian/dotcom-platform

convert consent cypress test to ts
  cypress.json
  cypress/.eslintrc.json
  cypress/cypress.webpack.config.ts
  cypress/integration/consent.spec.ts
  cypress/integration/slots.spec.ts
  cypress/lib/util.ts
  cypress/plugins/index.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/projects/common/modules/commercial/lib/cookie.ts
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

add foundation for top mention background job
  article/app/AppLoader.scala
  article/app/jobs/TopMentionsLifecycle.scala
  article/app/topmentions/TopMentionsModel.scala
  article/app/topmentions/TopMentionsS3Client.scala
  article/app/topmentions/TopMentionsService.scala
  common/app/common/configuration.scala
Owners: @guardian/dotcom-platform

redplanet - replace getInitialConsentState with onConsent
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.ts
Owners: @guardian/commercial-dev

redplanet.spec - replace getInitialConsentState with onConsent
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.ts
Owners: @guardian/commercial-dev

redplanet.spec - refactor simplify mocks
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.ts
Owners: @guardian/commercial-dev

prepare-a9 - replace getInitialConsentState with onConsent
  static/src/javascripts/projects/commercial/modules/dfp/prepare-a9.ts
Owners: @guardian/commercial-dev

third-party-tags - replace getInitialConsentState with onConsent
  static/src/javascripts/projects/commercial/modules/third-party-tags.ts
Owners: @guardian/commercial-dev

third-party-tags.spec - replace getInitialConsentState with onConsent
  static/src/javascripts/projects/commercial/modules/third-party-tags.spec.ts
Owners: @guardian/commercial-dev

ipsos-mori - replace getInitialConsentState with onConsent
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

comscore - replace getInitialConsentState with onConsent
  static/src/javascripts/projects/commercial/modules/comscore.ts
Owners: @guardian/commercial-dev

comscore.spec - replace getInitialConsentState with onConsent
  static/src/javascripts/projects/commercial/modules/comscore.spec.ts
Owners: @guardian/commercial-dev

comscore.spec - more jest mock simplification
  static/src/javascripts/projects/commercial/modules/comscore.spec.ts
Owners: @guardian/commercial-dev

Delete initial-consent-state.spec
  static/src/javascripts/projects/commercial/initial-consent-state.spec.ts
Owners: @guardian/commercial-dev

Delete initial-consent-state
  static/src/javascripts/projects/commercial/initial-consent-state.ts
Owners: @guardian/commercial-dev

Refactor ipsos-mori.ts
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Update
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Swap getInitialConsentState for onConsent
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

track-scroll-depth - replace getenhancedconsent with onconsent
  static/src/javascripts/projects/commercial/modules/track-scroll-depth.ts
Owners: @guardian/commercial-dev

prepare-googletag - replace getenhancedconsent with onconsent
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
Owners: @guardian/commercial-dev

Rename dfp-api.spec to prepare-googletag.spec
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
Owners: @guardian/commercial-dev

prepare-googletag.spec : replace getEnhancedConsent with onConsent and simplify mocks
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
Owners: @guardian/commercial-dev

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
