Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Update topic switch description
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

chore: We now show topics on more than just business blogs
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Convert sticky-mpu to TS
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-mpu.js
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
  static/src/javascripts/projects/commercial/modules/sticky-mpu.spec.ts
  static/src/javascripts/projects/commercial/modules/sticky-mpu.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

add invocation
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

remove redundant data-attribute assignment
  static/src/javascripts/projects/commercial/modules/sticky-mpu.spec.ts
Owners: @guardian/commercial-dev

onResize params match messenger types
  static/src/javascripts/projects/commercial/modules/sticky-mpu.ts
Owners: @guardian/commercial-dev

replace code test pillar value by news
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
Owners: @guardian/dotcom-platform

fix: filter out cancelled newsletters (#25263)
  common/app/services/newsletters/NewsletterSignupAgent.scala
  common/app/services/newsletters/NewsletterSignupLifecycle.scala
  common/app/services/newsletters/model/NewsletterResponse.scala
Owners: @guardian/dotcom-platform

assert targetslot is not null
  static/src/javascripts/projects/commercial/modules/sticky-mpu.spec.ts
Owners: @guardian/commercial-dev

Set multi-sticky AB test audience to 0%
  static/src/javascripts/projects/common/modules/experiments/tests/multi-sticky-right-ads.ts
Owners: @guardian/dotcom-platform

render html for onwards using dcr when html flag is set
  common/app/implicits/Requests.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

Bump commercial-core
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Use concat fn from commercial-core
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
Owners: @guardian/commercial-dev

Remove startIndex, rename Cards/ endpoint
  common/app/model/dotcomrendering/DotcomCardsRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

Remove flow archive files that no longer exist in active directories
  static/src/javascripts.flow.archive/projects/common/modules/article/rich-links.js
  static/src/javascripts.flow.archive/projects/common/modules/article/rich-links.spec.js
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

make the limit number a variable
  article/app/topics/TopicService.scala
Owners: @guardian/dotcom-platform

extend interactive-picker switch
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

use the variable instead of number for caching limit
  article/app/topics/TopicService.scala
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

remove sticky-mpu mock from prepare googletag
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
Owners: @guardian/commercial-dev

delete sticky-mpu and sticky-top-banner and their references
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-mpu.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-mpu.spec.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-top-banner.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-top-banner.spec.js
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
  static/src/javascripts/projects/commercial/modules/sticky-mpu.js
  static/src/javascripts/projects/commercial/modules/sticky-mpu.spec.js
  static/src/javascripts/projects/commercial/modules/sticky-top-banner.js
  static/src/javascripts/projects/commercial/modules/sticky-top-banner.spec.js
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

restore updateExtraSlotClasses for other sizes
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
Owners: @guardian/commercial-dev

Set min height for crossword banner slot
  static/src/stylesheets/module/crosswords/_layout.scss
Owners: @guardian/dotcom-platform

formatting
  common/app/implicits/Requests.scala
Owners: @guardian/dotcom-platform

Remove sticky mpu and banner fallbacks for IE11 (#25280)
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-mpu.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-mpu.spec.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-top-banner.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-top-banner.spec.js
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
  static/src/javascripts/projects/commercial/modules/sticky-mpu.js
  static/src/javascripts/projects/commercial/modules/sticky-mpu.spec.js
  static/src/javascripts/projects/commercial/modules/sticky-top-banner.js
  static/src/javascripts/projects/commercial/modules/sticky-top-banner.spec.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

chore: Add Daniel to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

fix: Add aria-expanded, aria-controls and aria-labelledby to Front show/hide button.
  common/app/views/fragments/containers/facia_cards/standardContainer.scala.html
  common/app/views/fragments/containers/facia_cards/standardHeaderMeta.scala.html
  static/src/javascripts/projects/facia/modules/ui/container-toggle.js
Owners: @guardian/dotcom-platform

fix: More logical tab order for podcasts
  applications/app/views/fragments/audioBody.scala.html
Owners: @guardian/dotcom-platform

remove comment
  common/app/model/dotcomrendering/DotcomOnwardsRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Add cypress hydrate command
  cypress/support/commands.ts
  cypress/support/e2e.ts
Owners: @guardian/dotcom-platform

remove unnecessary type
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

wait for response from dcr for onwards html before returning
  dev-build/conf/routes
  facia/app/controllers/FaciaController.scala
  facia/conf/routes
Owners: @guardian/dotcom-platform

fix: Correct Euro 2022's Football Chart order
  sport/app/football/model/CompetitionStages.scala
Owners: @guardian/dotcom-platform

Scala 2.13: Fix ambiguous overloaded JsonComponent method
  admin/app/controllers/admin/CommercialController.scala
  admin/app/football/controllers/PlayerController.scala
  applications/app/controllers/GalleryController.scala
  applications/app/controllers/ImageContentController.scala
  applications/app/controllers/MediaController.scala
  commercial/app/controllers/BookOffersController.scala
  commercial/app/controllers/ContentApiOffersController.scala
  commercial/app/controllers/JobsController.scala
  commercial/app/controllers/LiveEventsController.scala
  commercial/app/controllers/Multi.scala
  commercial/app/controllers/TrafficDriverController.scala
  commercial/app/controllers/TravelOffersController.scala
  commercial/app/controllers/nonRefreshableLineItemsController.scala
  common/app/common/JsonComponent.scala
  common/test/common/JsonComponentTest.scala
  discussion/app/controllers/CommentCountController.scala
  facia/app/controllers/FaciaController.scala
  onward/app/controllers/CardController.scala
  onward/app/controllers/MostPopularController.scala
  onward/app/controllers/NavigationController.scala
  onward/app/controllers/PopularInTag.scala
  onward/app/controllers/RelatedController.scala
  onward/app/controllers/RichLinkController.scala
  onward/app/controllers/SeriesController.scala
  onward/app/controllers/StocksController.scala
  onward/app/controllers/StoryPackageController.scala
  onward/app/weather/controllers/LocationsController.scala
  sport/app/football/controllers/MatchController.scala
  sport/app/football/controllers/MoreOnMatchController.scala
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Add Rachel to humans
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Convert slot-config.spec.js to .ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.ts
Owners: @guardian/commercial-dev

Add types to slot-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.ts
Owners: @guardian/commercial-dev
