Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

refactor: Refactor css classes slightly for sublinks on captions to use some SCSS syntax
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

feat: Add LogFieldList to GuLogging for logging out lists
  common/app/common/GuLogging.scala
  facia/app/utils/DotcomFrontsLogger.scala
Owners: @guardian/dotcom-platform

make extra call to fetch filter data
  common/app/model/dotcomrendering/FilterData.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

Bump Braze Components library to 7.2.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

experiment: Is there potentially a mapping conflict?
  facia/app/utils/DotcomFrontsLogger.scala
Owners: @guardian/dotcom-platform

experiment: Native array type
  common/app/common/GuLogging.scala
  facia/app/utils/DotcomFrontsLogger.scala
Owners: @guardian/dotcom-platform

Remove comment
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Convert refresh-on-resize.js to TypeScript (#24697)
  static/src/javascripts/projects/commercial/modules/dfp/refresh-on-resize.ts
Owners: @guardian/commercial-dev

remove promise from `onUpdate`
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
Owners: @guardian/commercial-dev

Remove superfluous Spacefinder rule `fromBottom` from mobile articles (#24866)
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Simplify mocking
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.ts
Owners: @guardian/commercial-dev

Simplify mocking
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.ts
Owners: @guardian/commercial-dev

chore(deps):bump @guardian/consent-management-platform from 10.3.1 to 10.4.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

spacefinder.js -> .ts, moved types to spacefinder
  static/src/javascripts/projects/common/modules/article/space-filler.ts
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

feat: Add new switch to disable slideshows and captions on mobile displays.
  common/app/conf/switches/FeatureSwitches.scala
  common/app/views/fragments/items/elements/facia_cards/captionedImage.scala.html
  common/app/views/fragments/items/facia_cards/contentCard.scala.html
  common/app/views/fragments/items/facia_cards/dynamoContentCard.scala.html
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

Continue converting Spacefinder
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

update render guui json to make sure frontend json endpoint works ok
  article/app/controllers/LiveBlogController.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

type getMeasurements
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

type enforceRules
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

findSpace is async
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

fix: Fix slideshow not rendering on Mobile and fix captions showing on smaller displays
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

Tighten spacefinder's rich link rule
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

fix: Caption text should be 12px when sublinks are displayed@
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

add getFilter to DCRFake
  article/test/DCRFake.scala
Owners: @guardian/dotcom-platform

fix test method signeture
  article/test/DCRFake.scala
Owners: @guardian/dotcom-platform

Delete liveblog-adverts.spec.js
  static/src/javascripts.flow.archive/projects/commercial/modules/liveblog-adverts.spec.js
Owners: @guardian/dotcom-platform

feat: add DCR json endpoint for cricket matches
  sport/app/cricket/controllers/CricketMatchController.scala
  sport/app/cricket/feed/cricketModel.scala
Owners: @guardian/dotcom-platform

Use a different price granularity for Criteo
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.ts
Owners: @guardian/commercial-dev

Bump build of Prebid.js
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Only apply criteo granularity if switch is enabled
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
Owners: @guardian/commercial-dev

type return value of markCandidates, SpaceError, remove `returnCandidates`
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Use the price granularity type directly
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
Owners: @guardian/commercial-dev

type onInteractivesLoaded, onRichLinksUpgraded, isIframeLoaded, isIframe
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

fix imports
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/common/modules/article/space-filler.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Delete spacefinder.js
  static/src/javascripts.flow.archive/projects/common/modules/spacefinder.js
Owners: @guardian/dotcom-platform

lint
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

shouldUpdate is a default param to getSpaceFillerRules
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
Owners: @guardian/commercial-dev

Fix local e2e path
  cypress/lib/util.js
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
