Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Passback sets source from postMessage
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Update database files
  data/database/5f03bda3277c88d7f33b30c12b3d5334ff61780c7debc7234493de571703018d
  data/database/85536ac5f19957fc813db3e446ada2825cabb2d801757a257164ea255d5f0efb
Owners: @guardian/dotcom-platform

Messenger attempts to match iframe using contentWindow
  static/src/javascripts/projects/commercial/modules/messenger.ts
Owners: @guardian/commercial-dev

Passback attempts to get slotId from the closest iFrame
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

feat: DCR can now also render recent blogs
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

added another pressed url, related to interactives work
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Messenger add comments to new getIframe strategy
  static/src/javascripts/projects/commercial/modules/messenger.ts
Owners: @guardian/commercial-dev

Passback add comments
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback remove getting slotId from postMessage
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback add logging
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

update link text and destinations for single front door test v2
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/views/fragments/footer.scala.html
  common/app/views/fragments/header.scala.html
Owners: @guardian/dotcom-platform

correct switch date
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

enableLazyLoad for users in test variant
  static/src/javascripts/projects/commercial/modules/dfp/display-lazy-ads.ts
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

comment in global.d.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/dotcom-platform

Update article counts before using them (#24727)
  static/src/javascripts/bootstraps/enhanced/common.js
  static/src/javascripts/projects/common/modules/onward/history.js
  static/src/javascripts/projects/common/modules/onward/history.spec.js
  static/src/javascripts/projects/common/modules/support/articleCount.spec.ts
  static/src/javascripts/projects/common/modules/support/articleCount.ts
  static/src/javascripts/projects/common/modules/support/banner.ts
  static/src/javascripts/projects/common/modules/support/epic.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/dotcom-platform

Refactor endpointUrl in DiscussionApi to accept List[(string, Option[String])] as parameters
  discussion/app/discussion/api/DiscussionApi.scala
Owners: @guardian/dotcom-platform

Pass params and defaultParams in the right order in DiscussionApi.endpointUrl method
  discussion/app/discussion/api/DiscussionApi.scala
Owners: @guardian/dotcom-platform

creat lo-fi 0% test
  common/app/experiments/Experiments.scala
  common/app/views/fragments/analytics/base.scala.html
  common/app/views/fragments/fontFaces.scala.html
  common/app/views/fragments/image.scala.html
  common/app/views/fragments/inlineJSBlocking.scala.html
  common/app/views/fragments/inlineJSNonBlocking.scala.html
Owners: @guardian/dotcom-platform

Passback fix size mapping for all viewport sizes
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Handle exception when parsing url in ReaderRevenueSite
  common/app/navigation/ReaderRevenueSite.scala
Owners: @guardian/dotcom-platform

bump commercial core to v3.1.0
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Add getKeyEvents to DCR fake
  article/test/DCRFake.scala
Owners: @guardian/dotcom-platform

Add switches to data sent as part of DCR /Blocks request
  common/app/model/dotcomrendering/DotcomBlocksRenderingDataModel.scala
Owners: @guardian/dotcom-platform

initialise scroll depth tracking from bundle
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/track-scroll-depth.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

update experiment dates, audience size and offset
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
Owners: @guardian/dotcom-platform

update fetch and render margin percent values
  static/src/javascripts/projects/commercial/modules/dfp/display-lazy-ads.ts
Owners: @guardian/commercial-dev

Make panelTitle part of the rundown panel ID
  common/app/common/TrailsToShowcase.scala
Owners: @guardian/dotcom-platform

Update build.properties
  project/build.properties
Owners: @guardian/dotcom-platform

Use a hash of the title instead of the title itself
  common/app/common/TrailsToShowcase.scala
Owners: @guardian/dotcom-platform

create switch for ab test
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Create commercial-lazy-load-margin.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform

scalafmt to add a whitespace
  common/app/common/TrailsToShowcase.scala
Owners: @guardian/dotcom-platform

Update rundownPanelGuid test
  common/test/common/TrailsToShowcaseTest.scala
Owners: @guardian/dotcom-platform

remove deadblog check on checkIfSupported
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

drop liveblog test to 1%
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

bump scala-uri to 3.0.0
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Fix tests
  common/test/common/TrailsToShowcaseTest.scala
Owners: @guardian/dotcom-platform
