Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Logic for sticky inline ads
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Add function for computing container heights
  static/src/javascripts/projects/commercial/modules/sticky-inlines.ts
Owners: @guardian/commercial-dev

rename topic service file name
  article/app/topmentions/TopicService.scala
Owners: @guardian/dotcom-platform

Adjust sticky top value to match other sticky elements in right
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Wrap rect measurements in fastdom
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/sticky-inlines.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

fix: package.json to reduce vulnerabilities
  package.json
Owners: @guardian/dotcom-platform

change variable names for TopicService
  article/app/AppLoader.scala
  article/app/controllers/ArticleControllers.scala
  article/app/jobs/TopMentionsLifecycle.scala
  article/app/model/LiveBlogHelpers.scala
  article/app/topmentions/TopicService.scala
  article/test/topmentions/TopicServiceTest.scala
Owners: @guardian/dotcom-platform

change naming for TopMentionsS3Client
  article/app/AppLoader.scala
  article/app/controllers/ArticleControllers.scala
  article/app/topmentions/TopicS3Client.scala
  article/app/topmentions/TopicService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/topmentions/TopicServiceTest.scala
Owners: @guardian/dotcom-platform

change naming for TopMentionsLifecycle
  article/app/AppLoader.scala
  article/app/jobs/TopicLifecycle.scala
  dev-build/app/AppLoader.scala
  preview/app/AppLoader.scala
Owners: @guardian/dotcom-platform

move topic service and s3 client to service.topics
  article/app/AppLoader.scala
  article/app/controllers/ArticleControllers.scala
  article/app/controllers/LiveBlogController.scala
  article/app/jobs/TopicLifecycle.scala
  article/app/services/topics/TopicS3Client.scala
  article/app/services/topics/TopicService.scala
  article/test/LiveBlogControllerTest.scala
  article/test/services/topics/TopicServiceTest.scala
Owners: @guardian/dotcom-platform

change top mention naming in LiveBlogCurrentPage
  article/test/model/LiveBlogCurrentPageTest.scala
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

refactor based on pr reviews
  article/app/controllers/LiveBlogController.scala
  article/test/DCRFake.scala
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

add temprary detailed logging to test in code
  article/app/model/LiveBlogHelpers.scala
Owners: @guardian/dotcom-platform

Add test for getTopics method
  article/test/topmentions/TopMentionsServiceTest.scala
Owners: @guardian/dotcom-platform

Add test for getTopics method
  article/test/topmentions/TopMentionsServiceTest.scala
Owners: @guardian/dotcom-platform

Convert AB Test to feature switch
  common/app/conf/switches/FeatureSwitches.scala
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Bump capi-client to 18.0.4-beta.0 - remove hack required for Lightbox
  applications/app/controllers/ImageContentController.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Bump capi-client to 18.0.4-beta.1
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Revert "Revert "add womens euro 2022 badge""
  sport/app/football/feed/Competitions.scala
  sport/app/football/model/model.scala
  sport/app/football/views/fragments/teamForm.scala.html
  sport/app/football/views/wallchart/knockoutMatch.scala.html
  sport/app/football/views/wallchart/knockoutSpider.scala.html
  static/src/inline-svgs/badges/womens_euros_2022_badge.svg
Owners: @guardian/dotcom-platform

WIP
  facia-press/test/frontpress/FapiClientRuntimeTest.scala
Owners: @guardian/dotcom-platform

feat: Update the womens euros SVG and adds a badge
  common/app/model/Badges.scala
  static/public/images/badges/womens_euros_2022_badge.svg
Owners: @guardian/dotcom-platform

use adsizes from commercial-core
  package.json
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

fix test that was using empty size mapping
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
Owners: @guardian/commercial-dev

better readability of getAdSizeMapping
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
Owners: @guardian/commercial-dev

update comments slot now using size-mappings
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
Owners: @guardian/commercial-dev

fluid must be a string not [0, 0]
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.js
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.spec.js
Owners: @guardian/commercial-dev

Move ad size mapping merging to it's own function
  static/src/javascripts/projects/commercial/modules/dfp/Advert.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

use funtion to conditionally convert AdSize to 'fluid'
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.js
  static/src/javascripts/projects/common/modules/commercial/lib/googletag-ad-size.ts
Owners: @guardian/commercial-dev

fix type errors introduced
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-render.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Advert shouldRefresh back to false by default
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
Owners: @guardian/commercial-dev

maybe upgrade slot should pass fluid for size [0,0]
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
Owners: @guardian/commercial-dev

make sure additional sizes are sent to googletag
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/add-slot.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

feat: Set spider diagram svg to 80px tall@
  static/src/stylesheets/module/football/_overview.scss
Owners: @guardian/dotcom-platform

fix: correct tag for womens euros 2022 badge
  common/app/model/Badges.scala
Owners: @guardian/dotcom-platform
