Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Handle Teads passback as a messenger event
  static/src/javascripts/projects/commercial/modules/messenger.ts
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add a switch for content based testing on AMP
  common/app/conf/switches/CommercialSwitches.scala
Owners: @guardian/dotcom-platform

Init passback message handler
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Fix passback slot prefix
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Introduce `SpacefinderOkrMegaTest`
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-mega-test.ts
  static/src/javascripts/projects/common/modules/spacefinder.js
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Strip out old experiments
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-1-filter-nearby.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-2-images-loaded.ts
  static/src/javascripts/projects/common/modules/spacefinder.js
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Update article counts before using them
  static/src/javascripts/bootstraps/enhanced/common.js
  static/src/javascripts/projects/common/modules/onward/history.js
  static/src/javascripts/projects/common/modules/support/articleCount.ts
  static/src/javascripts/projects/common/modules/support/banner.ts
  static/src/javascripts/projects/common/modules/support/epic.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/dotcom-platform

move daily AC
  static/src/javascripts/projects/common/modules/onward/history.js
  static/src/javascripts/projects/common/modules/onward/history.spec.js
  static/src/javascripts/projects/common/modules/support/articleCount.spec.ts
  static/src/javascripts/projects/common/modules/support/articleCount.ts
  static/src/javascripts/projects/common/modules/support/banner.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/dotcom-platform

lint
  static/src/javascripts/projects/common/modules/support/articleCount.spec.ts
  static/src/javascripts/projects/common/modules/support/articleCount.ts
Owners: @guardian/dotcom-platform

update how to takedown an archived doc
  docs/02-architecture/04-archiving.md
Owners: @guardian/dotcom-platform

Set articleCounts if on front
  static/src/javascripts/projects/common/modules/support/articleCount.ts
Owners: @guardian/dotcom-platform

slow sideshow to 5 seconds
  static/src/stylesheets/module/facia-garnett/_item.scss
  static/src/stylesheets/module/facia/_item.scss
Owners: @guardian/dotcom-platform

chore(deps): bump @guardian/consent-management-platform from 10.2.2 to 10.3.1
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Add a switch for content based testing on AMP (#24715)
  common/app/conf/switches/CommercialSwitches.scala
Owners: @guardian/dotcom-platform

create ab test switch
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

create ABTest commercialGptLazyLoad
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
Owners: @guardian/dotcom-platform

call enableLazyLoad for users in test variant
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
Owners: @guardian/commercial-dev

Add support for multiple slot selectors
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
  static/src/javascripts/projects/common/modules/article/rich-links.js
  static/src/javascripts/projects/common/modules/article/space-filler.ts
  static/src/javascripts/projects/common/modules/spacefinder.js
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

first pass at bumping version of scala-uri
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/pagepresser/HtmlCleaner.scala
  common/app/pagepresser/InteractiveHtmlCleaner.scala
  common/app/pagepresser/InteractiveImmersiveHtmlCleaner.scala
  common/app/views/fragments/atoms/youtube.scala.html
  discussion/app/discussion/api/DiscussionApi.scala
  identity/app/model/ReturnJourney.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Consider list items in spacefinder
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Passback listener gets slot from payload message and refreshes
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback listener sets size mappings
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Update static/src/javascripts/projects/common/modules/support/articleCount.spec.ts
  static/src/javascripts/projects/common/modules/support/articleCount.spec.ts
Owners: @guardian/dotcom-platform

Run all tests each time
  static/src/javascripts/projects/common/modules/spacefinder.js
Owners: @guardian/dotcom-platform

Fix typo
  static/src/javascripts/projects/common/modules/spacefinder.js
Owners: @guardian/dotcom-platform

Improve debug output
  static/src/javascripts/projects/common/modules/mark-candidates.js
  static/src/javascripts/projects/common/modules/spacefinder.js
Owners: @guardian/dotcom-platform

extra test
  static/src/javascripts/projects/common/modules/support/articleCount.spec.ts
Owners: @guardian/dotcom-platform

DailyArticleCount
  static/src/javascripts/projects/common/modules/support/articleCount.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/dotcom-platform

isDailyArticleHistory
  static/src/javascripts/projects/common/modules/support/articleCount.ts
Owners: @guardian/dotcom-platform

simplify
  static/src/javascripts/projects/common/modules/support/banner.ts
Owners: @guardian/dotcom-platform

remove line from pressed contents
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

convert duration value to string for ophan event
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

Pressing two articles per the latest round of interactives work on dotcomrendering
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Pressing two articles per the latest round of interactives work on dotcomrendering (#24732)
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

WIP: Use new addParams scala-uri method in DisucssionApi
  discussion/app/discussion/api/DiscussionApi.scala
Owners: @guardian/dotcom-platform

test encoding of reader revenue url
  common/test/navigation/helpers/UrlHelpersTest.scala
  discussion/app/discussion/api/DiscussionApi.scala
Owners: @guardian/dotcom-platform

don't include query param if empty string
  discussion/app/discussion/api/DiscussionApi.scala
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
