Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

add newsletters switch group and migrate switches over (#25189)
  common/app/conf/switches/FeatureSwitches.scala
  common/app/conf/switches/NewslettersSwitches.scala
  common/app/conf/switches/Switches.scala
Owners: @guardian/dotcom-platform

Dblatcher/footer promotes daily newsletter (#25182)
  common/app/views/fragments/email/signup/emailFooterLink.scala.html
  common/app/views/fragments/email/signup/emailIframe.scala.html
  common/app/views/fragments/footer.scala.html
  static/src/stylesheets/amp/footer.new/_colophon.scss
  static/src/stylesheets/layout/footer/_email-container.scss
  static/src/stylesheets/layout/nav/_cta-bar.scss
Owners: @guardian/dotcom-platform

Use YT mute instead of updating the iframe source
  static/src/javascripts/projects/common/modules/atoms/youtube.js
  static/src/javascripts/projects/common/modules/atoms/youtube.spec.js
Owners: @guardian/dotcom-platform

Scala 2.13: Fix `weaker access privileges` error
  common/app/common/ShowcaseRSSModules.scala
  common/app/common/TrailsToShowcase.scala
Owners: @guardian/dotcom-platform

Use reference to youtubePlayer already defined
  static/src/javascripts/projects/common/modules/atoms/youtube.js
Owners: @guardian/dotcom-platform

chore(deps): bump capiVersion to 19.0.1
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

chore(deps): bump capiVersion to 19.0.3
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

chore(deps): bump faciaVersion to 4.0.1
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Update geo-utils to typescript
  static/src/javascripts.flow.archive/projects/common/modules/commercial/geo-utils.js
  static/src/javascripts/projects/common/modules/commercial/geo-utils.js
  static/src/javascripts/projects/common/modules/commercial/geo-utils.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Update geo-utils tests to typescript
  static/src/javascripts/projects/common/modules/commercial/geo-utils.spec.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add 50% a/b test live blog main media repositioning
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Fix file name references
  static/src/javascripts.flow.archive/lib/getPrivacyFramework.js
  static/src/javascripts/lib/getPrivacyFramework.js
Owners: @guardian/dotcom-platform

use NewsletterData in DataModel instead of full NewsletterResponse
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
  common/app/services/NewsletterService.scala
Owners: @guardian/dotcom-platform

NewsletterService won't provide article with data about paused or restricted newsletters
  common/app/services/NewsletterService.scala
Owners: @guardian/dotcom-platform

fix(css): font-scale headline(9)
  static/src/stylesheets/pasteup/typography/_src.scss
Owners: @guardian/dotcom-platform

Update test cases type assertion
  static/src/javascripts/projects/common/modules/commercial/geo-utils.spec.ts
Owners: @guardian/commercial-dev

Dblatcher/newsletters page component event (#25158)
  applications/app/views/signup/newsletterContent.scala.html
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  static/src/javascripts/bootstraps/enhanced/newsletters.js
  static/src/javascripts/projects/common/modules/tracking/utc-date-format.ts
  static/src/stylesheets/module/signup/_newsletters.scss
Owners: @guardian/dotcom-platform

Undo update to flow file
  static/src/javascripts.flow.archive/lib/getPrivacyFramework.js
Owners: @guardian/dotcom-platform

use return keyword in conditional
  common/app/services/NewsletterService.scala
Owners: @guardian/dotcom-platform

feat: Port the stale PR action from dotcom-rendering
  .github/workflows/stale.yml
Owners: @guardian/dotcom-platform

Update geo type to use CountryCode
  static/src/javascripts/projects/common/modules/commercial/geo-utils.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

feat: Only run stale PR on weekdays
  .github/workflows/stale.yml
Owners: @guardian/dotcom-platform

fix: Use absolute links in tableView embed
  sport/app/football/views/tablesList/tableView.scala.html
Owners: @guardian/dotcom-platform

fix(switches): add a few more days to ab-commercial-end-of-quarter-2-test
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

fix: use same md5 encryption as CAPI
  common/app/model/Badges.scala
Owners: @guardian/dotcom-platform

remove test switch
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Delete commercial-lazy-load-margin-reloaded.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin-reloaded.ts
Owners: @guardian/dotcom-platform

remove references to commercialLazyLoadMarginReloaded
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

remove commercialLazyLoadMarginReloaded test
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.spec.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Set up to use scala collection upgrade
  build.sbt
  project/ProjectSettings.scala
  project/plugins.sbt
Owners: @guardian/dotcom-platform

Use canTarget from ConsentState
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
Owners: @guardian/dotcom-platform

Rename state to consentState in youtube-player
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
Owners: @guardian/dotcom-platform

Rename state to consentState in youtube-player.spec
  static/src/javascripts/projects/common/modules/atoms/youtube-player.spec.ts
Owners: @guardian/dotcom-platform

Rename state to playerState in youtube-player
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
Owners: @guardian/dotcom-platform

Fix youtube-player.spec
  static/src/javascripts/projects/common/modules/atoms/youtube-player.spec.ts
Owners: @guardian/dotcom-platform

Use prop shorthand youtube-player.spec
  static/src/javascripts/projects/common/modules/atoms/youtube-player.spec.ts
Owners: @guardian/dotcom-platform

fix: change report badge dimensions
  static/public/images/badges/05_july_2022_Badge.svg
Owners: @guardian/dotcom-platform
