Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

provide contributors for each liveblog block
  common/app/model/dotcomrendering/Contributor.scala
  common/app/model/dotcomrendering/DotcomBlocksRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Youtube player - don't show ads for pages with sensitive content
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

provide contributors for each liveblog block (#24707)
  common/app/model/dotcomrendering/Contributor.scala
  common/app/model/dotcomrendering/DotcomBlocksRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

move AD_SLOT_ID_PREFIX into dfpEnv
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

small change
  static/src/javascripts/bootstraps/standalone.commercial.ts
Owners: @guardian/dotcom-platform

adding tests and addressing some IDE warnings
  common/app/implicits/Requests.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/app/model/meta.scala
  common/test/model/dotcomrendering/DotcomRenderingUtilsTest.scala
Owners: @guardian/dotcom-platform

move adSlotIdPrefix to dfp-env-globals.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env-globals.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Update common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
Owners: @guardian/dotcom-platform

remove letter space adjustment
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

replace the pinned pose existing view tracking by the new view that includes duration
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

convert pinned post duration tracking from milli second to second
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

clear previous measurements when starting a new measuremenmt
  static/src/javascripts/projects/commercial/modules/measure-timing.js
Owners: @guardian/commercial-dev

remove the measure timing changes
  static/src/javascripts/projects/commercial/modules/measure-timing.js
Owners: @guardian/commercial-dev

remove redundant error handling
  sport/app/football/conf/context.scala
Owners: @guardian/dotcom-platform

Set `EventTimer` ad slot properties (#24663)
  package.json
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/commercial-metrics.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env-globals.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

New live parameter to allow forcing a liveblog to be live (#24705)
  article/app/controllers/LiveBlogController.scala
  article/test/DCRFake.scala
  common/app/implicits/Requests.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/app/model/meta.scala
  common/app/renderers/DotcomRenderingService.scala
  common/test/model/dotcomrendering/DotcomRenderingUtilsTest.scala
Owners: @guardian/dotcom-platform

Add block- prefix to mostRecentBlockId
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/test/model/dotcomrendering/DotcomRenderingUtilsTest.scala
Owners: @guardian/dotcom-platform

remove clear from start
  static/src/javascripts/projects/commercial/modules/measure-timing.js
Owners: @guardian/commercial-dev

Add block- prefix to mostRecentBlockId (#24711)
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/test/model/dotcomrendering/DotcomRenderingUtilsTest.scala
Owners: @guardian/dotcom-platform

refactor the intersection observer for pinned post
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

remove lozenge styling on success headline so it looks less like a button
  applications/app/views/signup/newsletterContent.scala.html
  static/src/stylesheets/module/signup/_newsletters.scss
Owners: @guardian/dotcom-platform

Fix YouTube player when multiple instances of the same video
  common/app/views/fragments/atoms/youtube.scala.html
  common/test/views/fragments/atoms/YoutubeSpec.scala
  common/test/views/support/cleaner/AtomCleanerTest.scala
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
  static/src/javascripts/projects/common/modules/atoms/youtube.js
Owners: @guardian/dotcom-platform

Increase `SpacefinderOkr3RichLinks` to 20% test
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-3-rich-links.ts
Owners: @guardian/dotcom-platform

Punt AB test switch expiries into April
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Fix youtube-player iFrame selector
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
Owners: @guardian/dotcom-platform

Improve the documentation of PageElement's elementId
  common/app/model/dotcomrendering/PageElement-Identifiers.md
Owners: @guardian/dotcom-platform

Update common/app/model/dotcomrendering/PageElement-Identifiers.md
  common/app/model/dotcomrendering/PageElement-Identifiers.md
Owners: @guardian/dotcom-platform

Update common/app/model/dotcomrendering/PageElement-Identifiers.md
  common/app/model/dotcomrendering/PageElement-Identifiers.md
Owners: @guardian/dotcom-platform

Update common/app/model/dotcomrendering/PageElement-Identifiers.md
  common/app/model/dotcomrendering/PageElement-Identifiers.md
Owners: @guardian/dotcom-platform

Update common/app/model/dotcomrendering/PageElement-Identifiers.md
  common/app/model/dotcomrendering/PageElement-Identifiers.md
Owners: @guardian/dotcom-platform

change threshhold of the intersection observer and add clear before start
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

Render key-events in DCR on liveblog json endpoint
  article/app/controllers/LiveBlogController.scala
  common/app/model/ArticleBlocks.scala
  common/app/model/dotcomrendering/DotcomKeyEventsRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/ElementsEnhancer.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

reduce pinned post tracking threshold to 0.1
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

Add feature switch for sticky videos
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Send today's article count and contentType in banner requests (#24632)
  package.json
  static/src/javascripts/projects/common/modules/support/banner.ts
  yarn.lock
Owners: @guardian/dotcom-platform

fix: Include dcrTags in DotcomKeyEventsRenderingDataModel
  common/app/model/dotcomrendering/DotcomKeyEventsRenderingDataModel.scala
Owners: @guardian/dotcom-platform

increase form element and text sizes to match design
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

don't use componentClass variables on thrasherEmailSignUp
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
Owners: @guardian/dotcom-platform

use px instead of rem
  static/src/stylesheets/module/email-signup/_form.scss
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
