Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

update iframe selector to id prefix
  cypress/integration/top-above-nav.spec.js
  cypress/lib/iframe.js
Owners: @guardian/dotcom-platform

Update experiment to target 50%
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

revert: Changes to RichLinkController for Fronts DCR
  onward/app/controllers/RichLinkController.scala
Owners: @guardian/dotcom-platform

added badge to scala file and svg to repo
  common/app/model/Badges.scala
  static/public/images/badges/australian-election-2022.svg
Owners: @guardian/dotcom-platform

refactor: Clean up of DotcomFrontsLogger
  facia/app/utils/DotcomFrontsLogger.scala
Owners: @guardian/dotcom-platform

refactor: Further refactoring of FaciaPicker and DotcomFrontsLogger
  facia/app/utils/DotcomFrontsLogger.scala
  facia/app/utils/FaciaPicker.scala
Owners: @guardian/dotcom-platform

fix: Typo in the word components
  facia/app/utils/FaciaPicker.scala
Owners: @guardian/dotcom-platform

fix: Fix incorrectly named remoteRenderer in Preview FaciaDraftController
  preview/app/controllers/FaciaDraftController.scala
Owners: @guardian/dotcom-platform

refactor: Just instantiate the DotcomRenderingService in the trait itself.
  facia/app/controllers/FaciaController.scala
  preview/app/controllers/FaciaDraftController.scala
Owners: @guardian/dotcom-platform

refactor: Remove unecessary {} on extends
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

fix: Endpoint is /Front not /Fronts
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

feat: Adds testing for Fronts ?dcr
  facia/test/FaciaControllerTest.scala
  facia/test/FaciaMetaDataTest.scala
Owners: @guardian/dotcom-platform

feat: DCR does not like cricket.
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

Move `pages` to fixtures file
  cypress.json
  cypress/fixtures/pages.js
  cypress/integration/top-above-nav.spec.js
Owners: @guardian/dotcom-platform

Create right-slot.spec.js
  cypress/integration/right-slot.spec.js
Owners: @guardian/dotcom-platform

remove comment
  cypress/lib/iframe.js
Owners: @guardian/dotcom-platform

fix: Better way of checking if its a cricket blog
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

fix: check for sport/cricket
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

fix: Add vary header to DCR responses
  facia/app/controllers/FaciaController.scala
  facia/app/utils/DotcomFrontsLogger.scala
Owners: @guardian/dotcom-platform

Fix `top-above-nav` test (#24854)
  cypress/integration/top-above-nav.spec.js
  cypress/lib/iframe.js
Owners: @guardian/dotcom-platform

added badge to scala file and svg to repo (#24851)
  common/app/model/Badges.scala
  static/public/images/badges/australian-election-2022.svg
Owners: @guardian/dotcom-platform

prettier
  cypress/fixtures/pages.js
  cypress/integration/right-slot.spec.js
Owners: @guardian/dotcom-platform

fix: Mock WSClient instead of trying to actually call DCR for rendered fronts
  common/conf/env/DEVINFRA.properties
  facia/test/FaciaControllerTest.scala
Owners: @guardian/dotcom-platform

Remove DCR support for rugby
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

Extend both lazy load tests to the first of May
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform

Test right ad slot (#24853)
  cypress.json
  cypress/fixtures/pages.js
  cypress/integration/right-slot.spec.js
  cypress/integration/top-above-nav.spec.js
Owners: @guardian/dotcom-platform

First pass at typescript conversion
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/common/modules/article/space-filler.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Delete liveblog-adverts.js
  static/src/javascripts.flow.archive/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

change sell by date to a weekday
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

fix: Fix certain slideshows not rendering as slideshows.
  common/app/views/fragments/items/facia_cards/dynamoContentCard.scala.html
Owners: @guardian/dotcom-platform

Extend both lazy load tests to the first of May (#24856)
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform

feat: Move slideshow captions to top left when Sublinks are displayed
  static/src/stylesheets/module/facia-garnett/_item.scss
Owners: @guardian/dotcom-platform

fix: Correctly cache Fronts rendered by DCR
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

fix: Fix DotcomRenderingServiceTest to use new post arguments
  common/test/renderers/DotcomRenderingServiceTest.scala
Owners: @guardian/dotcom-platform

fix: Prevent remote rendering from interfering with JSON requests.
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

chore: Remove unused fakePage in DCR test
  common/test/renderers/DotcomRenderingServiceTest.scala
Owners: @guardian/dotcom-platform

chore: Rename cached to cacheTime for clarity
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

addinf filter results to dcr model
  article/app/controllers/LiveBlogController.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/FilterData.scala
  common/app/renderers/DotcomRenderingService.scala
Owners: @guardian/dotcom-platform

convert liveblog-adverts.spec to typescript
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.ts
Owners: @guardian/commercial-dev

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
