Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Roll out `SpacefinderOkr3RichLinks` to all users
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-3-rich-links.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

remove insert tracking event and use data-component for pinned post
  article/app/views/liveblog/pinnedBlock.scala.html
  static/src/javascripts/bootstraps/enhanced/liveblog.js
Owners: @guardian/dotcom-platform

init returns void
  static/src/javascripts/projects/commercial/modules/track-scroll-depth.ts
Owners: @guardian/commercial-dev

define const `useCustomLazyLoad`
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
Owners: @guardian/commercial-dev

remove lift-json
  build.sbt
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

update fetchMarginPercent comment
  static/src/javascripts/projects/commercial/modules/dfp/display-lazy-ads.ts
Owners: @guardian/commercial-dev

update comment
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
Owners: @guardian/commercial-dev

bump play json version
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

bump enumeratum-play-json version
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

inline Box class
  admin/app/dfp/AdvertiserAgent.scala
  admin/app/dfp/CreativeTemplateAgent.scala
  admin/app/dfp/DataAgent.scala
  admin/app/dfp/OrderAgent.scala
  admin/app/jobs/CommercialDfpReporting.scala
  admin/app/model/abtests/AbTests.scala
  admin/app/tools/AssetMetrics.scala
  admin/app/tools/LoadBalancer.scala
  applications/app/jobs/SitemapLifecycle.scala
  build.sbt
  commercial/app/model/capi/CapiAgent.scala
  commercial/app/model/merchandise/MerchandiseAgent.scala
  commercial/app/model/merchandise/books/BookFinder.scala
  commercial/app/model/merchandise/events/LiveEventAgent.scala
  commercial/app/model/merchandise/jobs/Industries.scala
  common/app/commercial/targeting/CampaignAgent.scala
  common/app/common/Assets/DiscussionAssets.scala
  common/app/common/AutoRefresh.scala
  common/app/common/Box.scala
  common/app/common/dfp/DfpAgent.scala
  common/app/common/jobs.scala
  common/app/conf/HealthCheck.scala
  common/app/conf/switches/Switches.scala
  common/app/contentapi/SectionsLookUp.scala
  common/app/metrics/FrontendMetrics.scala
  common/app/services/ConfigAgentTrait.scala
  common/app/services/newsletters/NewsletterSignupAgent.scala
  common/app/services/ophan/SurgingContentAgent.scala
  common/test/common/BoxTest.scala
  identity/app/jobs/TorExitNodeList.scala
  onward/app/feed/MostPopularAgent.scala
  onward/app/feed/MostReadAgent.scala
  onward/app/feed/MostViewedAudioAgent.scala
  onward/app/feed/MostViewedGalleryAgent.scala
  onward/app/feed/MostViewedVideoAgent.scala
  project/Dependencies.scala
  sport/app/cricket/jobs/CricketStatsJob.scala
  sport/app/football/feed/agent.scala
  sport/app/football/model/TeamMap.scala
  sport/app/rugby/jobs/RugbyStatsJob.scala
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Use consistent name for duplicateMap
  preview/app/controllers/FaciaDraftController.scala
  preview/app/views/showcase.scala.html
Owners: @guardian/dotcom-platform

fix unbound placeholder parameter error
  common/app/metrics/FrontendMetrics.scala
Owners: @guardian/dotcom-platform

Bump @guardian packages
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Pre-scala 2.13: upgrade scala uri (#24734)
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/pagepresser/HtmlCleaner.scala
  common/app/pagepresser/InteractiveHtmlCleaner.scala
  common/app/pagepresser/InteractiveImmersiveHtmlCleaner.scala
  common/app/views/fragments/atoms/youtube.scala.html
  common/test/navigation/helpers/UrlHelpersTest.scala
  discussion/app/discussion/api/DiscussionApi.scala
  identity/app/model/ReturnJourney.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

fix unbound placeholder parameter error for SamplerMetric
  common/app/metrics/FrontendMetrics.scala
  common/test/metrics/DurationMetricTest.scala
Owners: @guardian/dotcom-platform

set random margin if user in variant group
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Introduce makeConsentComponentEvent
  static/src/javascripts/bootstraps/standard/main.js
Owners: @guardian/dotcom-platform

Make consent component event
  static/src/javascripts/boot.js
  static/src/javascripts/bootstraps/standard/main.js
Owners: @guardian/dotcom-platform

Remove console.log
  static/src/javascripts/boot.js
Owners: @guardian/dotcom-platform

bump commercial core
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

remove all but one test variant
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin.ts
Owners: @guardian/dotcom-platform

add `commercialGptLazyLoad` to `concurrentTests`
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
Owners: @guardian/dotcom-platform

fix formatting
  article/test/DCRFake.scala
Owners: @guardian/dotcom-platform

Measure scroll depth (#24755)
  package.json
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/track-scroll-depth.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Set panel title as g:panel tag content when available
  common/app/common/ShowcaseRSSModules.scala
  common/app/common/TrailsToShowcase.scala
  common/test/common/TrailsToShowcaseTest.scala
Owners: @guardian/dotcom-platform

Scala formatter was upset with me again
  common/app/common/ShowcaseRSSModules.scala
Owners: @guardian/dotcom-platform

Expand to all jurisdictions
  static/src/javascripts/boot.js
Owners: @guardian/dotcom-platform

bump play json version (#24766)
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Restores panelTitle rather than title
  preview/app/views/showcase.scala.html
Owners: @guardian/dotcom-platform

Update static/src/javascripts/boot.js
  static/src/javascripts/boot.js
Owners: @guardian/dotcom-platform

Messenger - correct spelling
  static/src/javascripts/projects/commercial/modules/messenger.ts
Owners: @guardian/commercial-dev

Messenger - correct comment
  static/src/javascripts/projects/commercial/modules/messenger.ts
Owners: @guardian/commercial-dev

bump nscala time
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

bump json 4s native
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

bump nscala time (#24775)
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

bump redisclient
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Use panel.panelTitle for rundown, panel.title for single
  common/app/common/ShowcaseRSSModules.scala
  common/app/common/TrailsToShowcase.scala
  common/test/common/TrailsToShowcaseTest.scala
Owners: @guardian/dotcom-platform

add SlideshowCaptions experiement
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
