Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

increase minAbove for articles without main image and articles with showcase image
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Add and configure new ad type for crossword page
  applications/app/views/fragments/crosswords/crosswordContent.scala.html
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/types.d.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Update tests to include new crossword ad type
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
Owners: @guardian/commercial-dev

fix: correct scala formatting
  common/app/services/newsletters/NewsletterSignupAgent.scala
Owners: @guardian/dotcom-platform

Remove fronts cypress tests
  cypress/e2e/consent.cy.ts
  cypress/e2e/targeting.cy.ts
  cypress/fixtures/pages/index.ts
Owners: @guardian/dotcom-platform

change email tag format from "campaign/callout/" to "campaign/email/" (#25256)
  common/app/services/NewsletterService.scala
Owners: @guardian/dotcom-platform

Remove fronts cypress tests (#25264)
  cypress/e2e/consent.cy.ts
  cypress/e2e/targeting.cy.ts
  cypress/fixtures/pages/index.ts
Owners: @guardian/dotcom-platform

remove timestampe format module. Use integer timestamp for allnewsletters page
  static/src/javascripts/bootstraps/enhanced/newsletters.js
  static/src/javascripts/projects/common/modules/tracking/utc-date-format.ts
Owners: @guardian/dotcom-platform

remove timestamp format function in emailIframeTracking script. Use integer timestamp for embeds
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
Owners: @guardian/dotcom-platform

Improve minabove debug label
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

fix(a11): weather widget logical tab order
  onward/app/views/weatherFragments/cityWeather.scala.html
  static/src/stylesheets/module/_weather.scss
Owners: @guardian/dotcom-platform

move minAbove debug to file with markCandidates
  static/src/javascripts/projects/common/modules/spacefinder-debug-tools.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Convert appnexus.js to ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/appnexus.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Fix up the types
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/appnexus.ts
Owners: @guardian/commercial-dev

Remove flow archive
  static/src/javascripts.flow.archive/projects/commercial/modules/header-bidding/prebid/appnexus.js
Owners: @guardian/dotcom-platform

Use personalised advertising from commercial-core
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
Owners: @guardian/commercial-dev

Fix build-page-targeting FR tests to reflect when consent is not given
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Use personalised targeting from @guardian/commercial-core@^4.3.0
  package.json
Owners: @guardian/dotcom-platform

amtgrp should not be set if empty consent
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
Owners: @guardian/commercial-dev

Increase spacefinder minAbove for articles without main image, or with a showcase image (#25261)
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/common/modules/spacefinder-debug-tools.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
  static/src/javascripts/types/global.d.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

Remove empty line in package.json
  package.json
Owners: @guardian/dotcom-platform

Provide story package data in the DCR request to avoid second call in the client
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
Owners: @guardian/dotcom-platform

Add purchaseInfo and isSignedIn properties to header payload
  static/src/javascripts/projects/common/modules/commercial/user-features.spec.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  static/src/javascripts/projects/common/modules/support/header.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Fix hardcoded module name preventing rendering
  static/src/javascripts/projects/common/modules/support/header.ts
Owners: @guardian/dotcom-platform

Bump @guardian/support-dotcom-components version and remove @ts-ignore comments
  package.json
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  static/src/javascripts/projects/common/modules/support/header.ts
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Update support-dotcom-components
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

Fix TS validation
  static/src/javascripts/projects/common/modules/support/banner.ts
Owners: @guardian/dotcom-platform

Added support for sign in prompt banner
  static/src/javascripts/projects/common/modules/support/banner.ts
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

wip: return html for curated content using dcr
  common/app/model/dotcomrendering/DotcomOnwardsRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform

formatting
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Owners: @guardian/dotcom-platform

Provide story package data in the DCR request to avoid second call in the client (#25267)
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
Owners: @guardian/dotcom-platform

correct capitalisation of tag type
  common/app/services/NewsletterService.scala
Owners: @guardian/dotcom-platform

don't look for an "elements" field in the Newsletter object
  common/app/model/dotcomrendering/ElementsEnhancer.scala
Owners: @guardian/dotcom-platform

fix: sport/pom.xml to reduce vulnerabilities
  sport/pom.xml
Owners: @guardian/dotcom-platform

limit number of blogs for caching topics in memory
  article/app/topics/TopicService.scala
  article/test/topics/TopicServiceTest.scala
Owners: @guardian/dotcom-platform

fix: Fix newsletter service (#25268)
  common/app/model/dotcomrendering/ElementsEnhancer.scala
  common/app/services/NewsletterService.scala
Owners: @guardian/dotcom-platform

wip: adding onwards model
  common/app/model/dotcomrendering/DotcomOnwardsRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
  facia/app/controllers/FaciaController.scala
Owners: @guardian/dotcom-platform
