Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

Add price granularity for ozone
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.ts
Owners: @guardian/commercial-dev

Remove Flow reference
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add test for ozone price granularity
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
Owners: @guardian/commercial-dev

Add Adi to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Add name to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Add name to humans.txt (#24902)
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

formatting
  common/app/controllers/EmailSignupController.scala
Owners: @guardian/dotcom-platform

remove unused renderPage endpoint in EmailSignupController
  common/app/controllers/EmailSignupController.scala
  common/app/views/emailLanding.scala.html
  common/app/views/fragments/emailLandingBody.scala.html
Owners: @guardian/dotcom-platform

Join humans record
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Remove old newsletter model (#24888)
  applications/app/views/signup/newsletterContent.scala.html
  common/app/controllers/EmailSignupController.scala
  common/app/services/newsletters/NewsletterApi.scala
  common/app/services/newsletters/NewsletterSignupAgent.scala
  common/app/services/newsletters/model/EmailEmbed.scala
  common/app/services/newsletters/model/NewsletterIllustration.scala
  common/app/services/newsletters/model/NewsletterResponse.scala
  common/app/staticpages/StaticPages.scala
  common/app/views/emailFragment.scala.html
  common/app/views/emailFragmentThrasher.scala.html
  common/app/views/emailLanding.scala.html
  common/app/views/emailSubscriptionSuccessResult.scala.html
  common/app/views/fragments/email/signup/result/emailResultNewDesign.scala.html
  common/app/views/fragments/email/signup/result/emailSuccess.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
  common/app/views/fragments/emailLandingBody.scala.html
  common/app/views/fragments/footer.scala.html
  identity/app/views/completeConsents.scala.html
  identity/app/views/consentJourney.scala.html
  identity/app/views/fragments/emailListCategories.scala.html
  identity/app/views/fragments/newsletterSwitch.scala.html
  identity/app/views/profile/emailPrefs.scala.html
  identity/test/controllers/EditProfileControllerTest.scala
Owners: @guardian/dotcom-platform

Update humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Use twirl-compatible comment syntax
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

Use twirl-compatible comment syntax (#24907)
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

Add key events carousel feature switch
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

Add Zeke Hunter-Green to humans.txt (#24906)
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Revert "Bump quartz version"
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Added name to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Convert liveblog-adverts to TypeScript (#24864)
  static/src/javascripts.flow.archive/projects/commercial/modules/liveblog-adverts.js
  static/src/javascripts.flow.archive/projects/commercial/modules/liveblog-adverts.spec.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/common/modules/article/space-filler.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

all SpacefinderOptions properties but debug are required
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

more precise SpacefinderItem meta type
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Add Simon Byford to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

remove unused renderPage endpoint in EmailSignupController (#24904)
  common/app/controllers/EmailSignupController.scala
  common/app/views/emailLanding.scala.html
  common/app/views/fragments/emailLandingBody.scala.html
Owners: @guardian/dotcom-platform

replace partitionCandidates with libs/partition
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Update static/src/javascripts/projects/common/modules/spacefinder.ts
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

More readable LOADING_TIMEOUT definition
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

feat: Enable DCR Liveblog rendering for all users
  article/app/controllers/LiveBlogController.scala
  article/app/model/LiveBlogHelpers.scala
  article/test/LiveBlogControllerTest.scala
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

declare cost clearContentMeta
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

add sentinel to isIframeLoaded
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

refactor onInteractivesLoaded
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

wip
  project/Dependencies.scala
  project/ProjectSettings.scala
Owners: @guardian/dotcom-platform

Remove unused getV1EmailSubscriptions method from NewsletterService
  identity/app/services/NewsletterService.scala
Owners: @guardian/dotcom-platform

Update spelling
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback remove outstream styling
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Update getValuesForKeys to map over keys
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback ad positions absolutely to avoid layout shift
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback logic to work with current inline1 float right behaviour
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback sets the container height once loaded
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Update spelling
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Passback update method description
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
