Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

passback early return if googletag cannot be found
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback move success log before call to googletag.display
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

passback fastdom wraps container height update
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

Fix tests
  article/test/LiveBlogControllerTest.scala
  article/test/topmentions/TopMentionsServiceTest.scala
Owners: @guardian/dotcom-platform

update the temprary print funtion for better testing
  article/app/model/LiveBlogHelpers.scala
Owners: @guardian/dotcom-platform

Fix tests
  article/test/DCRFake.scala
  article/test/topmentions/TopMentionsServiceTest.scala
Owners: @guardian/dotcom-platform

Tidy up lightbox comment
  static/src/javascripts/projects/common/modules/gallery/lightbox.js
Owners: @guardian/dotcom-platform

readd gallery-lightbox--closed to lightbox
  static/src/javascripts/projects/common/modules/gallery/lightbox.js
Owners: @guardian/dotcom-platform

remove =
  static/src/javascripts/projects/common/views/content/block-sharing.html
Owners: @guardian/dotcom-platform

refactor to improve the readability
  article/app/controllers/LiveBlogController.scala
  common/app/model/ArticleBlocks.scala
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

Update test description in AutomaticFiltersTest.scala
  article/test/model/AutomaticFiltersTest.scala
Owners: @guardian/dotcom-platform

Update test description in AutomaticFiltersTest.scala
  article/test/model/AutomaticFiltersTest.scala
Owners: @guardian/dotcom-platform

Update test description in AutomaticFiltersTest.scala
  article/test/model/AutomaticFiltersTest.scala
Owners: @guardian/dotcom-platform

refactor based on pr feedback
  article/app/controllers/LiveBlogController.scala
  article/app/model/AutomaticFilters.scala
  article/app/topmentions/TopMentionsService.scala
  article/conf/routes
  article/test/LiveBlogControllerTest.scala
  article/test/model/AutomaticFiltersTest.scala
  article/test/topmentions/TopMentionsServiceTest.scala
  common/app/dev/DevParametersHttpRequestHandler.scala
  common/app/model/TopMentionsModel.scala
  common/test/model/TopMentionsModelTest.scala
  dev-build/conf/routes
  preview/conf/routes
Owners: @guardian/dotcom-platform

Introduce `CommercialLazyLoadMarginReloaded` test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin-reloaded.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Remove `control` variant
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin-reloaded.ts
Owners: @guardian/dotcom-platform

[DO NOT MERGE] Bump the CMP to use a ghref to test in CODE
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

use real version
  yarn.lock
Owners: @guardian/dotcom-platform

yarn install
  yarn.lock
Owners: @guardian/dotcom-platform

only log when query param exists
  article/app/controllers/LiveBlogController.scala
Owners: @guardian/dotcom-platform

Delete forceSendMetrics file. ShouldCaptureMetrics is true if should force metrics. Removed out-of-date comment.
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/ad-verification/prepare-ad-verification.ts
  static/src/javascripts/projects/common/modules/analytics/forceSendMetrics.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Update commercial graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

Add forceSendMetrics to the list of allowed client-side dev url parameters
  common/app/dev/DevParametersHttpRequestHandler.scala
Owners: @guardian/dotcom-platform

passback rename previous to initial slot
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

add logging when the cache is successfully refreshed
  article/app/topmentions/TopMentionsService.scala
Owners: @guardian/dotcom-platform

update log description
  common/app/model/TopMentionsModel.scala
Owners: @guardian/dotcom-platform

passback breakout promises and chain together
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Owners: @guardian/commercial-dev

remove redundant fail - resolving merge conflict
  article/test/model/AutomaticFiltersTest.scala
Owners: @guardian/dotcom-platform

Use url parameter instead of hash for forceSendMetrics
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
Owners: @guardian/dotcom-platform

fix test failures
  article/test/model/LiveBlogCurrentPageTest.scala
Owners: @guardian/dotcom-platform

increase test audience to 20%
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin-reloaded.ts
Owners: @guardian/dotcom-platform

rename variant groups
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin-reloaded.ts
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

fix lazy load tests
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.spec.ts
Owners: @guardian/commercial-dev

Introduce `CommercialLazyLoadMarginReloaded` test (#25107)
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/lazy-load.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-lazy-load-margin-reloaded.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Add params to renderJson paths
  article/app/controllers/LiveBlogController.scala
  article/conf/routes
  article/test/LiveBlogControllerTest.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  dev-build/conf/routes
Owners: @guardian/dotcom-platform

change range type for when top mention filtering is needed
  article/app/controllers/LiveBlogController.scala
  article/test/model/LiveBlogCurrentPageTest.scala
  common/app/model/ArticleBlocks.scala
  common/app/model/LiveBlogCurrentPage.scala
Owners: @guardian/dotcom-platform

Correct naming
  article/app/controllers/LiveBlogController.scala
  article/test/LiveBlogControllerTest.scala
Owners: @guardian/dotcom-platform

Fix route names
  article/conf/routes
  dev-build/conf/routes
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
