Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

Delete getEnhancedConsent
  static/src/javascripts/projects/common/modules/commercial/enhanced-consent.ts
Owners: @guardian/commercial-dev

prepare-prebid : replace getEnhancedConsent with onConsent
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

prepare-googletag.spec add tests for tcfv2 load googletag
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
Owners: @guardian/commercial-dev

prepare-prebid.spec : replace getEnhancedConsent with onConsent and simplify mocks
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.spec.ts
Owners: @guardian/commercial-dev

prebid : replace getEnhancedConsent with onConsent
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
Owners: @guardian/commercial-dev

Remove unused else
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

Remove unused consent state from prepare-googletag.spec
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
Owners: @guardian/commercial-dev

store top mentions in memory
  article/app/AppLoader.scala
  article/app/topmentions/TopMentionsModel.scala
  article/app/topmentions/TopMentionsS3Client.scala
  article/app/topmentions/TopMentionsService.scala
Owners: @guardian/dotcom-platform

temprarily speed the top mention job to test in code
  article/app/jobs/TopMentionsLifecycle.scala
  article/app/topmentions/TopMentionsService.scala
Owners: @guardian/dotcom-platform

Bump Prebid to hash 2e61e45
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

chore: Press `how-has-brexit-vote-affected-uk-economy-january-verdict`
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Add an experiment which will be used to offer HTTP3
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

Remove unnecessary throws
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
Owners: @guardian/commercial-dev

write unit test for TopMentionsService
  article/app/AppLoader.scala
  article/app/topmentions/TopMentionsS3Client.scala
  article/app/topmentions/TopMentionsService.scala
  article/test/topmentions/TopMentionsServiceTest.scala
Owners: @guardian/dotcom-platform

set the frequency of job to 2 minutes and also run it at app start time
  article/app/jobs/TopMentionsLifecycle.scala
Owners: @guardian/dotcom-platform

add top mention lifecycle to preview and de-build projects
  article/app/AppLoader.scala
  dev-build/app/AppLoader.scala
  preview/app/AppLoader.scala
Owners: @guardian/dotcom-platform

change to beta version of Ophan
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

add top mention wiring for article controllers
  article/app/controllers/ArticleControllers.scala
Owners: @guardian/dotcom-platform

Add test to check GAM request has correct GDPR consent properties. Tidy Cypress files. Move unhandled expception check to support/index.ts file
  cypress/integration/right-slot.spec.ts
  cypress/integration/slots.spec.ts
  cypress/integration/targeting.spec.ts
  cypress/integration/top-above-nav.spec.ts
  cypress/support/index.ts
Owners: @guardian/dotcom-platform

create enum for top mention entity type
  article/app/topmentions/TopMentionsModel.scala
  article/test/topmentions/TopMentionsServiceTest.scala
Owners: @guardian/dotcom-platform

add womens euro 2022 badge
  sport/app/football/feed/Competitions.scala
  sport/app/football/model/model.scala
  sport/app/football/views/fragments/teamForm.scala.html
  sport/app/football/views/wallchart/knockoutMatch.scala.html
  sport/app/football/views/wallchart/knockoutSpider.scala.html
  static/src/inline-svgs/badges/womens_euros_2022_badge.svg
Owners: @guardian/dotcom-platform

update to new version of Ophan
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

pass messages between parent window and child iframe
  static/vendor/data/amp-iframe.html
Owners: @guardian/dotcom-platform

Hide ad slots if targeting consent is denied (#24993)
  cypress.json
  cypress/.eslintrc.json
  cypress/cypress.webpack.config.ts
  cypress/fixtures/pages.ts
  cypress/integration/consent.spec.ts
  cypress/integration/slots.spec.ts
  cypress/lib/util.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/lib/manage-ad-free-cookie.spec.ts
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/projects/commercial/modules/ad-free-slot-remove.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.spec.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
  static/src/javascripts/projects/commercial/modules/remove-slots.ts
  static/src/javascripts/projects/common/modules/commercial/lib/cookie.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

use existing s3 client and make bucket param optional and make parse an extension method on S3Onject
  article/app/jobs/TopMentionsLifecycle.scala
  article/app/topmentions/TopMentionsS3Client.scala
  common/app/common/configuration.scala
Owners: @guardian/dotcom-platform

Revert "Hide ad slots if targeting consent is denied (#24993)"
  cypress.json
  cypress/.eslintrc.json
  cypress/cypress.webpack.config.ts
  cypress/fixtures/pages.ts
  cypress/integration/consent.spec.ts
  cypress/integration/slots.spec.ts
  cypress/lib/util.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/lib/manage-ad-free-cookie.spec.ts
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/projects/commercial/modules/ad-free-slot-remove.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.spec.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
  static/src/javascripts/projects/commercial/modules/remove-slots.ts
  static/src/javascripts/projects/common/modules/commercial/lib/cookie.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

Revert "Hide ad slots if targeting consent is denied (#24993)" (#25089)
  cypress.json
  cypress/.eslintrc.json
  cypress/cypress.webpack.config.ts
  cypress/fixtures/pages.ts
  cypress/integration/consent.spec.ts
  cypress/integration/slots.spec.ts
  cypress/lib/util.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/bootstraps/standard/main.js
  static/src/javascripts/lib/manage-ad-free-cookie.spec.ts
  static/src/javascripts/lib/manage-ad-free-cookie.ts
  static/src/javascripts/projects/commercial/modules/ad-free-slot-remove.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.spec.ts
  static/src/javascripts/projects/commercial/modules/manage-ad-free-cookie-on-consent-change.ts
  static/src/javascripts/projects/commercial/modules/remove-slots.ts
  static/src/javascripts/projects/common/modules/commercial/lib/cookie.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

make sure adfree is set if digital subscriber
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/commercial-dev

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

don't unset adfree on consent given if localstorage reason is empty
  static/src/javascripts/lib/manage-ad-free-cookie.ts
Owners: @guardian/dotcom-platform

Extend switch by one week
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

add cypress test case
  cypress/integration/consent.spec.ts
  cypress/lib/util.ts
  package.json
  yarn.lock
Owners: @guardian/dotcom-platform

add a couple unit test
  static/src/javascripts/lib/manage-ad-free-cookie.spec.ts
Owners: @guardian/dotcom-platform

Update common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
Owners: @guardian/dotcom-platform

Update common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeCaptcha.scala.js
Owners: @guardian/dotcom-platform

Update common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/thrasherEmailSignUp.scala.html
Owners: @guardian/dotcom-platform

Update common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
  common/app/views/fragments/email/signup/subscription/emailSignUp.scala.html
Owners: @guardian/dotcom-platform

Update common/app/views/fragments/email/signup/footer/emailSignUpFooter.scala.html
  common/app/views/fragments/email/signup/footer/emailSignUpFooter.scala.html
Owners: @guardian/dotcom-platform

Update common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
  common/app/templates/inlineJS/nonBlocking/signUpIframeWithoutCaptcha.scala.js
Owners: @guardian/dotcom-platform
