Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers

mock ophan in liveblog-adverts.spec.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.js
Owners: @guardian/commercial-dev

Deprecate data-spacefinder-component attribute
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Update banner for email "Hear Here"
  static/public/images/email/banners/hear-here.png
Owners: @guardian/dotcom-platform

Viewport comments
  static/src/javascripts/projects/commercial/modules/messenger/viewport.ts
Owners: @guardian/commercial-dev

Messenger comments
  static/src/javascripts/projects/commercial/modules/messenger.ts
Owners: @guardian/commercial-dev

Update banner for email "Hear Here" (#24801)
  static/public/images/email/banners/hear-here.png
Owners: @guardian/dotcom-platform

Messenger split listeners and persistent listeners
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/messenger.ts
Owners: @guardian/commercial-dev

Remove viewport flow modules
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/viewport.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/viewport.spec.js
Owners: @guardian/dotcom-platform

Remove resize flow modules
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/resize.spec.js
Owners: @guardian/dotcom-platform

Update tag for latestContentByKeyword test
  commercial/test/model/LookupTest.scala
  data/database/cae017afbc2b50d416e181d8e09b7763fd067549608c351a7db73ac406e6770e
Owners: @guardian/commercial-dev, @guardian/dotcom-platform

add comments
  common/app/common/Box.scala
Owners: @guardian/dotcom-platform

docs: explain contentsForKeyword returns 4 latest
  commercial/test/model/LookupTest.scala
Owners: @guardian/commercial-dev

Delete uneeded test
  commercial/test/model/LookupTest.scala
Owners: @guardian/commercial-dev

Add custom banner for Moving the Goalposts email
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/moving-the-goalposts.png
Owners: @guardian/dotcom-platform

remove `eslint-disable-next-line`s
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

test: keep keyword as-is
  commercial/test/model/LookupTest.scala
Owners: @guardian/commercial-dev

only. the control group of experiment should have bug fix disabled
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

add rikerdebug to commercialParams
  common/app/dev/DevParametersHttpRequestHandler.scala
Owners: @guardian/dotcom-platform

Deprecate data-spacefinder-component attribute (#24776)
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Remove messenger persist option
  static/src/javascripts/projects/commercial/modules/messenger.ts
  static/src/javascripts/projects/commercial/modules/messenger/scroll.js
  static/src/javascripts/projects/commercial/modules/messenger/viewport.ts
Owners: @guardian/commercial-dev

Messenger persistent listeners return void
  static/src/javascripts/projects/commercial/modules/messenger.ts
Owners: @guardian/commercial-dev

Viewport bracket early returns
  static/src/javascripts/projects/commercial/modules/messenger/viewport.ts
Owners: @guardian/commercial-dev

Add custom banner for Moving the Goalposts email (#24803)
  common/app/model/EmailAddons.scala
  static/public/images/email/banners/moving-the-goalposts.png
Owners: @guardian/dotcom-platform

migrate admin app to play-googleauth
  admin/app/conf/GoogleAuth.scala
  admin/app/controllers/admin/IndexController.scala
  admin/app/controllers/admin/OAuthLoginAdminController.scala
  admin/app/controllers/cache/ImageDecacheController.scala
  admin/app/controllers/cache/PageDecacheController.scala
  build.sbt
  common/app/googleAuth/OAuthLoginController.scala
  preview/app/controllers/OAuthLoginPreviewController.scala
  project/Dependencies.scala
Owners: @guardian/dotcom-platform

Upgrade play google-auth in preview login
  preview/app/controllers/OAuthLoginPreviewController.scala
Owners: @guardian/dotcom-platform

Add spacefinder role rules for immersives
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

feat: Only show caption when active experiment participant
  common/app/views/fragments/items/elements/facia_cards/image.scala.html
Owners: @guardian/dotcom-platform

add SlideshowCaptions to allExperiments
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

fix: Change experiment group of captions to not conflict with StickyVideos
  common/app/experiments/Experiments.scala
Owners: @guardian/dotcom-platform

update experiment dates
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
Owners: @guardian/dotcom-platform

move GoogleAuth into common
  admin/app/controllers/admin/IndexController.scala
  admin/app/controllers/admin/OAuthLoginAdminController.scala
  common/app/conf/GoogleAuth.scala
Owners: @guardian/dotcom-platform

update comment
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
Owners: @guardian/commercial-dev

update experiment dates
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
Owners: @guardian/dotcom-platform

add commercialGptLazyLoad to list of tests to force metrics for
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
Owners: @guardian/dotcom-platform

oops
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-gpt-lazy-load.ts
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

refactor admin configuration to return oauth credentials with a single callback
  admin/app/conf/AdminConfiguration.scala
  admin/app/controllers/admin/IndexController.scala
  admin/app/controllers/admin/OAuthLoginAdminController.scala
  common/app/conf/GoogleAuth.scala
  preview/app/controllers/OAuthLoginPreviewController.scala
Owners: @guardian/dotcom-platform

Add spacefinder role rules for immersives (#24806)
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Fix casing of richlink role
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Fix casing of richlink role (#24809)
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev
