Repository guardian/frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @guardian/dotcom-platform, @guardian/commercial-dev, @guardian/tx-engineers

feat: remove unused scroll depth
  common/app/conf/switches/MonitoringSwitches.scala
  static/src/javascripts.flow.archive/projects/common/modules/analytics/scrollDepth.js
  static/src/javascripts.flow.archive/projects/common/modules/analytics/scrollDepth.spec.js
  static/src/javascripts/bootstraps/enhanced/common.js
  static/src/javascripts/projects/common/modules/analytics/scrollDepth.js
  static/src/javascripts/projects/common/modules/analytics/scrollDepth.spec.js
Owners: @guardian/dotcom-platform

ensure Summary title on empty summary posts in DCR
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/test/model/dotcomrendering/DotcomRenderingUtilsTest.scala
Owners: @guardian/dotcom-platform

remove logging
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
Owners: @guardian/dotcom-platform

Remove unecessary curly braces
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Revert "Add the ability to show contributors' small byline images in liveblogs"
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Strip out `SpacefinderOkr2ImagesLoaded` logic
  static/src/javascripts/projects/common/modules/on-images-loaded-broken.js
  static/src/javascripts/projects/common/modules/on-images-loaded-fixed.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
Owners: @guardian/dotcom-platform

Strip out `SpacefinderOkr3RichLinks` logic
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Owners: @guardian/commercial-dev

Strip out liveblog additional blocks logic
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
Owners: @guardian/commercial-dev

Strip out `SpacefinderOkr1FilterNearby` logic
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/filter-nearby-candidates-broken.ts
  static/src/javascripts/projects/commercial/modules/filter-nearby-candidates-fixed.ts
Owners: @guardian/commercial-dev

Remove `SpacefinderOkrMegaTest`
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/spacefinder-okr-mega-test.ts
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

remove running snyk monitor on PR
  .github/workflows/snyk.yml
Owners: @guardian/dotcom-platform

Add ProjectSettings to deps for snyk to test on
  .github/workflows/snyk-pr.yml
Owners: @guardian/dotcom-platform

update snyk org
  .github/workflows/snyk-pr.yml
  .github/workflows/snyk.yml
Owners: @guardian/dotcom-platform

Support small byline images only for blogs
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Press G200 pages
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

fix(git.io): resolve links to github.com
  static/src/javascripts/projects/commercial/modules/__vendor/ipsos-mori.js
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
Owners: @guardian/commercial-dev

Add switch for ab-inline1-container-sizing AB test
  common/app/conf/switches/ABTestSwitches.scala
Owners: @guardian/dotcom-platform

Add inline1-container-sizing AB test
  static/src/javascripts/projects/common/modules/experiments/tests/inline1-container-sizing.ts
Owners: @guardian/dotcom-platform

Add inline1ContainerSizing to ab-tests
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
Owners: @guardian/dotcom-platform

Replace git.io links with resolved links
  .github/PULL_REQUEST_TEMPLATE.md
  applications/app/controllers/Nx1ConfigController.scala
  applications/conf/routes
  dev-build/conf/routes
  setup.sh
  static/src/javascripts/projects/commercial/modules/__vendor/ipsos-mori.js
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  static/src/stylesheets/base/_normalize.scss
  static/src/stylesheets/module/_adslot.scss
Owners: @guardian/dotcom-platform, @guardian/commercial-dev

single front door v3 updates
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/views/fragments/footer.scala.html
  common/app/views/fragments/header.scala.html
Owners: @guardian/dotcom-platform

Press contact securely page
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Add container to `inline2+` ad slots (again)
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
Owners: @guardian/commercial-dev

Add inline1ContainerSizing AB test to shouldCaptureMetrics
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
Owners: @guardian/dotcom-platform

rebuild commercial bundle graph
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Owners: @guardian/dotcom-platform

add new snyk org
  .github/workflows/snyk-pr.yml
  .github/workflows/snyk.yml
Owners: @guardian/dotcom-platform

use CAPI like model on DCR tags
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Add bylineLargeImageUrl property in the Tag to send to DCR
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Press interactive
  common/app/services/dotcomrendering/PressedContent.scala
Owners: @guardian/dotcom-platform

Remove unused imports
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

feat: Added a switch for newsletter onwards
  common/app/conf/switches/FeatureSwitches.scala
Owners: @guardian/dotcom-platform

add Jake Lee Kennedy to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

add Jake Lee Kennedy to humans.txt
  facia/public/humans.txt
Owners: @guardian/dotcom-platform

Use small byline image in bylineImageUrl
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

Add largeImageUrl in Contributor
  common/app/model/dotcomrendering/Contributor.scala
  common/app/model/dotcomrendering/DotcomRenderingSupportTypes.scala
Owners: @guardian/dotcom-platform

update SBT tree plugin
  .github/workflows/snyk.yml
  identity/project/build.properties
  project/plugins.sbt
Owners: @guardian/dotcom-platform

add .snyk file to exclude identity
  .github/workflows/snyk.yml
  .snyk
  identity/project/build.properties
Owners: @guardian/dotcom-platform

remove rogue identity/build.properties
  identity/project/build.properties
Owners: @guardian/dotcom-platform

update sbt-dependency-graph 0.9 => 0.10
  project/plugins.sbt
Owners: @guardian/dotcom-platform

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# Global owners
*   @guardian/dotcom-platform

# Commercial Dev code
/static/src/javascripts/projects/common/modules/commercial/ @guardian/commercial-dev
/static/src/javascripts/projects/commercial/ @guardian/commercial-dev
/commercial/ @guardian/commercial-dev

# Targeted Experiences (TX)
/static/src/javascripts/projects/common/modules/commercial/braze @guardian/tx-engineers
