Repository guardian/frontend, pull requests merged in 2018-11, with the labels that each got.

#20713 instagram element
  common/app/model/dotcomrendering/pageElements/PageElement.scala
Labels: Work in progress 🏗, dotcomrendering

#20711 Split TextBlock elements to component tags.
  common/app/model/dotcomrendering/pageElements/PageElement.scala
Labels: dotcomrendering

#20726 Tweet Block Element
  common/app/model/dotcomrendering/pageElements/PageElement.scala
Labels: dotcomrendering

#20782 Better landmarks on articles
  article/test/ArticleFeatureTest.scala
  common/app/views/fragments/containers/facia_cards/standardHeaderMeta.scala.html
  common/app/views/fragments/onwardPlaceholder.scala.html
  common/app/views/fragments/richLinkDefault.scala.html
  common/app/views/fragments/storyPackagePlaceholder.scala.html
  onward/app/views/fragments/richLinkBody.scala.html
  static/src/javascripts/projects/common/views/content/share-count.html
Labels: a11y
