Repository guardian/frontend, pull requests merged in 2020-08, with the labels that each got.

#22856 TCFv2 Enforcement for googletag and prebid based on Sourcepoint ID
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/dfp/dfp-api.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.spec.js
  static/src/javascripts/projects/common/modules/experiments/ab-tests.js
  static/src/javascripts/projects/common/modules/experiments/tests/tcfv2-googletag-prebid-enforcement.js
Labels: commercial

#22865 TCFv2 0% Test
  common/app/experiments/Experiments.scala
Labels: Do not merge ⚠️

#22890 [CMP] DCR Hotfix
  package.json
  yarn.lock
Labels: bug, dotcomrendering, priority: high, severity: high

#22859 Add comscore behind TCfv2
  common/app/views/fragments/analytics/comscore.scala.html
  static/src/javascripts/projects/commercial/modules/comscore.js
Labels: Do not merge ⚠️

#22914 [CMP] Cleaning v3 : Update comscore
  static/src/javascripts/projects/commercial/modules/comscore.js
  static/src/javascripts/projects/commercial/modules/comscore.spec.js
Labels: commercial

#22912 [CMP] Cleaning v3 : Update prepare-prebid
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.spec.js
Labels: commercial

#22913 [CMP] Cleaning v3 : Update googletag
  static/src/javascripts/projects/commercial/modules/dfp/dfp-api.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.js
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.js
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.js
Labels: commercial

#22915 [CMP] Cleaning v3 : Update redplanet
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.js
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.js
Labels: commercial

#22918 [CMP] Cleaning v3 : Update youtube-player
  static/src/javascripts/projects/common/modules/atoms/youtube-player.js
  static/src/javascripts/projects/common/modules/atoms/youtube-player.spec.js
Labels: commercial

#22925 [CMP] Update Comscore in CCPA
  static/src/javascripts/projects/commercial/modules/comscore.js
  static/src/javascripts/projects/commercial/modules/comscore.spec.js
Labels: commercial

#22919 [CMP] Cleaning v3 : Update third-party-tags
  static/src/javascripts/projects/commercial/modules/third-party-tags.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.spec.js
Labels: commercial

#22920 [CMP] Cleaning v3 : Remove the actual CMP + UI
  static/src/javascripts/boot.js
  static/src/javascripts/bootstraps/commercial.dcr.js
  static/src/javascripts/bootstraps/commercial.js
  static/src/javascripts/projects/commercial/modules/cmp/cmp.js
  static/src/javascripts/projects/commercial/modules/cmp/cmp.spec.js
  static/src/javascripts/projects/commercial/modules/cmp/stub.js
  static/src/javascripts/projects/common/modules/cmp-ui/index.js
  static/src/javascripts/projects/common/modules/identity/sign-in-gate/helper.js
  static/src/javascripts/projects/common/modules/identity/sign-in-gate/helper.spec.js
  static/src/javascripts/projects/common/modules/identity/sign-in-gate/sign-in-gate.spec.js
  static/src/javascripts/projects/common/modules/ui/cmp-ui.js
  static/src/javascripts/projects/common/modules/ui/cmp-ui.spec.js
Labels: commercial

#22939 [CMP] Fix modal displaying on load
  static/src/javascripts/projects/common/modules/ui/cmp-ui.js
Labels: commercial

#22929 [CMP] Remove v3: Bump CMP to v4.3
  package.json
  yarn.lock
Labels: commercial

#22917 [CMP] Cleaning v3 : Update boot.js
  static/src/javascripts/boot.js
Labels: commercial
