Repository guardian/frontend, pull requests merged in 2020-07, with the labels that each got.

#22756 Redirect to HTTPS url
  nginx/frontend.conf
Labels: https

#22751 Inject creative styles via JS
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.js
  static/src/javascripts/projects/commercial/modules/messenger/background.js
  static/src/stylesheets/module/commercial/_creatives.scss
Labels: commercial, dotcomrendering

#22768 DCR Native ads fixes
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.js
  static/src/javascripts/projects/commercial/modules/messenger/background.js
  static/src/stylesheets/module/_adslot.scss
  static/src/stylesheets/module/commercial/_creatives.scss
Labels: commercial, dotcomrendering

#22766 Remove Redplanet AB test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.js
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.js
  static/src/javascripts/projects/common/modules/experiments/ab-tests.js
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-redplanet-aus.js
Labels: Do not merge ⚠️

#22776 added pseudo-element as real element
  static/src/javascripts/projects/commercial/modules/messenger/background.js
Labels: commercial, dotcomrendering, video

#22794 Distinguish between UK, US & AUS newsletters
  applications/app/views/signup/newsletterContent.scala.html
Labels: Do not merge ⚠️, Newsletters

#22804 Increase newsletter tracking granularity
  identity/app/views/fragments/form/switch.scala.html
  identity/app/views/fragments/newsletterSwitch.scala.html
Labels: Do not merge ⚠️, Newsletters

#22795 Modify data-link-name based on state
  static/src/javascripts/bootstraps/enhanced/newsletters.js
Labels: Do not merge ⚠️, Newsletters

#22805 Refactor contributions service in preparation for subs banners
  common/app/conf/switches/FeatureSwitches.scala
  static/src/javascripts/projects/common/modules/commercial/contributions-service.js
  static/src/javascripts/projects/common/modules/ui/subscription-banners/subscription-banner.js
Labels: Do not merge ⚠️

#22803 TCFv2 0% Server-side Test
  common/app/dev/DevParametersHttpRequestHandler.scala
  common/app/experiments/Experiments.scala
  package.json
  static/src/javascripts/boot.js
  static/src/javascripts/projects/commercial/modules/cmp/cmp.js
  static/src/javascripts/projects/commercial/modules/cmp/cmp.spec.js
  static/src/javascripts/projects/commercial/modules/cmp/tcfv2-test.js
  static/src/javascripts/projects/commercial/modules/comscore.js
  static/src/javascripts/projects/commercial/modules/comscore.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/dfp-api.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.js
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.js
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.js
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.js
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.spec.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.spec.js
  static/src/javascripts/projects/common/modules/atoms/youtube-player.js
  static/src/javascripts/projects/common/modules/atoms/youtube-player.spec.js
  static/src/javascripts/projects/common/modules/cmp-ui/index.js
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.js
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.js
  static/src/javascripts/projects/common/modules/ui/cmp-ui.js
  static/src/javascripts/projects/common/modules/ui/cmp-ui.spec.js
  yarn.lock
Labels: Work in progress 🏗, commercial

#22822 TCFv2 enforcement
  package.json
  static/src/javascripts/__flow__/types/global.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.js
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.js
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.js
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.spec.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.spec.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/facebook-pixel.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/facebook-pixel.spec.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/ias.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/inizio.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/permutive.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/remarketing.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/remarketing.spec.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/simple-reach.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/simple-reach.spec.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/twitter-uwt.js
  static/src/javascripts/projects/commercial/modules/third-party-tags/twitter-uwt.spec.js
  static/src/javascripts/projects/common/modules/atoms/youtube-player.js
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.js
  yarn.lock
Labels: commercial

#22829 [hotfix] Update CMP package
  package.json
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.js
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.js
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.js
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.spec.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.spec.js
  static/src/javascripts/projects/common/modules/atoms/youtube-player.js
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.js
  yarn.lock
Labels: bug, commercial

#22845 Check Custom Vendors
  package.json
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.js
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.js
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.js
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.spec.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.js
  static/src/javascripts/projects/commercial/modules/third-party-tags.spec.js
  yarn.lock
Labels: bug, commercial

#22834 TCFv2 1% Server-side test
  common/app/experiments/Experiments.scala
Labels: Do not merge ⚠️, commercial
