Repository guardian/frontend, pull requests merged in 2021-11, with the labels that each got.

#24252 Keep Hosted JS outside the standalone commercial bundle
  common/app/common/Preload.scala
  common/app/conf/switches/CommercialSwitches.scala
  common/app/experiments/Experiments.scala
  common/app/views/support/JavaScriptPage.scala
  static/src/javascripts/boot.js
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24289 @mxdvl is also a guardian human
  facia/public/humans.txt
Labels: lang="fr"

#24315 Convert `CommercialFeatures` to TypeScript
  static/src/javascripts.flow.archive/projects/common/modules/commercial/commercial-features.js
  static/src/javascripts.flow.archive/projects/common/modules/commercial/commercial-features.spec.js
  static/src/javascripts/projects/commercial/modules/article-aside-adverts.spec.js
  static/src/javascripts/projects/common/modules/commercial/commercial-features.spec.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: TypeScript

#24349 use @types/googletag
  package.json
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/add-slot.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-api.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/display-ads.ts
  static/src/javascripts/projects/commercial/modules/dfp/display-lazy-ads.ts
  static/src/javascripts/projects/commercial/modules/dfp/empty-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-load.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-render.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-viewable.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/types.d.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Labels: commercial, TypeScript

#24306 YouTube Player TS Improvements
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
Labels: TypeScript

#24361 Remove `0p19G` query param
  common/app/dev/DevParametersHttpRequestHandler.scala
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
Labels: commercial

#24399 convert comments to JSDoc style
  static/src/javascripts/lib/url.ts
Labels: TypeScript

#24400 Convert `event.js` to TypeScript
  static/src/javascripts.flow.archive/lib/events.js
  static/src/javascripts/lib/events.js
  static/src/javascripts/lib/events.ts
Labels: TypeScript

#24405 Integrate Criteo as new Prebid SSP
  common/app/conf/switches/CommercialSwitches.scala
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/types.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Labels: commercial

#24407 Add Criteo AB test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/integrate-criteo.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#24424 Remove Ad Targeting `gdncrm` and user segments
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
  static/src/javascripts/projects/common/modules/commercial/user-ad-targeting.spec.ts
  static/src/javascripts/projects/common/modules/commercial/user-ad-targeting.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#24427 Remove Ad Targeting `ms` (Media Source)
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
Labels: performance

#24430 Remove Appnexus `slot` targeting
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
Labels: commercial

#24431 Remove Ad Targeting `x` Krux
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
Labels: commercial

#24406 Rely on `performance` from Polyfill.io in user-timings
  static/src/javascripts.flow.archive/lib/user-timing.js
  static/src/javascripts/lib/user-timing.js
  static/src/javascripts/lib/user-timing.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-render.ts
  static/src/javascripts/projects/common/modules/analytics/google.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24438 Restrict Criteo to non-Aus/NZ regions
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.ts
Labels: commercial

#24435 Convert `user-features` to TypeScript
  static/src/javascripts.flow.archive/projects/common/modules/commercial/user-features.js
  static/src/javascripts/projects/common/modules/commercial/user-features.js
  static/src/javascripts/projects/common/modules/commercial/user-features.spec.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  static/src/javascripts/types/dates.ts
  static/src/javascripts/types/membership.d.ts
  static/src/javascripts/types/membership.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: TypeScript

#24444 Extract Google Proxy detection from `detect.js`
  static/src/javascripts/lib/detect-google-proxy.spec.ts
  static/src/javascripts/lib/detect-google-proxy.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-a9.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-a9.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript
