Repository guardian/frontend, pull requests merged in 2021-06, with the labels that each got.

#23832 Remove $ from comment adverts
  static/src/javascripts.flow.archive/projects/commercial/modules/comment-adverts.js
  static/src/javascripts.flow.archive/projects/commercial/modules/comment-adverts.spec.js
  static/src/javascripts.flow.archive/projects/commercial/modules/dfp/dfp-env.js
  static/src/javascripts.flow.archive/projects/commercial/modules/dfp/get-advert-by-id.js
  static/src/javascripts/projects/commercial/modules/comment-adverts.js
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.js
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env.js
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env.ts
  static/src/javascripts/projects/commercial/modules/dfp/get-advert-by-id.js
  static/src/javascripts/projects/commercial/modules/dfp/get-advert-by-id.ts
  static/src/javascripts/projects/commercial/modules/hosted/next-video-autoplay.spec.ts
Labels: TypeScript, commercial

#23885 Sentinel: `next-video-autoplay.ts`
  dev/jest.setupTestFrameworkScriptFile.js
  static/src/javascripts/projects/commercial/modules/hosted/next-video-autoplay.ts
  static/src/javascripts/projects/commercial/sentinel.spec.ts
Labels: commercial

#23865 Collapse ad slot descriptive class
  static/src/javascripts/projects/commercial/modules/dfp/render-advert-label.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
  static/src/stylesheets/module/_adslot.scss
Labels: commercial

#23866 Update DCR Ad styles (Carrot, Fluid)
  static/src/javascripts.flow.archive/projects/commercial/modules/carrot-traffic-driver.js
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.js
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
Labels: commercial

#23921 Bump @guardian/commercial-core from 0.18.0 to 0.19.0
  package.json
  yarn.lock
Labels: dependencies

#23938 Fix interscroller issue on DCR
  static/src/javascripts/projects/commercial/modules/messenger/background.js
Labels: commercial

#23914 Images on Fronts are Lazy Loaded beyond the fold
  common/app/views/fragments/items/elements/facia_cards/image.scala.html
  common/app/views/fragments/items/elements/facia_cards/itemImage.scala.html
  common/app/views/fragments/items/facia_cards/contentCard.scala.html
  common/app/views/fragments/items/facia_cards/dynamoContentCard.scala.html
Labels: Work in progress 🏗
