Repository guardian/frontend, pull requests merged in 2021-05, with the labels that each got.

#23747 Remove qwery from prepare-googletag.js
  package.json
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  yarn.lock
Labels: commercial

#23768 bump guardian/Prebid.js
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.js
  yarn.lock
Labels: commercial

#23800 Introduce sbt-tc
  sbt-tc
Labels: Do not merge ⚠️

#23810 Prebid: include `rtdModule`
  package.json
  yarn.lock
Labels: commercial

#23811 Pick all Permutive segments in Prebid
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/pubmatic.js
Labels: commercial

#23813 Remove qwery and bonzo from article-aside-adverts.js and convert it to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/article-aside-adverts.js
  static/src/javascripts.flow.archive/projects/commercial/modules/article-aside-adverts.spec.js
  static/src/javascripts/projects/commercial/modules/article-aside-adverts.js
  static/src/javascripts/projects/commercial/modules/article-aside-adverts.spec.js
  static/src/javascripts/projects/commercial/modules/article-aside-adverts.ts
Labels: TypeScript

#23824 Roll out Prebid with Permutive to 100% of audience
  common/app/experiments/Experiments.scala
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/permutive-test.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.js
  yarn.lock
Labels: Commercial: Programmatic, commercial
