Repository guardian/frontend, pull requests merged in 2021-08, with the labels that each got.

#24044 Convert `commercial` and `commercial.dcr` to Typescript
  package.json
  static/src/javascripts.flow.archive/bootstraps/commercial.dcr.js
  static/src/javascripts.flow.archive/bootstraps/commercial.js
  static/src/javascripts.flow.archive/projects/common/modules/commercial/adblock-ask.js
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/commercial.ts
  static/src/javascripts/bootstraps/types.ts
  static/src/javascripts/projects/commercial/adblock-ask.ts
  static/src/javascripts/projects/common/modules/commercial/adblock-ask.js
  static/src/javascripts/types/global.d.ts
  webpack.config.dcr.js
  yarn.lock
Labels: TypeScript, commercial

#24049 AdBlock Ask temp rollback.
  static/src/javascripts/projects/commercial/adblock-ask.ts
Labels: bug

#24045 Convert youtube-player to TypeScript
  static/src/javascripts/projects/commercial/modules/hosted/youtube.js
  static/src/javascripts/projects/commercial/modules/hosted/youtube.ts
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
Labels: TypeScript, commercial

#24041 Improve skins launch
  dev/jest.setupTestFrameworkScriptFile.js
  static/src/javascripts/projects/commercial/commercial-metrics.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-api.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/types.d.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.ts
  static/src/javascripts/projects/common/modules/experiments/tests/improve-skins.ts
  static/src/javascripts/types/global.d.ts
Labels: TypeScript, commercial

#24076 Improve skins for all
  common/app/conf/switches/ABTestSwitches.scala
  common/app/conf/switches/CommercialSwitches.scala
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/types.d.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/improve-skins.ts
Labels: commercial

#24071 Convert `create-slot` to TypeScript
  static/src/javascripts/projects/commercial/modules/ad-sizes.js
  static/src/javascripts/projects/commercial/modules/ad-sizes.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slots.js
  static/src/javascripts/projects/commercial/modules/dfp/create-slots.ts
  static/src/javascripts/projects/commercial/types.d.ts
Labels: commercial, TypeScript

#24127 Force Core Web Vitals reporting (really)
  static/src/javascripts/projects/common/modules/analytics/coreVitals.ts
  static/src/javascripts/projects/common/modules/analytics/forceSendMetrics.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
Labels: performance

#24095 Remove top-above-nav ad slot AB tests
  common/app/experiments/Experiments.scala
  common/app/views/support/Commercial.scala
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/stylesheets/module/_adslot.scss
Labels: commercial
