Repository guardian/frontend, pull requests merged in 2022-07, with the labels that each got.

#25175 Use case matching for Merchandising High position
  common/app/views/support/HtmlCleaner.scala
Labels: commercial

#25170 refactor(weather): pick best city
  onward/app/weather/WeatherApi.scala
  onward/app/weather/controllers/LocationsController.scala
Labels: bug

#25121 Bypass metric sampling in AB test definition
  static/src/javascripts/bootstraps/enhanced/main.js
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/tests/commercial-end-of-quarter-2-test.ts
  static/src/javascripts/projects/common/modules/experiments/utils.ts
Labels: Do not merge ⚠️

#25187 Increase multi-sticky audience to `30%`
  static/src/javascripts/projects/common/modules/experiments/tests/multi-sticky-right-ads.ts
Labels: commercial

#25199 fix: Prevent US paid Youtube player reinitialising itself when trying to mute
  static/src/javascripts/projects/common/modules/atoms/youtube.js
  static/src/javascripts/projects/common/modules/atoms/youtube.spec.js
Labels: commercial

#25205 Fix line-height of boosted headlines
  static/src/stylesheets/pasteup/typography/_src.scss
Labels: Fronts :newspaper:

#25207 fix: Use absolute links in tableView embed
  sport/app/football/views/tablesList/tableView.scala.html
Labels: bug

#25218 Fix fluid ads refreshing
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25222 Cypress add basic prebid test
  cypress/e2e/prebid.cy.ts
  cypress/fixtures/prebid.ts
Labels: commercial

#25233 Sticky right ads: specify a `min-height`
  static/src/javascripts/projects/commercial/modules/sticky-inlines.ts
Labels: commercial

#25238 Improve Digital should receive Prebid sizes
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
Labels: commercial

#25236 Add containers to all inline ads
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
Labels: commercial

#25259 Use shared targeting from commercial-core
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
Labels: commercial

#25264 Remove fronts cypress tests
  cypress/e2e/consent.cy.ts
  cypress/e2e/targeting.cy.ts
  cypress/fixtures/pages/index.ts
Labels: commercial

#25251 fix(a11): weather widget logical tab order
  onward/app/views/weatherFragments/cityWeather.scala.html
  static/src/stylesheets/module/_weather.scss
Labels: accessibility

#25261 Increase spacefinder minAbove for articles without main image, or with a showcase image
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/common/modules/spacefinder-debug-tools.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
  static/src/javascripts/types/global.d.ts
Labels: commercial

#25265 Convert `appnexus.js` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/header-bidding/prebid/appnexus.js
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/appnexus.ts
  static/src/javascripts/types/global.d.ts
Labels: commercial

#25277 Ei/crossword ad size
  applications/app/views/fragments/crosswords/crosswordContent.scala.html
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/types.d.ts
  yarn.lock
Labels: commercial

#25280 Remove sticky mpu and banner fallbacks for IE11
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-mpu.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-mpu.spec.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-top-banner.js
  static/src/javascripts.flow.archive/projects/commercial/modules/sticky-top-banner.spec.js
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
  static/src/javascripts/projects/commercial/modules/sticky-mpu.js
  static/src/javascripts/projects/commercial/modules/sticky-mpu.spec.js
  static/src/javascripts/projects/commercial/modules/sticky-top-banner.js
  static/src/javascripts/projects/commercial/modules/sticky-top-banner.spec.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25283 fix: Minimum height for crossword banner
  static/src/stylesheets/module/crosswords/_layout.scss
Labels: commercial

#25278 fix: Duplicated size mappings on inline adverts
  package.json
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  yarn.lock
Labels: commercial

#25291 Convert `slot-config.spec.js` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/header-bidding/slot-config.spec.js
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.ts
Labels: commercial, TypeScript

#25126 Use personalised advertising targeting logic from commercial-core
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25299 Add dfpEnv to the window object
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/types/global.d.ts
Labels: commercial

#25304 Add amIused to article-aside-adverts.ts
  static/src/javascripts/projects/commercial/modules/article-aside-adverts.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25300 Ei/slot config migration
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/types.d.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Labels: commercial

#25308 Revert "Add amIused to article-aside-adverts.ts"
  static/src/javascripts/projects/commercial/modules/article-aside-adverts.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial
