Repository guardian/frontend, pull requests merged in 2022-05, with the labels that each got.

#24903 Ad passback method to hold the initial iFrame and create a new slot
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
Labels: commercial

#25005 Extend Prebid price granularity AB test
  static/src/javascripts/projects/common/modules/experiments/tests/prebid-price-granularity.ts
Labels: commercial

#24999 Pre-scala 2.13: Bump macros and support-internationalisation libraries
  project/Dependencies.scala
Labels: scala-2.13

#25011 Migrate rich links load from mediator to custom event
  static/src/javascripts/projects/common/modules/article/rich-links.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25027 Add `inline1` outstream sizes to Prebid
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.js
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
Labels: commercial

#25018 fix(ab-ophan): remove any type with generics
  static/src/javascripts/projects/common/modules/experiments/ab-ophan.ts
Labels: TypeScript

#25042 Add Relevant Yield cookie sync iframe
  static/vendor/data/amp-iframe.html
Labels: commercial, ⚡ AMP

#25051 No advertising for Internet Explorer
  static/src/javascripts/lib/detect.js
  static/src/javascripts/projects/common/modules/commercial/commercial-features.spec.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
  static/src/javascripts/projects/common/modules/navigation/navigation.js
  static/src/javascripts/projects/common/modules/ui/smartAppBanner.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial
