Repository guardian/frontend, pull requests merged in 2022-04, with the labels that each got.

#24833 Upgrade targeting-client
  build.sbt
  common/app/common/Logback/KinesisAdapter.scala
  project/Dependencies.scala
Labels: scala-2.13

#24697 Convert `refresh-on-resize.js` to TypeScript
  static/src/javascripts/projects/commercial/modules/dfp/refresh-on-resize.ts
Labels: commercial, TypeScript

#24886 Setup custom price granularity for Criteo
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.ts
  yarn.lock
Labels: commercial

#24889 Replace sticky-videos AB test with switch
  common/app/conf/switches/FeatureSwitches.scala
  common/app/experiments/Experiments.scala
Labels: Do not merge ⚠️

#24885 Convert spacefinder to TypeScript
  static/src/javascripts.flow.archive/projects/common/modules/spacefinder.js
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/common/modules/article/space-filler.ts
  static/src/javascripts/projects/common/modules/spacefinder.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24939 feat: remove unused scroll depth
  common/app/conf/switches/MonitoringSwitches.scala
  static/src/javascripts.flow.archive/projects/common/modules/analytics/scrollDepth.js
  static/src/javascripts.flow.archive/projects/common/modules/analytics/scrollDepth.spec.js
  static/src/javascripts/bootstraps/enhanced/common.js
  static/src/javascripts/projects/common/modules/analytics/scrollDepth.js
  static/src/javascripts/projects/common/modules/analytics/scrollDepth.spec.js
Labels: Health

#24849 Prebid price granularity AB test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.ts
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/prebid-price-granularity.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#24965 Increase size of price granularity test to 5%
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/common/modules/experiments/tests/prebid-price-granularity.ts
Labels: commercial
