Repository guardian/frontend, pull requests merged in 2022-09, with the labels that each got.

#25445 Convert spacefinder debug tools to TS
  .github/workflows/commercial-e2e.yml
  static/src/javascripts/projects/common/modules/spacefinder-debug-tools.js
  static/src/javascripts/projects/common/modules/spacefinder-debug-tools.ts
  static/src/javascripts/projects/common/modules/spacefinder.ts
Labels: commercial

#25451 refactor(shouldAmplify): more consistent logic
  common/app/model/content.scala
Labels: Health

#25459 Fix interscroller click through
  static/src/javascripts/projects/commercial/modules/messenger/background.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25455 Enable DCR rendering of AMP immersive
  common/app/model/content.scala
Labels: feature change

#25470 Enable ozone prebid in USA with it's own placement ID
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.ts
Labels: commercial

#25481 fix: label story packages directly
  common/app/views/fragments/storyPackagePlaceholder.scala.html
Labels: Accessibility Audit

#25440 Opt Out advertising: Upgrade tag to v3
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/consentless/define-slot.ts
  static/src/javascripts/projects/commercial/modules/consentless/init-safeframes.ts
  static/src/javascripts/projects/commercial/modules/consentless/prepare-ootag.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25484 Enable multi-sticky for consentless advertising
  static/src/javascripts/projects/commercial/modules/consentless/dynamic/article-inline.ts
Labels: commercial

#25495 chore: measure impact of long slideshows
  common/app/experiments/Experiments.scala
  common/app/views/fragments/items/facia_cards/contentCard.scala.html
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
Labels: 📊 Data

#25499 fix: test id for no more than 5 slides
  static/src/javascripts/projects/common/modules/analytics/shouldCaptureMetrics.ts
Labels: bug

#25469 Fix interscroller ad label
  static/src/javascripts/projects/commercial/modules/dfp/render-advert-label.ts
  static/src/javascripts/projects/commercial/modules/messenger/background.ts
Labels: commercial

#25515 Report duplicate slot errors
  static/src/javascripts/projects/commercial/modules/dfp/add-slot.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25521 Convert prepare permutive to TS
  static/src/javascripts.flow.archive/projects/commercial/modules/dfp/prepare-permutive.js
  static/src/javascripts.flow.archive/projects/commercial/modules/dfp/prepare-permutive.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-permutive.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-permutive.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-permutive.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25524 Migrate messenger to commercial-core
  package.json
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-load.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/messenger.spec.js
  static/src/javascripts/projects/commercial/modules/messenger.ts
  static/src/javascripts/projects/commercial/modules/messenger/background.ts
  static/src/javascripts/projects/commercial/modules/messenger/click.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/click.ts
  static/src/javascripts/projects/commercial/modules/messenger/disable-refresh.ts
  static/src/javascripts/projects/commercial/modules/messenger/get-page-targeting.ts
  static/src/javascripts/projects/commercial/modules/messenger/get-page-url.ts
  static/src/javascripts/projects/commercial/modules/messenger/measure-ad-load.ts
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
  static/src/javascripts/projects/commercial/modules/messenger/post-message.ts
  static/src/javascripts/projects/commercial/modules/messenger/resize.ts
  static/src/javascripts/projects/commercial/modules/messenger/scroll.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/send.js
  static/src/javascripts/projects/commercial/modules/messenger/send.spec.js
  static/src/javascripts/projects/commercial/modules/messenger/type.ts
  static/src/javascripts/projects/commercial/modules/messenger/viewport.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/viewport.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Labels: commercial

#25527 Add a container class name for inline merch slot
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Labels: commercial

#25528 Fix commercial e2e tests cancelling themselves
  .github/workflows/commercial-e2e.yml
Labels: commercial

#25526 Upgrade Cypress & Percy
  cypress/support/commands.ts
  package.json
  yarn.lock
Labels: commercial

#25532 Add shady pie clickthrough test
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/shady-pie-click-through.ts
Labels: commercial

#25534 Fabric parallax scroll fix
  static/src/javascripts/projects/commercial/modules/messenger/background.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25537 Capitalise test name
  static/src/javascripts/projects/common/modules/experiments/tests/shady-pie-click-through.ts
Labels: commercial

#25536 Commercial e2e GHA sets Node from DCR and Frontend's .nvmrc separately
  .github/workflows/commercial-e2e.yml
Labels: commercial
