Repository guardian/frontend, pull requests merged in 2022-01, with the labels that each got.

#24521 Refactor Prebid bidder selection
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.ts
Labels: commercial

#24529 Remove `on-slot-visibility-changed.js`
  static/src/javascripts.flow.archive/projects/commercial/modules/dfp/on-slot-visibility-changed.js
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-visibility-changed.js
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
Labels: commercial

#24530 Braze is TX’s business
  .github/CODEOWNERS
  static/src/javascripts/bootstraps/enhanced/common.js
  static/src/javascripts/projects/common/modules/commercial/braze/brazeBanner.js
  static/src/javascripts/projects/common/modules/commercial/braze/brazeBanner.spec.js
  static/src/javascripts/projects/common/modules/commercial/braze/hasCurrentBrazeUser.js
  static/src/javascripts/projects/common/modules/commercial/braze/hasCurrentBrazeUser.test.js
Labels: question

#24509 Refactor `create-slots`
  static/src/javascripts/projects/commercial/modules/article-body-adverts.js
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slot.ts
  static/src/javascripts/projects/commercial/modules/dfp/create-slots.ts
  static/src/javascripts/projects/commercial/modules/high-merch.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.js
  static/src/javascripts/projects/commercial/modules/mobile-sticky.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#24533 Extend `fetch-non-refreshable-line-items` participation to 50%
  common/app/experiments/Experiments.scala
Labels: commercial

#24542 Remove check for liveblogs when resizing adverts
  static/src/javascripts/projects/commercial/modules/messenger/resize.js
Labels: commercial

#24546 Replace 50% non-refreshable experiment with a switch
  common/app/conf/switches/CommercialSwitches.scala
  common/app/experiments/Experiments.scala
  common/app/views/support/JavaScriptPage.scala
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-render.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-viewable.ts
Labels: commercial

#24587 Place pinned icon span within the `dateBlock` template
  article/app/views/liveblog/dateBlock.scala.html
  article/app/views/liveblog/liveBlogBlock.scala.html
  static/src/stylesheets/module/content-garnett/live-blog/_live-blog.head.scss
  static/src/stylesheets/module/content/live-blog/_live-blog.head.scss
Labels: bug

#24590 Revert "Check if legacy programmatic messages are still sent to the messenger"
  static/src/javascripts/projects/commercial/modules/messenger.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#24596 Type declaration for `guardianPolyfilledImport`
  static/src/javascripts/lib/dynamic-import-init.d.ts
  static/src/javascripts/projects/common/modules/support/banner.ts
  static/src/javascripts/projects/common/modules/support/supportMessaging.ts
Labels: TypeScript
