Repository guardian/frontend, pull requests merged in 2022-08, with the labels that each got.

#25271 fix: Prevent last inline ad from pushing down content
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25318 Remove slot size mapping from data attrs
  applications/app/views/fragments/audioBody.scala.html
  applications/app/views/fragments/crosswords/crosswordContent.scala.html
  applications/app/views/fragments/gallerySlot.scala.html
  common/app/common/commercial/AdSlot.scala
  common/app/views/fragments/commercial/commercialComponent.scala.html
  common/app/views/fragments/commercial/commercialComponentHigh.scala.html
  common/app/views/fragments/commercial/pageSkin.scala.html
  common/app/views/fragments/commercial/survey.scala.html
  common/app/views/fragments/commercial/topBanner.scala.html
  common/app/views/fragments/containers/facia_cards/mostPopularContainer.scala.html
  common/app/views/fragments/items/facia_cards/sliceSlot.scala.html
  common/app/views/fragments/mostPopularPlaceholder.scala.html
  common/app/views/support/Commercial.scala
  common/test/views/support/CommercialTest.scala
  package.json
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/define-slot.ts
  static/src/javascripts/projects/commercial/modules/dfp/fill-advert-slots.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Labels: commercial

#25342 Remove page skin comment
  common/app/views/fragments/commercial/pageSkin.scala.html
Labels: commercial

#25350 Fix podcast right ad slot
  static/src/stylesheets/module/_adslot.scss
Labels: commercial

#25353 Add Percy visual testing
  cypress/e2e/snapshot-top-above-nav.cy.ts
  package.json
  yarn.lock
Labels: commercial

#25355 Add Outstream sizes to Ozone price config
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/price-config.ts
Labels: commercial

#25335 Commercial bundle dev server
  makefile
  package.json
  static/src/javascripts/bootstraps/standalone.commercial.ts
  webpack.config.commercial.dev.js
  yarn.lock
Labels: commercial

#25398 Remove FrontsSlideshowMobileSupport switch
  common/app/conf/switches/FeatureSwitches.scala
  common/app/views/fragments/items/elements/facia_cards/captionedImage.scala.html
  common/app/views/fragments/items/facia_cards/contentCard.scala.html
  common/app/views/fragments/items/facia_cards/dynamoContentCard.scala.html
  static/src/stylesheets/module/facia-garnett/_item.scss
Labels: bug

#25366 feat: deeply read in OphanApi
  common/app/services/OphanApi.scala
Labels: "in Sprint focus"

#25380 Consentless ads `0%` test
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/consentless/define-slot.ts
  static/src/javascripts/projects/commercial/modules/consentless/dynamic/article-inline.ts
  static/src/javascripts/projects/commercial/modules/consentless/init-fixed-slots.ts
  static/src/javascripts/projects/commercial/modules/consentless/prepare-ootag.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/consentlessAds.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25358 feat: add basic, do nothing, deeply read agent
  article/app/controllers/ArticleController.scala
  article/app/controllers/ArticleControllers.scala
  article/app/controllers/LiveBlogController.scala
  article/test/ArticleControllerTest.scala
  article/test/DCRFake.scala
  article/test/LiveBlogControllerTest.scala
  article/test/PublicationControllerTest.scala
  common/app/agents/DeeplyReadAgent.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
  common/test/agents/DeeplyReadAgentTest.scala
Labels: "in Sprint focus"

#25397 Update a9 ad size arrays
  package.json
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.ts
  static/src/javascripts/types/global.d.ts
  yarn.lock
Labels: commercial

#25415 fix: Remove old GU_territory cookie when new one is set.
  static/src/javascripts/projects/facia/modules/ui/au-region-selector.ts
Labels: bug

#25420 refactor: rename OnwardItem to Trail
  common/app/agents/DeeplyReadAgent.scala
  common/app/model/dotcomrendering/DotcomRenderingUtils.scala
  common/app/model/dotcomrendering/MostPopular.scala
  common/app/model/dotcomrendering/Trail.scala
  facia/app/model/OnwardItem.scala
  onward/app/controllers/MostPopularController.scala
  onward/app/controllers/PopularInTag.scala
  onward/app/controllers/RelatedController.scala
  onward/app/controllers/RichLinkController.scala
  onward/app/controllers/StoryPackageController.scala
  onward/app/models/Series.scala
Labels: "in Sprint focus"

#25426 feat: create and wireup OnwardsPicker
  article/app/agents/CuratedContentAgent.scala
  article/app/controllers/ArticleController.scala
  article/app/controllers/ArticleControllers.scala
  article/app/controllers/LiveBlogController.scala
  article/app/services/dotcomponents/OnwardsPicker.scala
  article/test/ArticleControllerTest.scala
  article/test/DCRFake.scala
  article/test/PublicationControllerTest.scala
  common/app/experiments/Experiments.scala
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
  common/app/renderers/DotcomRenderingService.scala
Labels: "in Sprint focus"

#25424 Use our own ad slot definitions and ads in opt out test
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/consentless/build-page-parameters.ts
  static/src/javascripts/projects/commercial/modules/consentless/define-slot.ts
  static/src/javascripts/projects/commercial/modules/consentless/dynamic/article-inline.ts
  static/src/javascripts/projects/commercial/modules/consentless/dynamic/liveblog-inline.ts
  static/src/javascripts/projects/commercial/modules/consentless/init-fixed-slots.ts
  static/src/javascripts/projects/commercial/modules/consentless/prepare-ootag.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25429 Add github action for commercial E2E tests
  .github/workflows/commercial-e2e.yml
  cypress/e2e/consent.cy.ts
  cypress/e2e/inline-slots.cy.ts
  cypress/e2e/merchandising-high.cy.ts
  cypress/e2e/merchandising.cy.ts
  cypress/e2e/mostpop.cy.ts
  cypress/e2e/right-slot.cy.ts
  cypress/e2e/snapshot-top-above-nav.cy.ts
  cypress/e2e/targeting.cy.ts
  cypress/e2e/top-above-nav.cy.ts
  cypress/fixtures/breakpoints.ts
  cypress/fixtures/pages/Page.ts
  cypress/fixtures/pages/articles.ts
  cypress/fixtures/pages/fronts.ts
  cypress/fixtures/pages/liveblogs.ts
  cypress/lib/util.ts
  cypress/support/e2e.ts
Labels: commercial

#25407 Refactor messenger/background and convert to typescript
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/background.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/background.spec.js
  static/src/javascripts/projects/commercial/modules/dfp/render-advert-label.ts
  static/src/javascripts/projects/commercial/modules/messenger/background.js
  static/src/javascripts/projects/commercial/modules/messenger/background.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/background.ts
  static/src/stylesheets/module/_adslot.scss
  static/src/stylesheets/module/commercial/_creatives.scss
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25442 Fix multiple ads inserted when liveblogs live update
  .github/workflows/commercial-e2e.yml
  cypress/e2e/inline-slots.cy.ts
  cypress/e2e/liveblog-live-update.cy.ts
  cypress/fixtures/pages/liveblogs.ts
  cypress/support/e2e.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/common/modules/spacefinder-debug-tools.js
  static/src/javascripts/projects/common/modules/spacefinder.ts
Labels: commercial
