Repository guardian/frontend, pull requests merged in 2022-10, with the labels that each got.

#25539 Remove commercial paidfor-band.js
  static/src/javascripts.flow.archive/projects/commercial/modules/paidfor-band.js
  static/src/javascripts.flow.archive/projects/commercial/modules/paidfor-band.spec.js
  static/src/javascripts/bootstraps/commercial-legacy.ts
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/paidfor-band.js
  static/src/javascripts/projects/commercial/modules/paidfor-band.spec.js
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25550 Add 0% ab test with an update to the Confiant SDK
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/ad-verification/prepare-ad-verification.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/confiant-sdk-update.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25544 Convert the rest of messenger/*.js modules to ts
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/get-stylesheet.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/get-stylesheet.spec.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/scroll.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/scroll.spec.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/send.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/send.spec.js
  static/src/javascripts/projects/commercial/modules/messenger/get-stylesheet.js
  static/src/javascripts/projects/commercial/modules/messenger/get-stylesheet.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/get-stylesheet.ts
  static/src/javascripts/projects/commercial/modules/messenger/scroll.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/scroll.ts
  static/src/javascripts/projects/commercial/modules/messenger/send.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/send.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25558 Use outline instead of border in spacefinder debug mode
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Labels: commercial

#25543 Add custom page targeting to Opt Out integration
  package.json
  static/src/javascripts/bootstraps/standalone.commercial.ts
  static/src/javascripts/projects/commercial/modules/consentless/build-page-parameters.ts
  static/src/javascripts/projects/commercial/modules/consentless/prepare-ootag.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Labels: commercial

#25562 Remove confiant SDK update test and make permanent
  common/app/conf/switches/ABTestSwitches.scala
  static/src/javascripts/projects/commercial/modules/ad-verification/prepare-ad-verification.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/confiant-sdk-update.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25559 Advert.ts cleanup
  static/src/javascripts/projects/commercial/modules/article-body-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-render.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-render.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/track-ad-render.ts
  static/src/javascripts/projects/common/modules/spacefinder.spec.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25564 Reduce CLS in top above nav on ads refresh
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/load-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-viewable.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/should-refresh.ts
  static/src/javascripts/projects/commercial/types.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25513 fix: Advert stickiness miscalculated after dismissing sign-in-gate
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/common/modules/spacefinder.ts
Labels: commercial

#25573 Fix ad stickiness being lost after dismissing the sign in gate
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/consentless/dynamic/article-inline.ts
  static/src/javascripts/projects/commercial/modules/sticky-inlines.ts
Labels: commercial

#25274 Integer timestamps for newsletter tracking
  common/app/templates/inlineJS/nonBlocking/emailIframeTracking.scala.js
  static/src/javascripts/bootstraps/enhanced/newsletters.js
  static/src/javascripts/projects/common/modules/tracking/utc-date-format.ts
Labels: Stale

#25583 Seperate consentless ad label code
  static/src/javascripts/projects/commercial/modules/consentless/define-slot.ts
  static/src/javascripts/projects/commercial/modules/consentless/render-advert-label.spec.ts
  static/src/javascripts/projects/commercial/modules/consentless/render-advert-label.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert-label.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25586 Upgrade DFP API to use `v202208`
  admin/app/dfp/AdUnitAgent.scala
  admin/app/dfp/ApiHelper.scala
  admin/app/dfp/CustomFieldAgent.scala
  admin/app/dfp/CustomTargetingAgent.scala
  admin/app/dfp/DataMapper.scala
  admin/app/dfp/DataValidation.scala
  admin/app/dfp/DfpApi.scala
  admin/app/dfp/PlacementAgent.scala
  admin/app/dfp/Reader.scala
  admin/app/dfp/ServicesWrapper.scala
  admin/app/dfp/SessionLogger.scala
  admin/app/dfp/SessionWrapper.scala
  admin/app/jobs/CommercialDfpReporting.scala
  admin/test/dfp/DfpApiValidationTest.scala
  admin/test/dfp/ReaderTest.scala
  project/Dependencies.scala
Labels: commercial

#25589 Exclude some folders from commercial-bundle-graph
  tools/__tasks__/commercial/graph/index.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25577 Convert `raven.js` to TypeScript
  static/src/javascripts.flow.archive/lib/__mocks__/raven.js
  static/src/javascripts.flow.archive/lib/raven.js
  static/src/javascripts/lib/__mocks__/raven.js
  static/src/javascripts/lib/__mocks__/raven.ts
  static/src/javascripts/lib/raven.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#25601 Copy commercial code out of detect.js
  dev/jest.setupTestFrameworkScriptFile.js
  static/src/javascripts/lib/detect-adblock.ts
  static/src/javascripts/lib/detect-breakpoint.spec.ts
  static/src/javascripts/lib/detect-breakpoint.ts
  static/src/javascripts/lib/detect-pushstate.ts
  static/src/javascripts/lib/detect-viewport.spec.ts
  static/src/javascripts/lib/detect-viewport.ts
  static/src/javascripts/lib/detect.js
  static/src/javascripts/lib/raven.ts
  static/src/javascripts/lib/url.ts
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/carrot-traffic-driver.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/consentless/dynamic/article-inline.ts
  static/src/javascripts/projects/commercial/modules/consentless/render-advert-label.spec.ts
  static/src/javascripts/projects/commercial/modules/creatives/page-skin.ts
  static/src/javascripts/projects/commercial/modules/dfp/Advert.ts
  static/src/javascripts/projects/commercial/modules/dfp/fill-advert-slots.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/refresh-on-resize.ts
  static/src/javascripts/projects/commercial/modules/dfp/render-advert-label.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.ts
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.spec.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25463 Add Europe to editions, navigation elements, and other areas
  admin/app/views/commercial/takeoverWithEmptyMPUsCreate.scala.html
  commercial/app/views/fragments/hostedContentsAMPMetaData.scala.html
  common/app/common/Edition.scala
  common/app/common/commercial/CommercialProperties.scala
  common/app/common/commercial/EditionAdTargeting.scala
  common/app/common/commercial/EditionBranding.scala
  common/app/common/editions/Au.scala
  common/app/common/editions/Europe.scala
  common/app/common/editions/International.scala
  common/app/common/editions/Uk.scala
  common/app/common/editions/Us.scala
  common/app/model/PressedPage.scala
  common/app/model/facia.scala
  common/app/model/package.scala
  common/app/navigation/Navigation.scala
  common/app/views/fragments/footer.scala.html
  common/app/views/fragments/metaData.scala.html
  common/app/views/fragments/nav/editionPicker.scala.html
  common/test/common/EditionTest.scala
  common/test/common/LinkToTest.scala
  facia-press/app/frontpress/FapiFrontPress.scala
  facia/app/controllers/front/Front.scala
  onward/app/feed/MostPopularAgent.scala
Labels: do-not-merge

#25452 fix(Switches): organise owners
  common/app/conf/switches/ABTestSwitches.scala
  common/app/conf/switches/CommercialSwitches.scala
  common/app/conf/switches/DiscussionSwitches.scala
  common/app/conf/switches/FaciaSwitches.scala
  common/app/conf/switches/FeatureSwitches.scala
  common/app/conf/switches/MonitoringSwitches.scala
  common/app/conf/switches/PerformanceSwitches.scala
  common/app/conf/switches/ServerSideExperimentSwitches.scala
  common/app/experiments/Experiments.scala
Labels: Health, Stale

#25609 Opt Out advertising: Remove empty slots
  static/src/javascripts/projects/commercial/modules/consentless/define-slot.ts
  static/src/javascripts/projects/commercial/modules/consentless/dynamic/article-inline.ts
  static/src/javascripts/projects/commercial/modules/consentless/dynamic/liveblog-inline.ts
  static/src/javascripts/projects/commercial/modules/consentless/init-fixed-slots.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25607 Remove all references to config lib from commercial bundle
  dev/jest.setupTestFrameworkScriptFile.js
  static/src/javascripts/bootstraps/commercial.dcr.ts
  static/src/javascripts/lib/fetch-json.spec.js
  static/src/javascripts/lib/fetch-json.ts
  static/src/javascripts/lib/geolocation.ts
  static/src/javascripts/projects/commercial/adblock-ask.spec.ts
  static/src/javascripts/projects/commercial/adblock-ask.ts
  static/src/javascripts/projects/commercial/am-i-used.spec.ts
  static/src/javascripts/projects/commercial/am-i-used.ts
  static/src/javascripts/projects/commercial/modules/article-aside-adverts.spec.ts
  static/src/javascripts/projects/commercial/modules/article-aside-adverts.ts
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/comment-adverts.ts
  static/src/javascripts/projects/commercial/modules/comscore.ts
  static/src/javascripts/projects/commercial/modules/dfp/dfp-env.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-a9.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-a9.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.ts
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/redplanet.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/a9/a9.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/appnexus.spec.js
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/appnexus.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/utils.ts
  static/src/javascripts/projects/commercial/modules/high-merch.ts
  static/src/javascripts/projects/commercial/modules/ipsos-mori.ts
  static/src/javascripts/projects/commercial/modules/third-party-tags.ts
  static/src/javascripts/projects/common/modules/analytics/google.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.spec.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
  static/src/javascripts/projects/common/modules/commercial/contributions-utilities.js
  static/src/javascripts/projects/common/modules/commercial/contributions-utilities.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.spec.ts
  static/src/javascripts/projects/common/modules/commercial/user-features.ts
  static/src/javascripts/projects/common/modules/experiments/ab-core.spec.js
  static/src/javascripts/projects/common/modules/experiments/ab-core.ts
  static/src/javascripts/projects/common/modules/experiments/ab-ophan.spec.js
  static/src/javascripts/projects/common/modules/experiments/ab-ophan.ts
  static/src/javascripts/projects/common/modules/experiments/ab-utils.ts
  static/src/javascripts/projects/common/modules/identity/api.spec.js
  static/src/javascripts/projects/common/modules/identity/api.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25611 More delicately set min height in `on-slot-viewable`
  static/src/javascripts/projects/commercial/modules/dfp/on-slot-viewable.ts
Labels: commercial

#25617 Ditch the facebook pixel
  commercial/app/views/hosted/guardianAmpHostedArticle.scala.html
  commercial/app/views/hosted/guardianAmpHostedGallery.scala.html
  commercial/app/views/hosted/guardianAmpHostedVideo.scala.html
  common/app/conf/switches/CommercialSwitches.scala
  common/app/templates/javaScriptConfig.scala.js
  common/app/views/fragments/analytics/base.scala.html
  common/app/views/support/FBPixel.scala
  static/src/javascripts/projects/commercial/modules/third-party-tags.ts
Labels: commercial

#25621 Convert `fastdom-promise.js` to TypeScript
  static/src/javascripts.flow.archive/lib/__mocks__/fastdom-promise.js
  static/src/javascripts.flow.archive/lib/fastdom-promise.js
  static/src/javascripts/lib/__mocks__/fastdom-promise.js
  static/src/javascripts/lib/__mocks__/fastdom-promise.ts
  static/src/javascripts/lib/__mocks__/fastdom.js
  static/src/javascripts/lib/__mocks__/fastdom.ts
  static/src/javascripts/lib/fastdom-promise.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#25618 Convert `user-prefs.js` to TypeScript
  static/src/javascripts.flow.archive/projects/common/modules/__mocks__/user-prefs.js
  static/src/javascripts.flow.archive/projects/common/modules/user-prefs.js
  static/src/javascripts.flow.archive/projects/common/modules/user-prefs.spec.js
  static/src/javascripts/projects/common/modules/__mocks__/user-prefs.js
  static/src/javascripts/projects/common/modules/__mocks__/user-prefs.ts
  static/src/javascripts/projects/common/modules/user-prefs.js
  static/src/javascripts/projects/common/modules/user-prefs.spec.js
  static/src/javascripts/projects/common/modules/user-prefs.spec.ts
  static/src/javascripts/projects/common/modules/user-prefs.ts
Labels: commercial, TypeScript

#25619 Fix Safari/chrome on IOS 16 interscroller glitch
  static/src/javascripts/projects/commercial/modules/messenger/background.ts
Labels: commercial

#25624 Convert `robust` to TypeScript
  static/src/javascripts.flow.archive/lib/robust.js
  static/src/javascripts.flow.archive/lib/robust.spec.js
  static/src/javascripts/lib/report-error.spec.ts
  static/src/javascripts/lib/report-error.ts
  static/src/javascripts/lib/robust.js
  static/src/javascripts/lib/robust.spec.js
  static/src/javascripts/lib/robust.spec.ts
  static/src/javascripts/lib/robust.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial
