Repository guardian/frontend, pull requests merged in 2022-03, with the labels that each got.

#24765 Pre-scala 2.13: remove lift-json
  build.sbt
  project/Dependencies.scala
Labels: scala-2.13

#24767 Pre-scala 2.13: bump enumeratum-play-json version
  project/Dependencies.scala
Labels: scala-2.13

#24734 Pre-scala 2.13: upgrade scala uri
  common/app/navigation/ReaderRevenueSite.scala
  common/app/navigation/helpers/UrlHelpers.scala
  common/app/pagepresser/HtmlCleaner.scala
  common/app/pagepresser/InteractiveHtmlCleaner.scala
  common/app/pagepresser/InteractiveImmersiveHtmlCleaner.scala
  common/app/views/fragments/atoms/youtube.scala.html
  common/test/navigation/helpers/UrlHelpersTest.scala
  discussion/app/discussion/api/DiscussionApi.scala
  identity/app/model/ReturnJourney.scala
  project/Dependencies.scala
Labels: scala-2.13

#24766 Pre-scala 2.13: bump play-json version
  project/Dependencies.scala
Labels: scala-2.13

#24775 Pre-scala 2.13: bump nscala time
  project/Dependencies.scala
Labels: scala-2.13

#24777 Pre-scala 2.13: bump json 4s native
  project/Dependencies.scala
Labels: scala-2.13

#24778 Pre-scala 2.13: bump redisclient
  project/Dependencies.scala
Labels: scala-2.13

#24724 Ad passback handler
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/messenger.ts
  static/src/javascripts/projects/commercial/modules/messenger/passback.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#24761 Remove dead blog check for liveblog rendering in DCR test
  article/app/controllers/LiveBlogController.scala
  common/app/experiments/Experiments.scala
Labels: Do not merge ⚠️

#24768 Pre-scala 2.13: inline Box
  admin/app/dfp/AdvertiserAgent.scala
  admin/app/dfp/CreativeTemplateAgent.scala
  admin/app/dfp/DataAgent.scala
  admin/app/dfp/OrderAgent.scala
  admin/app/jobs/CommercialDfpReporting.scala
  admin/app/model/abtests/AbTests.scala
  admin/app/tools/AssetMetrics.scala
  admin/app/tools/LoadBalancer.scala
  applications/app/jobs/SitemapLifecycle.scala
  build.sbt
  commercial/app/model/capi/CapiAgent.scala
  commercial/app/model/merchandise/MerchandiseAgent.scala
  commercial/app/model/merchandise/books/BookFinder.scala
  commercial/app/model/merchandise/events/LiveEventAgent.scala
  commercial/app/model/merchandise/jobs/Industries.scala
  common/app/commercial/targeting/CampaignAgent.scala
  common/app/common/Assets/DiscussionAssets.scala
  common/app/common/AutoRefresh.scala
  common/app/common/Box.scala
  common/app/common/dfp/DfpAgent.scala
  common/app/common/jobs.scala
  common/app/conf/HealthCheck.scala
  common/app/conf/switches/Switches.scala
  common/app/contentapi/SectionsLookUp.scala
  common/app/metrics/FrontendMetrics.scala
  common/app/services/ConfigAgentTrait.scala
  common/app/services/newsletters/NewsletterSignupAgent.scala
  common/app/services/ophan/SurgingContentAgent.scala
  common/test/common/BoxTest.scala
  common/test/metrics/DurationMetricTest.scala
  identity/app/jobs/TorExitNodeList.scala
  onward/app/feed/MostPopularAgent.scala
  onward/app/feed/MostReadAgent.scala
  onward/app/feed/MostViewedAudioAgent.scala
  onward/app/feed/MostViewedGalleryAgent.scala
  onward/app/feed/MostViewedVideoAgent.scala
  project/Dependencies.scala
  sport/app/cricket/jobs/CricketStatsJob.scala
  sport/app/football/feed/agent.scala
  sport/app/football/model/TeamMap.scala
  sport/app/rugby/jobs/RugbyStatsJob.scala
Labels: scala-2.13

#24776 Remove use of `data-spacefinder-component`
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Labels: commercial

#24789 Stop listening for `dcr:page:article:redisplayed`
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Labels: Do not merge ⚠️

#24792 Convert `viewport` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/resize.spec.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/viewport.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/viewport.spec.js
  static/src/javascripts/lib/detect-viewport.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/messenger.ts
  static/src/javascripts/projects/commercial/modules/messenger/scroll.js
  static/src/javascripts/projects/commercial/modules/messenger/viewport.js
  static/src/javascripts/projects/commercial/modules/messenger/viewport.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/viewport.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24806 Update Spacefinder rule for immersives
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
Labels: commercial

#24805 Pre-scala 2.13: upgrade play-googleauth
  admin/app/conf/AdminConfiguration.scala
  admin/app/conf/GoogleAuth.scala
  admin/app/controllers/admin/IndexController.scala
  admin/app/controllers/admin/OAuthLoginAdminController.scala
  admin/app/controllers/cache/ImageDecacheController.scala
  admin/app/controllers/cache/PageDecacheController.scala
  build.sbt
  common/app/common/configuration.scala
  common/app/conf/GoogleAuth.scala
  common/app/googleAuth/OAuthLoginController.scala
  preview/app/controllers/OAuthLoginPreviewController.scala
  project/Dependencies.scala
Labels: scala-2.13

#24822 Pre-Scala: Bump content-api-client-aws to 0.7
  project/Dependencies.scala
Labels: scala-2.13

#24779 Fix spacefinder in liveblogs
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.js
  static/src/javascripts/projects/commercial/modules/liveblog-adverts.spec.js
  static/src/javascripts/projects/common/modules/ui/autoupdate.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial
