Repository guardian/frontend, pull requests merged in 2022-02, with the labels that each got.

#24553 Convert `messenger.js` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger.js
  static/src/javascripts/projects/commercial/modules/messenger.js
  static/src/javascripts/projects/commercial/modules/messenger.ts
  static/src/javascripts/projects/commercial/modules/messenger/get-page-url.ts
  static/src/javascripts/projects/commercial/modules/messenger/post-message.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24597 Convert `click.js` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/click.js
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/click.spec.js
  static/src/javascripts/projects/commercial/modules/messenger/click.js
  static/src/javascripts/projects/commercial/modules/messenger/click.spec.js
  static/src/javascripts/projects/commercial/modules/messenger/click.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/click.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24598 Convert `get-page-targeting` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/get-page-targeting.js
  static/src/javascripts/projects/commercial/modules/messenger/get-page-targeting.js
  static/src/javascripts/projects/commercial/modules/messenger/get-page-targeting.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24600 Convert `type.js` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/type.js
  static/src/javascripts/projects/commercial/modules/messenger/type.js
  static/src/javascripts/projects/commercial/modules/messenger/type.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24563 Convert `disable-refresh.js` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/disable-refresh.js
  static/src/javascripts/projects/commercial/modules/messenger/disable-refresh.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24561 Convert `resize.js` to TypeScript
  static/src/javascripts.flow.archive/projects/commercial/modules/messenger/resize.js
  static/src/javascripts/projects/commercial/modules/messenger/resize.js
  static/src/javascripts/projects/commercial/modules/messenger/resize.spec.js
  static/src/javascripts/projects/commercial/modules/messenger/resize.spec.ts
  static/src/javascripts/projects/commercial/modules/messenger/resize.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24498 Fix `build-page-targeting` `onConsentChange` sequencing
  package.json
  static/src/javascripts/projects/commercial/modules/dfp/dfp-api.spec.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  static/src/javascripts/projects/commercial/modules/dfp/prepare-prebid.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/appnexus.js
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/appnexus.spec.js
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/bid-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/prebid/prebid.ts
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
  static/src/javascripts/projects/common/modules/commercial/enhanced-consent.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  yarn.lock
Labels: commercial

#24603 Convert `measure-ad-load.js` to TypeScript
  static/src/javascripts/projects/commercial/modules/messenger/measure-ad-load.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial, TypeScript

#24621 Pass consent state when setting GPT targeting
  static/src/javascripts/projects/commercial/modules/dfp/prepare-googletag.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#24613 Session, Content and Viewport targeting from commercial core
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.spec.ts
  static/src/javascripts/projects/common/modules/commercial/build-page-targeting.ts
  static/src/javascripts/types/global.d.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#24651 Press interactive: “From rainforest to your cupboard: the real story of palm oil”
  common/app/services/dotcomrendering/PressedContent.scala
Labels: Pressed :newspaper:

#24656 SPIKE: End to end commercial tests with Cypress
  cypress.json
  cypress/integration/slots.spec.js
  cypress/integration/top-above-nav.spec.js
  cypress/lib/iframe.js
  cypress/lib/util.js
  package.json
  yarn.lock
Labels: commercial

#24700 Polyfill `Promise.AllSettled`
  static/src/javascripts/polyfill.io
Labels: commercial

#24708 YouTube player - don't show ads for pages with sensitive content
  static/src/javascripts/projects/common/modules/atoms/youtube-player.ts
  static/src/javascripts/projects/common/modules/commercial/commercial-features.ts
Labels: commercial
