Repository guardian/frontend, pull requests merged in 2023-01, with the labels that each got.

#25812 Conditionally render ad close button
  static/src/javascripts/projects/commercial/modules/dfp/render-advert-label.ts
Labels: commercial

#25811 Bump commercial-core to 5.1.3
  package.json
  yarn.lock
Labels: commercial

#25825 Add 320x480 size to prebid for inline1 & inline2 on articles on mobile
  static/src/javascripts/projects/commercial/modules/article-body-adverts.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.spec.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/slot-config.ts
  static/src/javascripts/projects/commercial/modules/header-bidding/types.d.ts
Labels: commercial

#25771 Correct width/height params in DocumentBlockElement
  common/app/model/dotcomrendering/pageElements/PageElement.scala
Labels: Stale

#25760 Add Alex Ware to alumni section of humans.txt
  facia/public/humans.txt
Labels: Stale

#25792 Remove Teads cookieless test code
  static/src/javascripts/projects/commercial/modules/teads-cookieless.ts
  static/src/javascripts/projects/common/modules/experiments/ab-tests.ts
  static/src/javascripts/projects/common/modules/experiments/tests/teads-cookieless.ts
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25837 Bump com.squareup.okhttp3:okhttp to 4.10.0
  project/Dependencies.scala
Labels: dependencies, Health, vulnerabilities

#25836 Bump org.webjars:loadash to 4.17.15
  project/Dependencies.scala
Labels: dependencies, Health, vulnerabilities
