Repository guardian/frontend, pull requests merged in 2023-02, with the labels that each got.

#25889 Update targeting client and model to include optional contacts field on callouts
  common/app/model/dotcomrendering/pageElements/CalloutExtraction.scala
  common/app/model/dotcomrendering/pageElements/PageElement.scala
  common/test/model/dotcomrendering/pageElements/CalloutExtractionTest.scala
  project/Dependencies.scala
Labels: Do not merge ⚠️

#25881 Separate AMP Prebid switches
  common/app/conf/switches/CommercialSwitches.scala
Labels: commercial

#25891 Add ad slot containers
  common/app/views/fragments/commercial/adSlot.scala.html
  static/src/javascripts/projects/commercial/modules/dfp/render-advert-label.ts
  static/src/stylesheets/module/_adslot.scss
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
Labels: commercial

#25901 feat(DotcomRenderingDataModel): add `lang`, `isRightToLeftLang` attrs
  common/app/model/dotcomrendering/DotcomRenderingDataModel.scala
Labels: accessibility

#25882 Remove AMP Prebid switch
  common/app/conf/switches/CommercialSwitches.scala
Labels: commercial

#25926 Filter out ad creation error when using DuckDuckGo
  static/src/javascripts/projects/commercial/modules/dfp/create-advert.ts
Labels: commercial

#25912 Use commercial bundle from @guardian/commercial-bundle
  .github/workflows/commercial-e2e.yml
  cypress/support/commands.ts
  dev/commercial.watch.js
  dev/watch.js
  git-hooks/pre-push
  makefile
  package.json
  tools/__tasks__/commercial/compile/clean.js
  tools/__tasks__/commercial/compile/index.js
  tools/__tasks__/commercial/compile/webpack-commercial.dev.js
  tools/__tasks__/commercial/compile/webpack-commercial.js
  tools/__tasks__/commercial/graph/index.js
  tools/__tasks__/commercial/graph/output/standalone.commercial.ts.json
  tools/__tasks__/commercial/index.js
  tools/__tasks__/commercial/validate/index.js
  tools/__tasks__/commercial/validate/prettier.js
  tools/__tasks__/compile/javascript/index.dev.js
  tools/__tasks__/compile/javascript/index.js
  tools/__tasks__/compile/javascript/webpack-dcr.dev.js
  tools/__tasks__/compile/javascript/webpack-dcr.js
  webpack.config.commercial.dev.js
  webpack.config.commercial.js
  webpack.config.commercial.prod.js
  webpack.config.js
  yarn.lock
Labels: commercial

#25934 Bump the commercial bundle version
  package.json
  yarn.lock
Labels: commercial
